<div class="content-wrapper" >
    <section class="content-header">
        <h3>
            Global app settings
            <small><?php echo date(" d M Y, h:i A"); ?></small>
            <?php echo $this->flashMessenger()->render('success', array('alert alert-success')); ?>
            <?php if (!empty($success)) { ?>
                <span class="alert alert-success fade in"><?php echo $success; ?></span>
            <?php } ?>
            <?php if (!empty($error)) { ?>
                <span class="alert alert-danger fade in">
                    <?php echo $error; ?>
                </span>
            <?php } ?>
        </h3>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->

            <!-- <div class="box box-info"> -->

            <!-- /.box-header -->
            <!-- form start -->
            <?php
            $form->setAttribute('action', $this->basePath() . '/admin/globalappsetting/gappsetting');
            $form->setAttribute('class', 'form-horizontal');
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <!-- <form class="form-horizontal" method="POST" >-->
            <div class="col-md-6">
                <?php /* <div class="box box-success box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Site setup</h3>
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <label for="sitename" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('sitename')); ?>
                            </div>
                        </div>
                    </div>
                </div> */ ?>
                <div class="box box-success box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Camera setup</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="cmiphost" class="col-sm-2 control-label">IP/HOST</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('cmiphost')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cmport" class="col-sm-2 control-label">Port</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('cmport')); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cmname" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('cmname')); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cmchannel" class="col-sm-2 control-label">Channel</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('cmchannel')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cmunmae" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('cmunmae')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cmpwd" class="col-sm-2 control-label">Password</label>

                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('cmpwd')); ?>
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="cmpwd" class="col-sm-2 control-label">Streaming</label>

                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('streaming')); ?>
                            </div>
                        </div>

                    </div>
                </div>
				 <div class="box box-success box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Update Config</h3>
                    </div>
                     <div class="box-body">
                          <div class="form-group">
                            <label for="cmiphost" class="col-sm-2 control-label">URL</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('configurl')); ?>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="col-md-6">
                <div class="box box-success box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sip setup</h3>
                    </div>
                    <div style="padding: 5px 10px; background:#8A0F0F none repeat scroll 0% 0%; z-index: 999999; font-size: 20px; font-weight: 600;"><span style="color: rgba(255, 255, 255, 0.9); display: inline-block; margin-right: 10px; text-decoration: none;">Servers</span></div>
                    <div style="text-align:center; padding: 0px 0px; background:#E0E0E0 none repeat scroll 0% 0%; z-index: 999999; font-size: 20px; font-weight: 600;"><span style="color:#000000; display: inline-block; text-decoration: none;">Outbound proxy</span></div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="sipaddr" class="col-xs-4 control-label">Address</label>
                            <div class="col-sm-8">
                                <?php echo $this->formRow($form->get('sipaddr')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sipport" class="col-xs-4 control-label">Port</label>
                            <div class="col-sm-8">
                                <?php echo $this->formRow($form->get('sipport')); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="siptransport" class="col-xs-4 control-label">Transport</label>
                            <div class="col-sm-8">
                                <?php echo $this->formRow($form->get('siptransport')); ?>
                            </div>
                        </div>

                        <div style="text-align:center; padding: 1px 20px; background:#E0E0E0 none repeat scroll 0% 0%; z-index: 999999; font-size: 20px; font-weight: 600;"><span style="color:#000000; display: inline-block; text-decoration: none;">Server1</span></div>

                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="sipser1addr" class="col-xs-4 control-label">Address</label>
                            <div class="col-sm-8">
                                <?php echo $this->formRow($form->get('sipser1addr')); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sipser1port" class="col-xs-4 control-label">Port</label>
                            <div class="col-sm-8">
                                <?php echo $this->formRow($form->get('sipser1port')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sipser1transport" class="col-xs-4 control-label">Transport</label>
                            <div class="col-sm-8">
                                <?php echo $this->formRow($form->get('sipser1transport')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sipser1expires" class="col-xs-4 control-label">Expires</label>
                            <div class="col-sm-8">
                                <?php echo $this->formRow($form->get('sipser1expires')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sipser1register" class="col-xs-4 control-label">Register</label>
                            <div class="col-sm-8">
                                <?php echo $this->formRow($form->get('sipser1register')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sipser1retrytmout" class="col-xs-4 control-label">Retry Time Out</label>
                            <div class="col-sm-8">
                                <?php echo $this->formRow($form->get('sipser1retrytmout')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sipser1retrymaxct" class="col-xs-4 control-label">Retry Max Count</label>
                            <div class="col-sm-8">
                                <?php echo $this->formRow($form->get('sipser1retrymaxct')); ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sipser1lnsztmout" class="col-xs-4 control-label">Line Seize Time Out</label>
                            <div class="col-sm-8">
                                <?php echo $this->formRow($form->get('sipser1lnsztmout')); ?>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
             <div class="box-footer">
                    <div class="col-md-2 center-block">
                        <a href="<?php echo $this->url('admindashboard'); ?>" ><button type="button" class="btn btn-default">Cancel</button></a>

                        <?php echo $this->formRow($form->get('submitbutton')); ?>
                    </div>
                </div>

            <!-- /.box-footer -->
            <!--</form>-->
            <?php echo $this->form()->closeTag(); ?> 
            <!--</div>-->
            <!-- /.box -->
            <!-- general form elements disabled -->
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>
<?php
echo $this->headScript()
        ->prependFile($this->basePath('assets/js/jquery.validate.js'))
        ->prependFile($this->basePath('assets/admin/js/bootstrap.min.js'))
        ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
        ->appendFile($this->basePath('assets/admin/scripts/appsettingvalidate.js'))
;
?>
