<?php

$dtmfCaller="9510425";
$dtmf="8";
$templevel = 1;
$grouparr[$templevel]= array();
foreach ($unitObj as $key => $val) {
    $grouparr[$val['floor']][] = $val;
}
$totalOwner = $totalOwner[0]['totalmember'];
$loffset;
$stopback;
$i = $offset;
$r = 0;
$countiritation = 0;
foreach ($grouparr as $key => $val3) {
    $numrows = count($val3);
    $rearray = array_chunk($val3, 4);
    $rearray8 = array_chunk($val3, 3);
    $countiritation++;
    if (($r == 2) || ($r == 3) || ($r == 5)) {
        foreach ($rearray8 as $key => $val4) {
            echo "<div class='tilesrow rowid_$r active' id='d_$i' style='clear:both;'>";
            foreach ($val4 as $key => $val5) {
                $i++;
                $floor = $val5['floor'];
                ?>
                <div class="editable-style html-element box unitNumTile paged-element page-names" id="<?php echo 'tilenum_' . $i . '_' . $floor; ?>" data-silex-type="html">
                    <div class="silex-element-content" style="text-align: center; padding-top: 22px"> 
                        <a class="show-modal" data-toggle="modal" data-target="#modal-4" style="color: #000000; font-size: 25px; text-decoration: underline; " href="<?php echo 'callto://' . $val5['mobile']; ?>" data-rel="external" ><?php echo $val5['unit_number'] ?></a>

                    </div>
                </div>
                <?php
            }
            echo"</div>";
            $r++;
        }
    } else {
        foreach ($rearray as $key => $val4) {
            echo "<div class='tilesrow rowid_$r active' id='d_$i' style='clear:both;'>";
			$j=0;
            foreach ($val4 as $key => $val5) {
                $i++;
				$j++;
                $floor = $val5['floor'];
                if(($r == 6) || ($r == 7) || ($r == 13)){
					if($j==3){
					?> 
						<div style="display:none" class="editable-style html-element box unitNumTile paged-element page-names" id="<?php echo 'tilenum_' . $i . '_' . $floor; ?>" data-silex-type="html">
								<div class="silex-element-content" style="text-align: center; padding-top: 22px"> 
									<a class="show-modal" data-toggle="modal" data-target="#modal-4" style="color: #000000; font-size: 25px; text-decoration: underline; " href="<?php echo 'callto://' . $val5['mobile']; ?>" data-rel="external" ><?php echo $val5['unit_number'] ?></a>

								</div>
							</div>
					<?php }else{ ?>	
						<div class="editable-style html-element box unitNumTile paged-element page-names" id="<?php echo 'tilenum_' . $i . '_' . $floor; ?>" data-silex-type="html">
							<div class="silex-element-content" style="text-align: center; padding-top: 22px"> 
								<a class="show-modal" data-toggle="modal" data-target="#modal-4" style="color: #000000; font-size: 25px; text-decoration: underline; " href="<?php echo 'callto://' . $val5['mobile']; ?>" data-rel="external" ><?php echo $val5['unit_number'] ?></a>

							</div>
						</div>
				<?php }}else{ ?>
				<div class="editable-style html-element box unitNumTile paged-element page-names" id="<?php echo 'tilenum_' . $i . '_' . $floor; ?>" data-silex-type="html">
                    <div class="silex-element-content" style="text-align: center; padding-top: 22px"> 
                        <a class="show-modal" data-toggle="modal" data-target="#modal-4" style="color: #000000; font-size: 25px; text-decoration: underline; " href="<?php echo 'callto://' . $val5['mobile']; ?>" data-rel="external" ><?php echo $val5['unit_number'] ?></a>

                    </div>
                </div>	
				<?php } 
            }
            echo"</div>";
            $r++;
        }
    }
    //echo  $countiritation;
}
?>

<div style="position: absolute; left:800px; top:1600px;" >
    <div class="morenames silex-id-1475107238924-1" style="position:realtive">
        <img class="silex-element-content" src="<?php echo BASE_URL; ?>/assets/morenumber.png">
        <?php if ($offset != 0) { ?>
            <a class="backwardArrow" href="javascript:void(0);" onClick="lessunits(<?php echo "'" . $loffset . "'"; ?>)" >
                <img class="silex-element-content" src="<?php echo BASE_URL; ?>/assets/backward.png"></a>
        <?php } ?>

        <?php if ($i < $totalOwner) { ?>
            <a class="forwardArrow" href="javascript:void(0);" onClick="moreunits(<?php echo "'" . $loffset . "'"; ?>)" >
                <img class="silex-element-content" src="<?php echo BASE_URL; ?>/assets/forward.png"></a>
        <?php echo $i.' t '.$totalOwner;} ?>
    </div>
</div>
<script type="text/javascript">
	// Dial Windopw
    $(".show-modal").click(function (event) {
            event.preventDefault();
            var extension = $(this).attr("href").split('://');
            var ext = extension[1];
            $('.hangup').attr('href', 'callto://hangup/8675310');
            
            $.ajax({
                method: "POST",
                url: '<?=BASE_URL?>/index/pushnotification',
                data: {
                    'extension': ext
                }
            })
			$("#modal-4").modal({
                backdrop: 'static',
                keyboard: false,
                show: false
            });
			// callnew(5000,$(this).attr("href"));
			callnew(5000,ext);
    });
	
	//call delay
	var calltmreset;
        function callnew(starttime,url) {       
            
            clearTimeout(calltmreset);
            calltmreset = setTimeout(function () {
            var endtime_min = "<?php echo $endtime; ?>";
            var endtime = endtime_min * 1000;
            // var url = $(this).attr("href");
            // dialwindow = window.open(url, '_blank');
			callApi(url, "call");
			$("#modal-4").modal('hide');  
            $("#modal-1").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });
            hangupnew(endtime);
         
	}, starttime);
             
   }

      // cal hangup
       
        function hangupnew(endtym) {       
            var endtime;
            endtime = endtym;
            clearTimeout(calltmreset);
            calltmreset = setTimeout(function () {
                // dialwindow.close();            
                $("#modal-1").modal('hide');  
                 $("#modal-3").modal({
					backdrop: 'static',
					keyboard: false,
					show: true
				});
                hangingUpModalNew(3000);
            }, endtime);
             
        }
        
        // function for closing hanging up modal    
        function hangingUpModalNew(hangtym) {
            clearTimeout(calltmreset);
            var url = $('.hangup').attr('href'); 
				callApi(0, "end");
            // hangupwindow = window.open(url, '_blank');
            setTimeout(function () {
                // hangupwindow.close();
                $('#modal-3').modal('hide');
            }, hangtym);           
        }
        
        // Call endcall
        $(".modal_first a").click(function () {          
            clearTimeout(calltmreset);
            var endtime = 500;
            hangupnew(endtime);
        });
		
		function callApi(ext, type) {
        var url="";
        var qs="";

        if(type=="call") {
            url="<?= ASTERIK_URL ?>api/make_call.php";
            qs="phonenumber="+getUrlParam('callingextension','8675311')+"&caller="+ext;
        } else if(type=="end") {
            url="<?= ASTERIK_URL ?>api/hangup.php";
            qs="extension="+getUrlParam('callingextension','8675311');
        } else if(type=="dtmf") {
            url="<?= ASTERIK_URL ?>api/make_call_conf.php";
            qs="phonenumber="+getUrlParam('callingextension','8675311')+"&caller=<?= $dtmfCaller ?>&dtmf=<?= $dtmf ?>";
        }else return false;

        $.ajax({
            type: "GET",
            url: url,
            data: qs,
            success: function(data) {
                return data;
            }
        });
    }
	
	function getUrlParam(parameter, defaultvalue){
    var urlparameter = defaultvalue;
		if(window.location.href.indexOf(parameter) > -1){
			urlparameter = getUrlVars()[parameter];
			}
		return urlparameter;
	}
	function getUrlVars() {
		var vars = {};
		var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
			vars[key] = value;
		});
		return vars;
	}
</script>