<?php
$dtmfCaller="9510425";
$dtmf="8";
$i = $offset;
foreach ($ownerObj as $key => $value) {
    $i++;
    ?>
    <div class="editable-style html-element box paged-element page-names spg" id="<?php echo 'tilenum_' . $i; ?>" data-silex-type="html">
        <div class="silex-element-content" style="padding-top:12px">
            <center>
                <div class="tilescontent">
                    <a class="show-modal"  data-toggle="modal" data-target="#modal-4" href="<?php echo 'callto://' . $value['mobile']; ?>" data-rel="external" ><?php echo $value['first_name'] ?></a></div>
                <div class="tilescontent">
                    <a class="show-modal" data-toggle="modal" data-target="#modal-4" href="<?php echo 'callto://' . $value['mobile']; ?>" data-rel="external" ><?php echo $value['last_name']; ?></a></div></center>

        </div>
    </div>
<?php }
?>
<!-- MOre Image start -->
<?php if ($i > 41) { ?>
    <div style="position: absolute; bottom: 160px; right: 67px;" >
        <div class="morenames silex-id-1475107238924-1" style="position:realtive">
            <img class="silex-element-content" src="<?php echo BASE_URL; ?>/assets/newmore.png">
            <?php if ($offset != 0) { ?>
                <a class="backwardArrow" href="javascript:void(0);" onClick="namesearchless(<?php echo $i; ?>)" >
                    <img class="silex-element-content" src="<?php echo BASE_URL; ?>/assets/backward.png"></a>
            <?php } ?> 
            <?php if ($i < $totalsearch) { ?>
                <a class="forwardArrow" href="javascript:void(0);" onClick="namesearchmore(<?php echo $i; ?>)" >
                    <img class="silex-element-content" src="<?php echo BASE_URL; ?>/assets/forward.png"></a>
                <?php } ?>
        </div>
    </div>
<?php } ?>
<script type="text/javascript">
	// Dial Windopw
    $(".show-modal").click(function (event) {
            event.preventDefault();
            var extension = $(this).attr("href").split('://');
            var ext = extension[1];
            $('.hangup').attr('href', 'callto://hangup/8675310');
            
            $.ajax({
                method: "POST",
                url: '<?=BASE_URL?>/index/pushnotification',
                data: {
                    'extension': ext
                }
            })
			$("#modal-4").modal({
                backdrop: 'static',
                keyboard: false,
                show: false
            });
			// callnew(5000,$(this).attr("href"));
			callnew(5000,ext);
    });
	
	//call delay
	var calltmreset;
        function callnew(starttime,url) {       
            
            clearTimeout(calltmreset);
            calltmreset = setTimeout(function () {
            var endtime_min = "<?php echo $endtime; ?>";
            var endtime = endtime_min * 1000;
            // var url = $(this).attr("href");
            // dialwindow = window.open(url, '_blank');
			callApi(url, "call");
			$("#modal-4").modal('hide');  
            $("#modal-1").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });
            hangupnew(endtime);
         
	}, starttime);
             
   }

      // cal hangup
       
        function hangupnew(endtym) {       
            var endtime;
            endtime = endtym;
            clearTimeout(calltmreset);
            calltmreset = setTimeout(function () {
                // dialwindow.close();            
                $("#modal-1").modal('hide');  
                 $("#modal-3").modal({
					backdrop: 'static',
					keyboard: false,
					show: true
				});
                hangingUpModalNew(3000);
            }, endtime);
             
        }
        
        // function for closing hanging up modal    
        function hangingUpModalNew(hangtym) {
            clearTimeout(calltmreset);
            var url = $('.hangup').attr('href'); 
				callApi(0, "end");
            // hangupwindow = window.open(url, '_blank');
            setTimeout(function () {
                // hangupwindow.close();
                $('#modal-3').modal('hide');
            }, hangtym);           
        }
        
        // Call endcall
        $(".modal_first a").click(function () {          
            clearTimeout(calltmreset);
            var endtime = 500;
            hangupnew(endtime);
        });
		
		function callApi(ext, type) {
        var url="";
        var qs="";

        if(type=="call") {
            url="<?= ASTERIK_URL ?>api/make_call.php";
            qs="phonenumber="+getUrlParam('callingextension','8675311')+"&caller="+ext;
        } else if(type=="end") {
            url="<?= ASTERIK_URL ?>api/hangup.php";
            qs="extension="+getUrlParam('callingextension','8675311');
        }else if(type=="dtmf") {
            url="<?= ASTERIK_URL ?>api/make_call_conf.php";
            qs="phonenumber="+getUrlParam('callingextension','8675311')+"&caller=<?= $dtmfCaller ?>&dtmf=<?= $dtmf ?>";
        } else return false;

        $.ajax({
            type: "GET",
            url: url,
            data: qs,
            success: function(data) {
                return data;
            }
        });
    }
	
	function getUrlParam(parameter, defaultvalue){
    var urlparameter = defaultvalue;
		if(window.location.href.indexOf(parameter) > -1){
			urlparameter = getUrlVars()[parameter];
			}
		return urlparameter;
	}
	function getUrlVars() {
		var vars = {};
		var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
			vars[key] = value;
		});
		return vars;
	}
</script>
