<aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
<!--                       <div class="pull-left image">
                           <img src="<?php echo $this->basePath();?>/assets/admin/images/GD Logo.jpg" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p><a href="<?php echo $this->url('adminprofile'); ?>">Grand Ducos</a></p>
                            <a href="<?php echo $this->url('adminprofile'); ?>"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>-->
                    </div>
                    <!-- search form -->
                  
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                       <!-- <li class="header">MAIN NAVIGATION</li>-->
                        <li class="active treeview">
                            <a href="<?php echo $this->url('admindashboard') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Name List</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="active treeview">
                            <a href="<?php echo $this->url('blindusers') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Blind Users</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="active treeview">
                            <a href="<?php echo $this->url('timeprofiles') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Time Profiles</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="active treeview">
                            <a href="<?php echo $this->url('accesscodes') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Access Codes</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <?php if(@$userType==1 || @$userType==3){ ; ?>
                        <li class="active treeview">
                            <a href="<?php echo $this->url('time') ; ?>">
                                <i class="fa fa-clock-o"></i> <span>End Call Time</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="active treeview">
                            <a href="<?php echo $this->url('gappsetting') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Global app settings</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <?php } ?>
                         <?php if(@$userType==1){ ; ?>
                         <li class="active treeview">
                            <a href="<?php echo $this->url('userlimit') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Userlimit</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li> 
                         <?php } ?>  
                        <?php if(@$userType==1 || @$userType==3){ ; ?>                                               
                        <li class="active treeview">
                            <a href="<?php echo $this->url('subadminlists') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Sub admin lists</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="active treeview">
                            <a href="<?php echo $this->url('dbbackup') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Data Backup</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <li class="active treeview">
                            <a href="<?php echo $this->url('asterikrestore') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Restore Phone System</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                        <?php } ?>
                        <!--  <li class="active treeview">
                            <a href="<?php echo $this->url('gappsettingn') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Global app settingsn</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li> -->

                        <li class="active treeview">
                            <a href="<?php echo $this->url('screensaver') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Screen Saver</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>

                        <li class="active treeview">
                            <a href="<?php echo $this->url('inbounds') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Inbound Route</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>

                        <li class="active treeview">
                            <a href="<?php echo $this->url('outbounds') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Outbound Route</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>

                        <li class="active treeview">
                            <a href="<?php echo $this->url('trunks') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Trunks</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>

                        <li class="active treeview">
                            <a href="<?php echo $this->url('calldetails') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Call Logs</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>

                        <li class="active treeview">
                            <a href="<?php echo $this->url('chansippeers') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Chan Sip Peers</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>

                        <li class="active treeview">
                            <a href="<?php echo $this->url('chansipchannels') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Chan Sip Channels</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>

                        <li class="active treeview">
                            <a href="<?php echo $this->url('chansipregistry') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Chan Sip Registry</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>

                        <li class="active treeview">
                            <a href="<?php echo $this->url('iax2peers') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>IAX2 Peers</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>

                        <li class="active treeview">
                            <a href="<?php echo $this->url('uptime') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Uptime</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>

                        <li class="active treeview">
                            <a href="<?php echo $this->url('firewall') ; ?>">
                                <i class="fa fa-list-alt"></i> <span>Firewall</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                        </li>
                      
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
