<?php echo $this->doctype(); ?>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 lt-ie10"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 lt-ie10"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><?php echo $pageTitle; ?></title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
          <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <!-- Ionicons -->
  <!--<link rel="stylesheet" href="/assets/css/ionicons.min.css">-->
        <?php echo $this->headLink()
                ->prependStylesheet($this->basePath('assets/bootstrap/css/bootstrap.min.css'))
                ->prependStylesheet($this->basePath('assets/admin/dist/css/AdminLTE.min.css'))
                ->prependStylesheet($this->basePath('/assets/admin/dist/css/AdminLTE.css'))
                ->prependStylesheet($this->basePath('assets/admin/dist/css/skins/_all-skins.min.css'))
                ->prependStylesheet($this->basePath('plugins/iCheck/flat/blue.css'))
                ->prependStylesheet($this->basePath('plugins/morris/morris.css'))
                ->prependStylesheet($this->basePath('plugins/jvectormap/jquery-jvectormap-1.2.2.css'))
//                ->prependStylesheet($this->basePath('plugins/datepicker/datepicker3.css'))
                ->prependStylesheet($this->basePath('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css'))
                ->prependStylesheet($this->basePath('plugins/daterangepicker/daterangepicker.css'))
                ->prependStylesheet($this->basePath('plugins/daterangepicker/daterangepicker.css'));
        ?>
    </head>
   
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>G</b>D</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Grand Dunes</b></span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="<?php echo $this->basePath();?>/assets/admin/images/GD Logo.jpg" class="user-image" alt="User Image">
                                    <span class="hidden-xs">GD</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="<?php echo $this->basePath();?>/assets/admin/images/GD Logo.jpg" class="img-circle" alt="User Image">
                                        <p>
                                            <?php echo $firstname ; ?>
                                            <small>Admin</small>
                                        </p>
                                    </li>
                                    
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="<?php echo $this->url('adminprofile'); ?>" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="<?php echo $this->url('adminlogout'); ?>" class="btn btn-default btn-flat">Logout</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                           <!-- <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>-->
                        </ul>
                    </div>
                </nav>
            </header>
            
            
            <!-- Left side column. contains the logo and sidebar -->
            <!-- sidebar insert here _sidebar.phtml -->
            <?php echo $this->partial('layout/_sidebar'); ?>
            <?php echo $this->content; ?>
            <!-- Content Wrapper. Contains page content -->
            
            <!-- /.content-wrapper -->
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 4.6.121
                </div>
                <strong>Copyright &copy; 2016-<?php echo date('Y'); ?> <a href="">Grand Dunes</a>.</strong> All rights
                reserved.
            </footer>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
               
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane" id="control-sidebar-home-tab">
                        
           

                    </div>
                    
                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
        <!-- ./wrapper -->

    </body>

        <?php
        echo $this->headScript()
                ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
                ->appendFile($this->basePath('assets/bootstrap/js/bootstrap.min.js'))
                ->appendFile($this->basePath('plugins/morris/morris.min.js'))
                ->appendFile($this->basePath('plugins/sparkline/jquery.sparkline.min.js'))
                ->appendFile($this->basePath('plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'))
                ->appendFile($this->basePath('plugins/jvectormap/jquery-jvectormap-world-mill-en.js'))
                ->appendFile($this->basePath('plugins/knob/jquery.knob.js'))
                //->appendFile($this->basePath('plugins/daterangepicker/daterangepicker.js'))
                ->appendFile($this->basePath('plugins/datepicker/bootstrap-datepicker.js'))
                ->appendFile($this->basePath('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js'))
                ->appendFile($this->basePath('plugins/slimScroll/jquery.slimscroll.min.js'))
                ->appendFile($this->basePath('plugins/fastclick/fastclick.js'))
                ->appendFile($this->basePath('assets/admin/dist/js/app.min.js'))
                //->appendFile($this->basePath('assets/admin/dist/js/pages/dashboard.js'))
                ->appendFile($this->basePath('assets/admin/dist/js/demo.js'))
                
        ;
        ?>
    <script>
    var FULL_URL_PATH = '<?php echo $this->url('home',array(),array('force_canonical' => true));?>';
    </script>
		<script src="/assets/admin/js/jquery-ui.min.js"></script>
		<script src="/assets/admin/js/raphael-min.js"></script>
		<script src="/assets/admin/js/moment.min.js"></script>
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
        
        
        <?php 
          if (strpos($this->serverUrl(true), 'timeprofiles/add-new') !== false || strpos($this->serverUrl(true), 'timeprofiles/edit/id') !== false) {
        ?>
        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
        <script>
            jQuery(document).ready(function($){
                $('.time_profile_config input.timepicker').timepicker({ timeFormat: 'HH:mm' ,
                                                                        change: function(time) {
                                                                            // the input field
                                                                            var element = $(this), text;
                                                                            // get access to this Timepicker instance
                                                                            var timepicker = element.timepicker();
                                                                            element.next().val(timepicker.format(time));
                                                                        }
                                                                    });
            });
        </script>          
        <?php } ?>
        
        
        <?php 
//          if (strpos($this->serverUrl(true), 'accesscodes/add-new') !== false) {
        ?>
<!--		<script src="/js/datepicker.js"></script>
                <script> 
                    $.fn.datepicker.language['en'] = {
                        days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                        daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                        daysMin: ['S', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                        months: ['January','February','March','April','May','June', 'July','August','September','October','November','December'],
                        monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                        today: 'Today',
                        clear: 'Clear',
                        dateFormat: 'yyyy-mm-dd',
                        timeFormat: 'hh:ii',
                        firstDay: 0
                    };
                    let datepickerConfig = {
                                                    minDate: new Date(),
                                                    inline: true,
                                                    timepicker: true,
                                                    language:'en',
                                                    inline:false
                                                };
                    if($("#type").val()==2){ datepickerConfig.multipleDates =  true;  }
                    $('#access_time').datepicker(datepickerConfig);
                        
                    function onTypeChange(el){                          
                            if($(el).val()==2){ datepickerConfig.multipleDates =  true;  }
                            $('#access_time').datepicker(datepickerConfig);
                        }
                </script>-->
          <?php // } ?>
</html>
