<?php echo $this->doctype(); ?>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 lt-ie10"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 lt-ie10"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Grand Dunes | Admin</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.6 -->
        <?php
        echo $this->headLink()
                ->prependStylesheet($this->basePath('/assets/admin/styles/bootstrap.min.css'))
                ->prependStylesheet($this->basePath('/assets/admin/dist/css/AdminLTE.css'))
                ->prependStylesheet($this->basePath('/plugins/iCheck/square/blue.css'));
        ?>

        <!-- Font Awesome -->
                  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	  <!-- Ionicons -->
	 <!-- <link rel="stylesheet" href="/assets/css/ionicons.min.css">-->
    </head>
	<?php echo $this->content; ?>
</html>

