<style type="text/css">
.dnone {display: none;}
</style>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            <small><?php echo date(" d M Y, h:i A"); ?></small>
            <?php echo $this->flashMessenger()->render('success', array('alert alert-success')); ?>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>

        </ol>
    </section>

    <section class="content">
        <div class="col-xs-12"><div class="box box-info">
            <div class="box-header with-border">             
                 <p class="lead">
                 Restore Phone System
                </p>
            </div>
           <section id="download">
  <div class="row">
    <div class="col-sm-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Recreate the entire existing user’s extension in Phone System in case of a restore of corrupted Phone System.</h3>
          <span class="label label-primary pull-right"><i class="fa fa-database"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body" style="position: relative">
         <!--  <p>Export latest gd database sql files.</p> -->
<!--          <a href="" class="btn btn-primary" onClick="exportFile()"><i class="fa fa-download"></i> </a>-->
          <button class="btn btn-primary" onclick="restoreAsterisk();"><i class="fa fa-refresh">&nbsp; &nbsp;</i>Restore Users</button>
          <div class="ajax-loader" style="position: absolute;top: 12px;left: 186px; display:none;">
          <img src="<?php echo $this->basePath();?>/img/ajax-loader.gif" class="img-responsive" />
        </div>
         <div id="success-msg" style="position: absolute;top: 12px;left: 186px; background: green; padding: 4px 18px; color:white;">
        </div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->

  </div>
</section>
          </div>
          </div>
          </section>


<section class="content inbounds">
  <div class="col-sm-4"><div class="box box-info">
    <div class="box-header with-border">             
      <p class="lead">
        Restore Trunks
      </p>
    </div>
    <section id="download">
      <div class="row">
        <div class="col-sm-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Recreate the entire existing trunks in Phone System in case of a restore of corrupted Phone System.</h3>
              <span class="label label-primary pull-right"><i class="fa fa-database"></i></span>
            </div><!-- /.box-header -->
            <div class="box-body trunks" style="position: relative">
              <button class="btn btn-primary" onclick="restoreRoutes(3);"><i class="fa fa-refresh">&nbsp; &nbsp;</i>Restore Trunks</button>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
    </section>
    </div>
  </div>
    <div class="col-sm-4"><div class="box box-info">
    <div class="box-header with-border">             
      <p class="lead">
        Restore Inbound Routes
      </p>
    </div>
    <section id="download">
      <div class="row">
        <div class="col-sm-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Recreate the entire existing inbound routes in Phone System in case of a restore of corrupted Phone System.</h3>
              <span class="label label-primary pull-right"><i class="fa fa-database"></i></span>
            </div><!-- /.box-header -->
            <div class="box-body inbounds" style="position: relative">
              <button class="btn btn-primary" onclick="restoreRoutes(1);"><i class="fa fa-refresh">&nbsp; &nbsp;</i>Restore Inbounds</button>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
    </section>
    </div>
  </div>

  <div class="col-sm-4"><div class="box box-info">
    <div class="box-header with-border">             
      <p class="lead">
        Restore Outbound Routes
      </p>
    </div>
    <section id="download">
      <div class="row">
        <div class="col-sm-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Recreate the entire existing outbound routes in Phone System in case of a restore of corrupted Phone System.</h3>
              <span class="label label-primary pull-right"><i class="fa fa-database"></i></span>
            </div><!-- /.box-header -->
            <div class="box-body outbounds" style="position: relative">
              <button class="btn btn-primary" onclick="restoreRoutes(2);"><i class="fa fa-refresh">&nbsp; &nbsp;</i>Restore Outbounds</button>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div><!-- /.col -->
    </section>
    </div>
  </div>
</section>



          </div>
 <?php
    echo $this->headScript()
            ->prependFile($this->basePath('assets/js/jquery.validate.js'))
            ->prependFile($this->basePath('assets/admin/js/bootstrap.min.js'))
            ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
            
;
    ?>

<div id="modalFrame"></div>

<script type="text/javascript">
$(document).ready(function(){
  $('#success-msg').hide();
  $('.ajax-loader').hide();
});


function restoreAsterisk() {
   $.ajax({
            url: "<?php echo $this->url('asterikrestore', array('action' => 'restore')); ?>",
            type: 'POST',
            // async: false,
            beforeSend: function(){
              $('.ajax-loader').show();
            },
            success: function (data) {   
                if (data.status === 200) {
                    $('.ajax-loader').hide();
                    $('#success-msg').show().html('<span>'+data.message+'</span>');
                }
            }

        });
}

function restoreRoutes(type) {
    var title="";
    var uri="";

    if(type==1) {
      title="Inbounds";
      uri="/admin/inbounds-restore";
    } else if(type==2) {
      title="Outbounds";
      uri="/admin/outbounds-restore";
    } else if(type==3) {
      title="Trunks";
      uri="/admin/trunks-restore";
    } else return;

    $("button").attr("disabled", "disabled");

    $("#modalFrame").html("\
        <div class='modal fade' id='restoreModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Restoring "+title+", please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='restoreModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='restoreModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */
    var confirmMessage="Are you sure you want to restore the "+title+"?";
    var confirmm=confirm(confirmMessage);
    if(confirmm) {
        $('#restoreModal').modal({
            backdrop: 'static'
        });
    } else $("button").removeAttr("disabled");
    
    $('#restoreModal').on('shown.bs.modal', function (e) {
        $.post(uri,{status:"ok"},function(d) {
            console.log(d);

            if(d.status!=200) {
                $("#restoreModalBody").html(d.message);
                $("#restoreModalFooter").removeClass("dnone");
                $("button").removeAttr("disabled");
            }
            else {
                $("#restoreModalBody").html(d.message);
                $("#restoreModalFooter").removeClass("dnone");
                $("button").removeAttr("disabled");
            }
            
        });
    });
}
</script>

