html{
	overflow:hidden;
}
        .body-initial {
            background-color: #000; 
        }
        .background-initial {
            left: 150px; 
            top: 0px; 
            width: 1000px; 
            height: 1790px; 
            overflow:hidden !important;
            background-color: rgba(0,0,0,1); 
            
        }
.background{overflow-x:hidden}
	
        .tilen{
            float: left;
	    min-height: 93px;
	    width: 118px;
	    top: 10px;
	    left: 20px;
	    background-color: rgb(255, 255, 255);
	    border-radius: 10px 10px 10px 10px;
	    margin-right: 5px;
	    margin-bottom: 5px;
        }
	.page-names{display:inline-block!important;}
        /*.box{
		float: left;
	    min-height: 93px;
	    width: 118px;
	    top: 10px;
	    left: 15px;
	    background-color: rgb(255, 255, 255);
	    border-radius: 10px 10px 10px 10px;
	    margin:5px;
	}
        */
        .box {
		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		display: inline-flex!important;
		float: left;
		left: 15px;
		min-height: 100px;
		margin-right: 5px;
		margin-bottom: 5px;
		position: inherit;
		top: 10px;
		width: 200px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
        .silex-id-1471752190842-0 {
            min-height: 150px; 
            width: 330px; 
            top: 510px; 
            left: 410px; 
        }
        
        /*.silex-id-1475103742846-373 {
            min-height: 180px; 
            width: 115px; 
            top: 215px; 
            left: 1020px;
            clear: both;
        }*/
        .silex-id-1475103742846-373 {
					min-height: 140px;
					width: 100px;
					top: 689px;
   					left: 855px;
					clear: both;
				   }
        .silex-id-1475107138831-0 {
            min-height: 120px; 
            width: 120px; 
            top: 505px; 
            left: 1015px; 
        }
          .silex-id-1475107238924-1 {
        
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 93px;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 118px;
}
.slist{
    color: white;
width: 1000px;
text-align: center;
padding: 30px;
font-weight: bold; 
display:none;
    background-color: #000;

}    
.slist a{
color: white;
margin-right: 10px;
font-size: 24px;
border-bottom: 1px solid white;
text-decoration: none;
}


.forwardArrow{
    display: block;
    bottom: 0;
    right: 5px;
    z-index: 9999;
    position: absolute;
}
.backwardArrow{
    display: block;
    bottom: 0;
    left: 5px;
    z-index: 9999;
    position: absolute;
}
.forwardArrow img{
    width:50px;
    height:30px;
}
.backwardArrow img{
    width:50px;
    height:30px;
}

/*.srchName {
    background-color: rgb(255, 255, 255);
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    left: 15px;
    margin-top: 18px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    bottom: 0px;
    margin-bottom:20px;
}*/

.srchName {
    /*background-color: rgb(255, 255, 255);*/
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    left: 15px;
    margin-top: 18px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    bottom: 5px;
}
.srchName  img{
    width: auto;
    height: auto;
}
#portraitRtnHome{
    position: absolute;
    left: -500px;
    top: 30px;
    z-index: 1;
}

#unitHome{
	position: absolute;
	left: -985px;
	top: 110px;
	z-index: 1;
}
#portraitUnitHome {
    position: absolute;
    left: -785px;
    top: 110px;
	z-index: 1;
}







.modal-body{
text-align: center;
font-size: 50px;
padding: 50px;
background-color: red;
}
.custom-btn{
    font-size: 40px;
background-color: transparent;
color: white;
}
.custom-more{
	position: absolute; 
	left:800px; 
	top:1600px;"
}
	
.modal-body a{
    color:#fff;
    text-decoration:none;
    font-weight: bold;
}
.modal-dialog {
    margin: 18% auto !important;
}

.backhome{
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    left: 150px;
    margin-top: 18px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    bottom: 25px;
}
.searchActive{
    color:#0068B3 !important;
    border-bottom: 1px solid #0068B3!important;
}

.slist a:hover{
    color:#0068B3 !important;
    border-bottom: 1px solid #0068B3!important;
}
.tilescontent{
    white-space: nowrap;
    width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tilescontent a{
    color: #000000;
    font-size: 28px;
    text-decoration: underline;
}
.gd-logo{
width: 165px;
float: right; 
position: absolute; 
height: 65px; 
bottom: 0px; 
right: 20px;
margin-bottom:20px;
}
.more-names-control{
    position: absolute;
    left: 800px;
    top: 1600px;
}
