<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style type="text/css">
#fof{display:block; width:100%; padding:150px 0; line-height:1.6em; text-align:center;}
#fof .hgroup{display:block; width:80%; margin:0 auto; padding:0;}
#fof .hgroup h1, #fof .hgroup h2{margin:0 0 0 40px; padding:0; float:left; text-transform:uppercase;}
#fof .hgroup h1{margin-top:-90px; font-size:200px;}
#fof .hgroup h2{font-size:60px;}
#fof .hgroup h2 span{display:block; font-size:30px;}
#fof p{margin:25px 0 0 0; padding:0; font-size:16px;}
#fof p:first-child{margin-top:0;}
.clear {clear:both;}
</style>

<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="fof" class="clear">
      <div class="hgroup clear">
        <h1>404</h1>
        <h2>Error ! <span>Page Not Found</span></h2>
      </div>
    </section>
	<section id="fof" class="clear" style="padding: 0px; text-align: left; padding-left: 50px;">
      <div class="hgroup clear">
        For Some Reason The Page You Requested Could Not Be Found On Our Server
      </div>
    </section>
  </div>
</div>