<?php
$usageTypes=array("1"=>"Single", "2"=>"Multiple");
?>

<style type="text/css">
.dnone {display: none;}
</style>

<div class="content-wrapper">
<div class="box">

    <div class="content" style="min-height: inherit;">
        <div class="row" style="border-bottom: 1px solid #eee; margin-bottom: 20px;">
          <div class="box-header col-xs-4">
            <h3 style="font-size: 16px; font-weight: 600;">
                Access Code Logs
            </h3>
          </div>

          <div class="col-xs-8" align="right" style="margin-top: 20px;">
            <a href="/admin/accesscodes" class='btn btn-primary' role="button">
                Access Codes
            </a>
          </div>
        </div>
        <div class="row">
            <div class="box-header">
                <button class="btn btn-lg btn-success" id="exportButton" onclick="exportAccessLogs()">
                    <i class="fa fa-download"></i>&nbsp;
                    <span>Export</span>
                </button>
            </div>
        </div>
    </div>

  <!-- /.box-header -->
  <div class="clearfix"></div>

  <div class="box-body">

<?php
echo $this->flashMessenger()
->setMessageOpenFormat('<div%s><p>')
->setMessageSeparatorString('</p><p>')
->setMessageCloseString('</p></div>')
->render('success', array('alert alert-success alert-dismissible'));
?>
      
<div class="">
    <div class="pull-right">
    <label>From Date:<input name="min" id="min" type="text" class="form-control input-sm"></label>
    <label>To Date:<input name="max" id="max" type="text" class="form-control input-sm"></label>    
    </div>  
    <div class="clearfix"></div>
<table id="thisDataTable" class="table table-bordered table-striped" style="white-space: nowrap; width: 100%;">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Owner (Phone)</th>
            <th>Access Code</th>
            <th>Access Type</th>
            <th>Issued By</th>
            <th>Date Used</th>
        </tr>
    </thead>
    <tbody>
        <?php
        $i=1;
        foreach($records as $k=>$data) {
            $accessId=$data['access_id'];
            ?>
            <tr id="row<?= $i ?>">
                <td><?= $i ?></td>
                <td><?= $data['owner_name']." (".$data['owner_mobile'].")" ?></td>
                <td><?= $data['access_code'] ?></td>
                <td><?= $usageTypes[$data['usage_type']] ?></td>
                <td><?= $data['admin_id'] ? "Admin" : "Owner" ?></td>
                <td><?= $data['date_added'] ?></td>
                <!-- <td class="waitLoader">
                    <a href="/admin/owner/edit/<?= $subId ?>" class="btn btn-app" id="edit" alt="Edit" title="Click here to edit"> <i class="fa fa-edit"></i>Edit</a>

                    <a class="btn btn-app" id="delBut" alt="Delete" title="Delete" href="javascript:void(0);" onclick="deleteOwner(<?= $subId ?>)"> <i class="fa fa-trash"></i>Delete</a>
                </td> -->
            </tr>
            <?php
            $i++;
        }
        unset($i);
        ?>
    </tbody>
</table>
</div>


  </div>
  <!-- /.box-body -->

</div>
</div>




<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<?php 
echo $this->headScript()         
->prependFile($this->basePath() . '/assets/datatables/media/js/dataTables.bootstrap.js', 'text/javascript')
->prependFile($this->basePath() . '/assets/datatables/media/js/jquery.dataTables.js', 'text/javascript')
->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
;
?>

<?php echo $this->headLink()         
->appendStylesheet($this->basePath() . '/assets/datatables/media/css/dataTables.bootstrap.css')
->appendStylesheet($this->basePath() . '/assets/datatables/media/css/jquery.dataTables.css');
?>

<div id="modalFrame"></div>

<script type="text/javascript">
    
$(document).ready(function(){
        $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = $('#min').datepicker("getDate");
            var max = $('#max').datepicker("getDate");
            var startDate = new Date(data[5]);
            if (min == null && max == null) { return true; }
            if (min == null && startDate <= max) { return true;}
            if(max == null && startDate >= min) {return true;}
            if (startDate <= max && startDate >= min) { return true; }
            return false;
        }
        );

       
            $("#min").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            $("#max").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            var table = $('#thisDataTable').DataTable();

            // Event listener to the two range filtering inputs to redraw on input
            $('#min, #max').change(function () {
                table.draw();
            });
        });
 /*       
jQuery(function($) {
    // inbound table
    var table=$('#thisDataTable').DataTable( {
        "bFilter": true,
        "paging":   true,
        "ordering": false,
        "info":     false,
    });

});
*/
function exportAccessLogs() {
    $("#modalFrame").html("\
        <div class='modal fade' id='exportAccessLogsModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Exporting, Please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='exportAccessLogsModalBody'>\
                        <span>Generating File...</span>&nbsp;&nbsp;\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='exportAccessLogsModalLoader'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='exportAccessLogsModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    $('#exportAccessLogsModal').modal({
        backdrop: 'static'
    });

    $('#exportAccessLogsModal').on('shown.bs.modal', function (e) {
        var uri="/admin/accesscodes/export-access-logs";
        $.post(uri,{},function(d) {
            console.log(d);

            if(d.status!=200) {
                $("#exportAccessLogsModalBody").html(d.message);
                $("#exportAccessLogsModalFooter").removeClass("dnone");
            }
            else {
                $("#exportAccessLogsModalBody").html("Download Started... <iframe style='display:none;' src='"+d.response+"'></iframe>");

                setTimeout(function() {
                        $('#exportAccessLogsModal').modal("hide");
                    }, 3000
                );

            }

        });
    });
}


function deleteOwner(userId) {
    $("#modalFrame").html("\
        <div class='modal fade' id='deleteModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Deleting please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='deleteModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='deleteModalLoader'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='deleteModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    var confirmMessage="Are you sure you want to remove the blind user?";

    var confirmm=confirm(confirmMessage);
    if(confirmm) {
        $('#deleteModal').modal({
            backdrop: 'static'
        });
    }

    $('#deleteModal').on('shown.bs.modal', function (e) {
        var uri="/admin/owner/delete/"+userId;
        $.post(uri,{id:userId},function(d) {
            console.log(d);
            
            if(d!="1") {
                $("#deleteModalBody").html("Some error occured, please try again.");
                $("#deleteModalFooter").removeClass("dnone");
            }
            else {
                window.location.reload();
            }

        });
    });
}

// $('#thisDataTable').on("click", "button", function(){
//   console.log($(this).parent());
//   table.row($(this).parents('tr')).remove().draw(false);
// });
</script>