<div class="content-wrapper">
  <section class="content-header">
    <h1>
      <small><?php echo date(" d M Y, h:i A"); ?></small>
      <?php echo $this->flashMessenger()->render('success', array('alert alert-success')); ?>
    </h1>
    <ol class="breadcrumb">
      <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
  </section>

  <section class="content">
    <div class="col-xs-12"><div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Access Code Limit Per User</h3>
      </div>

      <div class="box-body" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="clendtm">Max Limit</label>
          <div class="col-sm-9">
            <input type="text" id="maxLimit" class="form-control" value="<?= $limit ?>" />
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <div class="col-md-12 center-block">
          <button class="btn btn-primary" onclick="updateLimit()">Update</button>
        </div>
      </div>
      <!-- /.box-footer -->

      </div>
    </div>
  </section>
</div>


<div id="modalFrame"></div>

<script type="text/javascript">
function updateLimit() {
    $("#modalFrame").html("\
        <div class='modal fade' id='updateModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='updateModalTitle'>Updating please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='updateModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='updateModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    $('#updateModal').modal({
        backdrop: 'static'
    });

    $('#updateModal').on('shown.bs.modal', function (e) {
        var limit=$("#maxLimit").val();
        if(!limit || limit<1) {
          $("#updateModalTitle").html("Error");
          $("#updateModalBody").html("Enter the value greater than 1");
          $("#updateModalFooter").removeClass("dnone");
          return;
        }

        var uri="/admin/accesscodes/update-limit";
        $.post(uri,{limit:limit},function(d) {
            console.log(d);

            if(d.status!=200) {
                $("#updateModalTitle").html("Error");
                $("#updateModalBody").html(d.message);
                $("#updateModalFooter").removeClass("dnone");
            }
            else {
                $("#updateModalTitle").html("Success");
                $("#updateModalBody").html(d.message);
                window.location.reload();
            }
            
        });
    });
}
</script>