<?php

?>

<div class="content-wrapper">
    <section class="content-header">
        <h3>
            New Access Code
        </h3>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
     <!-- Bulk Upload user section -->
	 <!-- Bulk Upload user section ends-->

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Add New</h3>
                </div>

                <form method="POST" class="form-horizontal" autocomplete="off">
                <div class="box-body">

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Flat Owner</label>
                        <div class="col-sm-8">
                            <select id='owner' class='form-control'>
                                <option value="">Select</option>
                                <?php
                                foreach($flatOwners as $owner) {
                                    $oid=$owner['id'];
                                    echo "<option value='$oid'>".$owner['first_name']." (".$owner['mobile'].")</option>";
                                }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Access Type</label>
                        <div class="col-sm-8">
                            <select id='type' class='form-control' onchange="onTypeChange(this)">
                                <option value='1'>Single Time</option>
                                <option value='2'>Multiple Times</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Access Time Profile</label>
                        <div class="col-sm-8">
                           <!--<input class="form-control" id="access_time"/>-->
                            <select id='access_time' class='form-control'>
                                <option value='0'>Select Time Profile</option>
                                <?php
                                foreach($timeProfiles as $timeProfile){                               
                                  echo  "<option value='".$timeProfile["time_profile_id"]."'>".$timeProfile["time_profile_name"]."</option>";
                                 } ?>
                            </select>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <label  class="col-sm-2 control-label">Access Code</label>
                        <div class="col-sm-8">
                            <input type="text" id="code" class="form-control" placeholder="Access Code" />
                        </div>
                    </div> -->

                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="button" class="btn btn-primary" onclick="addCode()">
                                Add Code
                            </button>
                        </div>
                    </div>
                    
                </div>
                </form>
                <!-- /.box-footer -->
            </div>
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>

<div id="modalFrame"></div>


<link rel="stylesheet" href="/css/datepicker.css"/>

<script type="text/javascript">
     
        
function addCode() {
    $("#modalFrame").html("\
        <div class='modal fade' id='addModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='addModalTitle'>Adding please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='addModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='addModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    $('#addModal').modal({
        backdrop: 'static'
    });

    $('#addModal').on('shown.bs.modal', function (e) {
        var owner=$("#owner").val();
        var type=$("#type").val();
//      var accessDateTime = $('#access_time').datepicker().data('datepicker').$el.context.value;
        var accessDateTime = $('#access_time').val();
        
        // var code=$("#code").val();

        if(!owner || !type || !accessDateTime) {
          $("#addModalTitle").html("Error");
          $("#addModalBody").html("All fields are required");
          $("#addModalFooter").removeClass("dnone");
          return;
        }

        var uri="/admin/accesscodes/save-code";
        $.post(uri,{owner:owner, type:type, accessDateTime:accessDateTime},function(d) {
            console.log(d);
            if(d.status!=200) {
                $("#addModalTitle").html("Error");
                $("#addModalBody").html(d.message);
                $("#addModalFooter").removeClass("dnone");
            }
            else {
                $("#addModalTitle").html("Success");
                $("#addModalBody").html(d.message);
                window.location.href="/admin/accesscodes";
            }
            
        });
    });
}
                               
</script>