<?php
$usageTypes=array("1"=>"Single", "2"=>"Multiple");
?>

<style type="text/css">
.dnone {display: none;}
</style>

<div class="content-wrapper">
<div class="box">

    <div class="content" style="min-height: inherit;">
        <div class="row" style="border-bottom: 1px solid #eee; margin-bottom: 20px;">
          <div class="box-header col-xs-4">
            <h3 style="font-size: 16px; font-weight: 600;">
                Access Codes
            </h3>
          </div>

          <div class="col-xs-8" align="right" style="margin-top: 20px;">
            <a href="/admin/accesscodes/add-new" class='btn btn-primary' role="button">
                Add New Code
            </a>&nbsp;
            <a href="/admin/accesscodes/access-limits" class='btn btn-warning' role="button">
                Update Code Limit
            </a>
            <a href="/admin/accesscodes/access-logs" class='btn btn-info' role="button">
                Code Logs
            </a>
            <a href="/admin/accesscodes/access-code-config" class="btn btn-success" role="button">
                Update Access Code Button Config
            </a>
          </div>
        </div>
    </div>

  <!-- /.box-header -->
  <div class="clearfix"></div>

  <div class="box-body">

<?php
echo $this->flashMessenger()
->setMessageOpenFormat('<div%s><p>')
->setMessageSeparatorString('</p><p>')
->setMessageCloseString('</p></div>')
->render('success', array('alert alert-success alert-dismissible'));
?>

<div class="">
<table id="thisDataTable" class="table table-bordered table-striped" style="white-space: nowrap; width: 100%;">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Owner (Phone)</th>
            <th>Access Code</th>
            <th>Access Type</th>
            <th>Access Time Profile</th>
            <th>Times Used</th>
            <th>Issued By</th>
            <th>Date Added</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <?php
        $i=1;
        foreach($records as $k=>$data) {
            $accessId=$data['access_id'];
            ?>
            <tr id="row<?= $i ?>">
                <td><?= $i ?></td>
                <td><?= $data['first_name']." (".$data['mobile'].")" ?></td>
                <td><?= $data['access_code'] ?></td>
                <td><?= $usageTypes[$data['usage_type']] ?></td>
                <td class="text-center"> <?= $data['time_profile_name'] ; ?></td>
                <td><?= $data['times_used'] ?></td>
                <td><?= $data['admin_id'] ? "Admin" : "Owner" ?></td>
                <td><?= $data['date_added'] ?></td>
                <td class="waitLoader">
                    <a class="btn btn-app" id="delBut" alt="Delete" title="Click here to delete" href="javascript:void(0);" data-value="<?= $accessId ?>"> <i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
            <?php
            $i++;
        }
        unset($i);
        ?>
    </tbody>
</table>
</div>


  </div>
  <!-- /.box-body -->

</div>
</div>

<div id="modalFrame"></div>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<?php 
echo $this->headScript()         
->prependFile($this->basePath() . '/assets/datatables/media/js/dataTables.bootstrap.js', 'text/javascript')
->prependFile($this->basePath() . '/assets/datatables/media/js/jquery.dataTables.js', 'text/javascript')
->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
;
?>

<?php echo $this->headLink()         
->appendStylesheet($this->basePath() . '/assets/datatables/media/css/dataTables.bootstrap.css')
->appendStylesheet($this->basePath() . '/assets/datatables/media/css/jquery.dataTables.css');
?>

<div id="modalFrame"></div>

<script type="text/javascript">
jQuery(function($) {
    // inbound table
    var table=$('#thisDataTable').DataTable( {
        "bFilter": true,
        "paging":   true,
        "ordering": false,
        "info":     false,
        "scrollX": true,
    });

    $('#thisDataTable').on("click", "#delBut", function(){
        var row=$(this);
        var accessId=$(this).attr("data-value");
        var response=deleteCode(accessId, function(d) {
            if(d="success") {
                table.row(row.parents('tr')).remove().draw(false);
            }
        });
    });

});

function deleteCode(accessId, callback) {
    $("#modalFrame").html("\
        <div class='modal fade' id='deleteModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Deleting please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='deleteModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='deleteModalLoader'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='deleteModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    var confirmMessage="Are you sure you want to remove the access code?";

    var confirmm=confirm(confirmMessage);
    if(confirmm) {
        $('#deleteModal').modal({
            backdrop: 'static'
        });
    }

    $('#deleteModal').on('shown.bs.modal', function (e) {
        var uri="/admin/accesscodes/delete";
        $.post(uri,{id:accessId},function(d) {
            console.log(d);
            
            if(d.status!=200) {
                $("#deleteModalBody").html(d.message);
                $("#deleteModalFooter").removeClass("dnone");
                callback("fail");
            }
            else {
                $("#deleteModalBody").html("Data Deleted!");
                $('#deleteModal').modal("hide");
                callback("success");
            }
        });
    });
}

// $('#thisDataTable').on("click", "button", function(){
//   console.log($(this).parent());
//   table.row($(this).parents('tr')).remove().draw(false);
// });
</script>