<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Add Subadmin</h3>
                    <span style="display:none; padding: 19px 23px;" class="alert alert-success" ></span>
                </div>
                    <?php if (!empty($error)) { ?>
                            <div class="alert alert-danger fade in">
                                <?php echo $error; ?>
                            </div>
                    <?php } ?>
                    <?php
                    ///admin/profile
                    $idd = $this->profileid;
                    $form->setAttribute('action', $this->basePath() . '/admin/subadmin/add');
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="fname" class="col-sm-2 control-label">First Name</label>

                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('firstname')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lname" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('lastname')); ?>
                            </div>
                        </div>                       
                        <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label">Mobile</label>

                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('mobile')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('email')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('pwd')); ?>
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="usertype" class="col-sm-2 control-label">User Type</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('usertype')); ?>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="gender" class="col-sm-2 control-label" >Gender</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('gender')); ?>
                            </div>
                        </div>

                        
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-md-2 center-block">
                        <a href="<?php echo $this->url('admindashboard'); ?>" ><button type="button" class="btn btn-default">Cancel</button></a>
                        <!-- <input type="Submit" id="editprofile" class="btn btn-info pull-right" 
                               value="Save">   -->
                         <?php echo $this->formRow($form->get('submitbutton')); ?>
                        </div>  
                    </div>
                   
                    <!-- /.box-footer -->
                    <!--</form>-->
                    <?php echo $this->form()->closeTag(); ?> 
                    
                </div>
            </div>
        </div>
    </section>
</div> 
<?php
echo $this->headScript()
        ->prependFile($this->basePath('assets/js/jquery.validate.js'))
        ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
        ->appendFile($this->basePath('assets/admin/scripts/subadminvalidate.js'))
;
?>
<script type="text/javascript">
    // $(document).ready(function () {
    //     $('#submitbutton').hide();
    // });
    // function edit() {
    //     $("input[type=text]").removeAttr('disabled');
    //     $('#editprofile').hide();
    //     $('#submitbutton').show();

    // }
</script>
