 <div class="content-wrapper">
 <div class="box">
             <div class="box-header with-border col-xs-6">
              <h3 class="box-title" style="padding: 20px 30px; background: rgb(60, 141, 188); font-size: 16px; font-weight: 600; color: #FFF; ">List Of Sub admins</h3>
            </div>
             <?php if($this->usertype == 1) { ?>
                <div class="col-xs-6" align="right">
                    <a href="<?php echo $this->url('addsubadmin'); ?>"><i class="fa fa-user-plus fa-3x" aria-hidden="true"></a></i><p>Add Subadmin</p>
                 </div>
                 <?php } ?>
            <!-- /.box-header -->
           <div class="clearfix"></div>
               <?php echo $this->flashMessenger()
            ->setMessageOpenFormat('<div%s><p>')
            ->setMessageSeparatorString('</p><p>')
            ->setMessageCloseString('</p></div>')
            ->render('success', array('alert alert-success alert-dismissible'));
             ?>
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Mobile</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
               
                <?php 
                if(!empty($lists)){                  
                foreach($lists as $key => $val){
                  $id = $val['id'];
                  $deleteUrl = '<a class="btn btn-app" id="del_' . $id . '" alt="Delete" title="Click here to delete this user" href="javascript:void(0);" onClick="deletesbadmin(' . $id . ')"> <i class="fa fa-trash"></i>Delete</a>';
                ?>
                <tr>
                  <td><?php echo $val['firstName'] .' '. $val['lastName']; ?></td>
                  <td><?php echo $val['email']; ?></td>
                   <td><?php if($val['userType'] == 2){ echo 'Sub admin';} elseif($val['userType'] == 3){ echo 'Vendor'; }?></td>
                  <td><?php echo $val['phone']; ?></td>
                  <td><?php echo $deleteUrl; ?></td>
                </tr>
                 <?php } } else{ ?> <tr><td colspan="4" align="center"><?php echo "No Subadmin added yet."?></td></tr> <?php } ?>
                </tbody>
              <!--   <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Mobile</th>
                  <th>Username</th>
                  <th>Action</th>
                </tr>
                </tfoot> -->
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          </div>
          <div id="dialog-confirm" title="Confirm Deletion" style="display:none;">
              <p><span class="ui-icon ui-icon-alert" style="float:left; margin:2px 12px 20px 0;"></span>Are you sure want to delete ?</p>
</div>
          
         <div id="dialog-confirm-change" title="Confirm Status Change" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:2px 12px 20px 0;"></span>
                Are you sure want to change status?</p>
          </div>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
          <?php 
echo $this->headScript()         
           ->prependFile($this->basePath() . '/assets/datatables/media/js/dataTables.bootstrap.js', 'text/javascript')
           ->prependFile($this->basePath() . '/assets/datatables/media/js/jquery.dataTables.js', 'text/javascript')
           ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
           ;
?>

<?php echo $this->headLink()         
          ->appendStylesheet($this->basePath() . '/assets/datatables/media/css/dataTables.bootstrap.css')
          ->appendStylesheet($this->basePath() . '/assets/datatables/media/css/jquery.dataTables.css');
?>
          <script type="text/javascript">
function deletesbadmin(id){
    $( "#dialog-confirm" ).dialog({
        resizable: true,
        modal: true,
        height: "auto",
        width: 400,
        buttons: {
            "Yes": function() {
                    $( this ).dialog( "close" );
                    var URL = FULL_URL_PATH + 'admin/subadmin/delete/'+ id;
                    $.ajax({
                        method: "GET",
                        url: URL
                      })
                        .done(function( result ) {                                        
                            if(result == 1){
                                var target_row = $('#del_'+id).closest("tr").get(0);
                                $(target_row).hide();                                
                                // var oTable = $('#flatownerlisting').dataTable();
                                // oTable.fnDeleteRow(oTable.fnGetPosition(target_row));
                                // $('.alert-success').html("User has been deleted successfully!");
                                // $('.alert-success').show();             
                            }                                      
                       });      
            },
            "No": function() {
                    $( this ).dialog( "close" );
            }
        }
    });
}
</script>
