
        .body-initial {
            background-color: rgb(38, 38, 38); 
        }
        .background-initial {
            left: 150px; 
            top: 0px; 
            width: 1146px; 
            min-height: 675px; 
            background-color: rgba(0,0,0,1); 
        }
        .tiles {
            min-height: 93px; 
            width: 118px; 
            top: 10px; 
            left: 15px; 
            background-color: rgb(255, 255, 255); 
            border-radius: 10px 10px 10px 10px ; 
        }
       
    