<div class="content-wrapper">
    <section class="content-header">
        <h1>
            <small><?php echo date(" d M Y, h:i A"); ?></small>
            <?php echo $this->flashMessenger()->render('success', array('alert alert-success')); ?>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>

        </ol>
    </section>

    <section class="content">
        <div class="col-xs-12"><div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Change password</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
            <!-- <form class="form-horizontal" action="" method="post" name="endtime" id="endtime"> -->
             <?php
                $form->setAttribute('action', $this->basePath() . '');
                $form->setAttribute('class', 'form-horizontal');
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="clendtm">Old Password</label>
                  <div class="col-sm-8">
                      <?php echo $this->formRow($form->get('oldpass')); ?>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="clendtm">New Password</label>
                  <div class="col-sm-8">
                      <?php echo $this->formRow($form->get('newpass')); ?>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="clendtm">Confirm Nw password</label>
                  <div class="col-sm-8">
                     <?php echo $this->formRow($form->get('cnfpass')); ?>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                  <div class="col-md-12 center-block">
                 <a href="<?php echo $this->url('admindashboard'); ?>" ><button type="button" class="btn btn-default">Cancel</button></a>
                <button class="btn btn-info" type="submit">Update</button>
                </div>
              </div>
              <!-- /.box-footer -->
           <!--  </form> -->
            <?php echo $this->form()->closeTag(); ?> 
          </div>
          </div>
          </section>
          </div>
 <?php
    echo $this->headScript()
            ->prependFile($this->basePath('assets/js/jquery.validate.js'))
            ->prependFile($this->basePath('assets/admin/js/bootstrap.min.js'))
            ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
            
;
    ?>
<script type="text/javascript">
$(document).ready(function () {
    $("#endtime").validate({
        errorClass: 'validation-error',
        rules: {
            'clendtm': {
                required: true,
                htmltags: true,
                number: true                
            }
        },
        messages: {
            'clendtm': {
                required: "Please enter end time",
                htmltags: "HTML Tags are not allowed",
                number: "Time should be in digit"
            }
        },
        submitHandler: function (form) {
            form.submit();
            return true;
        }
    });
});
jQuery.validator.addMethod("htmltags", function checkHTMLTags(value, element, params) {
    if (value.match(/([\<])([^\>]{1,})*([\>])/i) == null) {
        return true;
    } else {
        return false;
    }
});
</script>

