<?php
$pageTitle="New Name";
@$ownerType=@trim($_GET['t']);
if($ownerType=="pm") $pageTitle="Property Management";
if($ownerType=="pd") $pageTitle="Package Delivery";
if($ownerType=="sub") $pageTitle="Blind User";

$name1="First Name";
$name2="Last Name";
if($ownerType=="pm" || $ownerType=="pd") {
    $name1="Company 1";
    $name2="Company 2";
}
?>
<div class="content-wrapper">
    <section class="content-header">
        <h3>
            Add <?= $pageTitle ?>
            <small><?php echo date(" d M Y, h:i A"); ?></small>
            <?php echo $this->flashMessenger()->render('success', array('alert alert-success')); ?>
            <?php if (!empty($success)) { ?>
                <div class="alert alert-success fade in"><?php echo $success; ?></div>
            <?php } ?>
            <?php if (!empty($error)) { ?>
                <div class="alert alert-danger fade in">
                    <?php echo $error; ?>
                </div>
            <?php } ?>
        </h3>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
     <!-- Bulk Upload user section -->
    <?php if($pageTitle=="New Name") { ?>
    <section class="content">
        <div class="col-xs-12">
            <div id = "myDiv" style="display:none"><img id ="myImage" src = "<?php echo $this->basePath();?>/img/ajax-loader.gif"></div><br>
            <section id="download">
              <div class="row">
                <div class="col-sm-12">
      			<div class="box box-primary">
		        <div class="box-header with-border">
		          <h3 class="box-title">Add multiple user in bulk</h3>
		          <span class="label label-primary pull-right"><i class="fa fa-user"></i></span>
		        </div>
		        <div class="box-body">
		          <div><p>Please upload prescribed CSV file of user with required data to create users</b></p></div>
			          <form class="form-horizontal" enctype="multipart/form-data" action="<?php echo $this->url('importcsv'); ?>" method="post" name="endtime" id="endtime"><input type="file" id="myFile" name="myFile"/>	
			   			 <button class="btn btn-primary" id="import" type="submit"><i class="fa fa-upload"></i>Upload</button>
			          </form>
			          <?php $csv = BASE_URL .''. SAMPLECSVFILE ; ?>
			        <a href="<?php echo $csv; ?>" class="btn btn-primary pull-right"><i class="fa fa-download"></i>Download Sample CSV File</a>
		        </div>
	      		</div>
			    </div>
		    </div>
    		</section>
	    </div>
	</section>
    <?php } ?>
	<!-- Bulk Upload user section ends-->

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Add New</h3>
                </div>
                <?php
                //$form->setAttribute('action', $this->basePath() . "/admin/owner/add?t=$ownerType");
                $form->setAttribute('class', 'form-horizontal');
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>
                <div class="box-body">
                    <div class="form-group">
                        <label for="fname" class="col-sm-2 control-label"><?= $name1 ?></label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('fname')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lnmae" class="col-sm-2 control-label"><?= $name2 ?></label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('lname')); ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="unitNum" class="col-sm-2 control-label">Unit Number</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('unitNum')); ?>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-2 control-label" >Floor</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('floor')); ?>
                        </div>
                    </div>                         
                    <div class="form-group">
                        <label for="extension" class="col-sm-2 control-label">Extention</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('extension')); ?>
                        </div>
                    </div>
                    <!-- new fields added on 9th Jan, 2017-->

                    <?php if($ownerType=="sub") { ?>
                    <div class="form-group" id="followmed1" style="display: none;">
                        <label for="followme1" class="col-sm-2 control-label">Follow Me 1</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme1')); ?>
                        </div>
                    </div>
                    <?php } ?>

                    <?php if($ownerType!="sub") { ?>
                    <div class="form-group" id="followmed1">
                        <label for="followme1" class="col-sm-2 control-label">Follow Me 1</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme1')); ?>
                        </div>
                    </div>

                    <div class="form-group" id="followmed2">
                        <label for="followme2" class="col-sm-2 control-label">Follow Me 2</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme2')); ?>
                        </div>
                    </div>

                    <div class="form-group" id="followmed3">
                        <label for="followme3" class="col-sm-2 control-label">Follow Me 3</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme3')); ?>
                        </div>
                    </div>

                    <div class="form-group" id="followmed4">
                        <label for="followme4" class="col-sm-2 control-label">Follow Me 4</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme4')); ?>
                        </div>
                    </div>

                    <div class="form-group" id="followmed5">
                        <label for="followme5" class="col-sm-2 control-label">Follow Me 5</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme5')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ring Type</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('ring_type')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmcall" class="col-sm-2 control-label">Confirm Calls</label>
                        <div class="col-sm-9 icheckbox_flat-green checked">
                            <?php echo $this->formRow($form->get('confirmcall')); ?>&nbsp;&nbsp;<span>Confirm calls box must be checked, if Collective Ringing is selected.</span>
                        </div>
                    </div>
                    <?php } ?>

                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('email')); ?>
                        </div>
                    </div>

                    <?php /*
                    <div class="form-group">
                        <label for="voicemail" class="col-sm-2 control-label">Voice Mail</label>
                        <div class="col-sm-9 icheckbox_flat-green checked">
                            <?php echo $this->formRow($form->get('voicemail')); ?>&nbsp;&nbsp;<span>Checked to turn voicemail on for this resident.</span>
                        </div>
                    </div>
                    */ ?>

                    <?php /* <div class="form-group">
                        <label for="createsipuser" class="col-sm-2 control-label">Create SIP User</label>
                        <div class="col-sm-9 icheckbox_flat-green">
                            <?php echo $this->formRow($form->get('createsipuser')); ?>&nbsp;&nbsp;<span>Creates SIP user in Asterisk</span>
                        </div>
                    </div> */ ?>                  

                    <div class="form-group" id="sipusrnm">
                        <label for="sipusername" class="col-sm-2 control-label">Sip Username</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('sipusername')); ?>
                        </div>
                    </div>

                    <div class="form-group" id="sipusrpass">
                        <label for="sippassword" class="col-sm-2 control-label">Sip Password</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('sippassword')); ?>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label for="cameraonly" class="col-sm-2 control-label">Camera Only</label>
                        <div class="col-sm-9 icheckbox_flat-green checked">
                            <?php echo $this->formRow($form->get('cameraonly')); ?>&nbsp;&nbsp;<span>This will enable the app download code to only download the camera settings and ignore the SIP settings.</span>
                        </div>
                    </div>

                    <?php /* <div class="form-group" id="sipusrextnum">
                        <label for="sipextentionnum" class="col-sm-2 control-label">SIP Extention number</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('sipextentionnum')); ?>
                        </div>
                    </div> */ ?>

                    <!-- this auto generated OTP field -->
                    <div class="form-group">
                        <label for="sipdownloadcode" class="col-sm-2 control-label">SIP Download Code</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('sipdownloadcode')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lockedtodevice" class="col-sm-2 control-label">Locked to decide</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('lockedtodevice')); ?>
                        </div>
                    </div>



                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-md-2 center-block">
                        <a href="<?php echo $this->url('admindashboard'); ?>" ><button type="button" class="btn btn-default">Cancel</button></a>

                        <?php echo $this->formRow($form->get('submitbutton')); ?>
                    </div>
                </div>
                <!-- /.box-footer -->
                <!-- </form>-->
                <?php echo $this->form()->closeTag(); ?> 
            </div>
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>
<?php
echo $this->headScript()
        ->prependFile($this->basePath('assets/js/jquery.validate.js'))
        ->prependFile($this->basePath('assets/admin/js/bootstrap.min.js'))
        ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
        ->appendFile($this->basePath('assets/admin/scripts/addnewvalidate.js'))
;
?>
<script type="text/javascript">
    $(document).ready(function () {
       // $("#followmed2").hide();
       // $("#followmed3").hide();
       // $("#followmed4").hide();
       // $("#sipusrextnum").hide();     
       
        // generate extension
        $.ajax({
            url: '<?php echo $this->url('generateextension'); ?>',
            //type: 'POST',           
           // async: false,
            success: function (ext) { 
                if (ext.status === "success") {
		var extension = ext.extension + 100 + 1;
                    $("#extension").val(extension);
                    $("#followme1").val(extension);
                    $("#sipusername").val(extension);
                    
                     var followme1 = $('#followme1').val();         
			 if(followme1 !==''){
			 	$("#followmed2").show();
			 }
                }
            }
        });

        // genertae OTP for first time
        $.ajax({
            url: '<?php echo $this->url('generateotp'); ?>',
            type: 'POST',
          // async: false,
            success: function (data) {
                if (data.status === "success") {
                    $("#sipdownloadcode").val(data.OTP);
                }
            }

        });
        
        
         // genertae OTP for first time
        $.ajax({
            url: '<?php echo $this->url('createsipuser'); ?>',
            type: 'POST',
          // async: false,
            success: function (data) {
                if (data.status === "success") {
                    $("#sippassword").val(data.password);
                }
            }

        });
        
        // Follow me check
 //        $( "#followme1" ).keyup(function() {
	// var followme1 = $('#followme1').val();         
	// 	 if(followme1 !==''){
	// 	 	$("#followmed2").show();
	// 	 } else {
	// 	 	$("#followmed2").hide();
	// 	 }
	// });
        
        // follow me 
	// $( "#followme2" ).keyup(function() {
	// var followme2 = $('#followme2').val();         
	// 	 if(followme2 !==''){
	// 	 	$("#followmed3").show();
	// 	 } else {
	// 	 	$("#followmed3").hide();
	// 	 }
	// });

    // follow me 
    // $( "#followme3" ).keyup(function() {
    // var followme3 = $('#followme3').val();         
    //      if(followme3 !==''){
    //         $("#followmed4").show();
    //      } else {
    //         $("#followmed4").hide();
    //      }
    // });
      
    });

</script>
