<style type="text/css">
.dnone {display: none;}
</style>

<div class="content-wrapper">
<div class="box">

  <div class="box-header col-xs-6">
    <h3 style="font-size: 16px; font-weight: 600;">
        Blind Users
    </h3>
  </div>

  <div class="col-xs-6" align="right" style="margin-top: 20px;">
    <!-- <button class='btn btn-primary' onclick="syncData()">
        <i class='fa fa-retweet'></i>
        Sync
    </button>
    &nbsp; &nbsp; -->
  </div>

  <!-- /.box-header -->
  <div class="clearfix"></div>

  <div class="box-body">

<?php
echo $this->flashMessenger()
->setMessageOpenFormat('<div%s><p>')
->setMessageSeparatorString('</p><p>')
->setMessageCloseString('</p></div>')
->render('success', array('alert alert-success alert-dismissible'));
?>

<div class="">
<table id="thisDataTable" class="table table-bordered table-striped" style="white-space: nowrap; width: 100%;">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Parent (Phone)</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Unit Number</th>
            <th>Floor</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <?php
        $i=1;
        foreach($users as $k=>$data) {
            $subId=$data['id'];
            ?>
            <tr id="row<?= $i ?>">
                <td><?= $i ?></td>
                <td><?= $data['p_first_name']." (".$data['p_mobile'].")" ?></td>
                <td><?= $data['first_name'] ?></td>
                <td><?= $data['last_name'] ?></td>
                <td><?= $data['unit_number'] ?></td>
                <td><?= $data['floor'] ?></td>
                <td><?= $data['mobile'] ?></td>
                <td class="waitLoader">
                    <!-- <a href="/admin/owner/edit/<?= $subId ?>" class="btn btn-app" id="edit" alt="Edit" title="Click here to edit"> <i class="fa fa-edit"></i>Edit</a> -->

                    <a class="btn btn-app" id="delBut" alt="Delete" title="Delete" href="javascript:void(0);" onclick="deleteOwner(<?= $subId ?>)"> <i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
            <?php
            $i++;
        }
        unset($i);
        ?>
    </tbody>
</table>
</div>


  </div>
  <!-- /.box-body -->

</div>
</div>




<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<?php 
echo $this->headScript()         
->prependFile($this->basePath() . '/assets/datatables/media/js/dataTables.bootstrap.js', 'text/javascript')
->prependFile($this->basePath() . '/assets/datatables/media/js/jquery.dataTables.js', 'text/javascript')
->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
;
?>

<?php echo $this->headLink()         
->appendStylesheet($this->basePath() . '/assets/datatables/media/css/dataTables.bootstrap.css')
->appendStylesheet($this->basePath() . '/assets/datatables/media/css/jquery.dataTables.css');
?>

<div id="modalFrame"></div>

<script type="text/javascript">
jQuery(function($) {
    // inbound table
    var table=$('#thisDataTable').DataTable( {
        "bFilter": true,
        "paging":   true,
        "ordering": false,
        "info":     false,
    });

});

function deleteOwner(userId) {
    $("#modalFrame").html("\
        <div class='modal fade' id='deleteModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Deleting please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='deleteModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='deleteModalLoader'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='deleteModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    var confirmMessage="Are you sure you want to remove the blind user?";

    var confirmm=confirm(confirmMessage);
    if(confirmm) {
        $('#deleteModal').modal({
            backdrop: 'static'
        });
    }

    $('#deleteModal').on('shown.bs.modal', function (e) {
        var uri="/admin/owner/delete/"+userId;
        $.post(uri,{id:userId},function(d) {
            console.log(d);
            
            if(d!="1") {
                $("#deleteModalBody").html("Some error occured, please try again.");
                $("#deleteModalFooter").removeClass("dnone");
            }
            else {
                window.location.reload();
            }

        });
    });
}

// $('#thisDataTable').on("click", "button", function(){
//   console.log($(this).parent());
//   table.row($(this).parents('tr')).remove().draw(false);
// });
</script>