 
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            <small><?php echo date(" d M Y, h:i A"); ?></small>
            <?php if (!empty($error)) { ?>
                <div class="alert alert-danger fade in">
                    <?php echo $error; ?>
                </div>
            <?php } ?>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>

        </ol>
    </section>
    <div id="dialog-confirm"  style="display:none;" title="Discard changes ?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Changes are not saved yet. Are you sure want to discard changes?</p>
    </div>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Edit Details</h3>
                </div>
                <?php
                $form->setAttribute('action', $this->url('owneredit', array('id' => $id)));
                $form->setAttribute('class', 'form-horizontal');
                $form->prepare();
                echo $this->form()->openTag($form);
                ?>
                <div class="box-body">

                    <div class="form-group">
                        <label for="fname" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('fname')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lnmae" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('lname')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="unitNum" class="col-sm-2 control-label">Unit Number</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('unitNum')); ?>
                        </div>
                    </div> 

                    <div class="form-group">
                        <label class="col-sm-2 control-label" >Floor</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('floor')); ?>
                        </div>
                    </div>                         
                    <div class="form-group">
                        <label for="mobile" class="col-sm-2 control-label">Extension</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('mobile')); ?>
                        </div>
                    </div>

                    <?php if($parentId) { ?>
                    <div class="form-group" id="followmed1" style="display: none;">
                        <label for="followme1" class="col-sm-2 control-label">Follow Me 1</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme1')); ?>
                        </div>
                    </div>
                    <?php } ?>

                    <!-- new fields added on 9th Jan, 2017-->
                    <?php if(!$parentId) { ?>
                    <div class="form-group">
                        <label for="followme1" class="col-sm-2 control-label">Follow Me 1</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme1')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="followme2" class="col-sm-2 control-label">Follow Me 2</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme2')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="followme3" class="col-sm-2 control-label">Follow Me 3</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme3')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="followme4" class="col-sm-2 control-label">Follow Me 4</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme4')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="followme5" class="col-sm-2 control-label">Follow Me 5</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('followme5')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ring Type</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('ring_type')); ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmcall" class="col-sm-2 control-label">Confirm Calls</label>
                        <div class="col-sm-9 icheckbox_flat-green checked">
                            <?php echo $this->formRow($form->get('confirmcall')); ?>&nbsp;&nbsp;<span>Confirm calls box must be checked, if Collective Ringing is selected.</span>
                        </div>
                    </div>
                    <?php } ?>

                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('email')); ?>
                        </div>
                    </div>

                    <?php /*
                    <div class="form-group">
                        <label for="voicemail" class="col-sm-2 control-label">Voice Mail</label>
                        <div class="col-sm-9 icheckbox_flat-green checked">
                            <?php echo $this->formRow($form->get('voicemail')); ?>&nbsp;&nbsp;<span>Checked to turn voicemail on for this resident.</span>
                        </div>
                    </div>
                    */ ?>
					
                    <div class="form-group">
                        <label for="cameraonly" class="col-sm-2 control-label">Camera Only</label>
                        <div class="col-sm-9 icheckbox_flat-green checked">
                            <?php echo $this->formRow($form->get('cameraonly')); ?>&nbsp;&nbsp;<span>This will enable the app download code to only download the camera settings and ignore the SIP settings.</span>
                        </div>
                    </div>

                    <div class="form-group" id="sipusrnm">
                        <label for="sipusername" class="col-sm-2 control-label">SIP Username</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('sipusername')); ?>
                        </div>
                    </div>
					
					<div class="form-group" id="sipusrpass">
                        <label for="sippassword" class="col-sm-2 control-label">SIP Password</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('sippassword')); ?>
                        </div>
                    </div> 
	
                    <!-- this auto generated OTP field -->
                    <div class="form-group">
                        <label for="sipdownloadcode" class="col-sm-2 control-label">SIP Download Code</label>
                        <div class="col-sm-7">
                            <?php echo $this->formRow($form->get('sipdownloadcode')); ?>                             
                        </div>
                        <div class="col-sm-3">

                            <button type="button" class="btn bg-navy" onclick="generatenewcode('<?php echo $id; ?>')" >Regenerate Code</button>
                        </div>                       
                    </div>

                    <div class="form-group">
                        <label for="lockedtodevice" class="col-sm-2 control-label">Locked to device</label>
                        <div class="col-sm-9">
                            <?php echo $this->formRow($form->get('lockedtodevice')); ?>
                        </div>
                    </div>
                </div>
              
                <div class="box-footer">
                    <div class="col-md-2 center-block">
                        <button type="button" class="btn btn-default" onclick="cancel();" >Cancel</button>
                        <?php echo $this->formRow($form->get('submitbutton')); ?>
                    </div>
                </div>
                <!-- /.box-footer -->
                <!-- </form>-->
                <?php echo $this->form()->closeTag(); ?> 

            </div>
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>
<?php
echo $this->headScript()
        ->prependFile($this->basePath('assets/js/jquery.validate.js'))
        ->prependFile($this->basePath('assets/admin/js/bootstrap.min.js'))
        ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
        ->appendFile($this->basePath('assets/admin/scripts/editownervalidate .js'))
;
?>

<script type="text/javascript" >
	 $(document).ready(function () {
        $("#sipusrpass").hide();
	 });
    function generatenewcode(id) {
        $.ajax({
            url: '<?php echo $this->url('regenerateotp'); ?>',
            type: 'POST',
            success: function (data) {
                if (data.status === "success") {
                    $("#sipdownloadcode").val(data.OTP);
					$("#sipusrpass").show();
                    $("#sippassword").val(data.sippass);
                }
            }
        });
    }

    function cancel() {      
		window.location = "<?php echo $this->url('admindashboard'); ?>";      
    }
</script>