<?php
/**
 * User: Abar Choudhary
 * Date: 02/07/2018
 * Slider Used: Superslides
 */
?>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GD - Screen Savers</title>
  <link rel="stylesheet" href="/imageslider/dist/stylesheets/superslides.css">
</head>
<body>
  <div id="slides">

    <div class="slides-container">
      <?php foreach($records as $image) { ?>
        <img src="<?= SCREEN_SAVER_SERVER_PATH.$image ?>">
      <?php } ?>
    </div>

    <!-- <nav class="slides-navigation">
      <a href="#" class="next">Next</a>
      <a href="#" class="prev">Previous</a>
    </nav> -->

  </div>

  <script src="/imageslider/jquery.min.js"></script>
  <script src="/imageslider/examples/javascripts/jquery.easing.1.3.js"></script>
  <script src="/imageslider/examples/javascripts/jquery.animate-enhanced.min.js"></script>
  <script src="/imageslider/dist/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>
  <script>
    $(function() {
      $('#slides').superslides({
        hashchange: true,
        play: <?= $playTime ?>
      });

      // $('#slides').on('mouseenter', function() {
      //   $(this).superslides('stop');
      //   console.log('Stopped')
      // });
      // $('#slides').on('mouseleave', function() {
      //   $(this).superslides('start');
      //   console.log('Started')
      // });

    });
  </script>
</body>
</html>
