<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="generator" content="Silex v2.2.6">
		<meta name="viewport" content="width=1000">
        <?php echo $this->headTitle($this->translate('GD Entry'))->setSeparator(' - ')->setAutoEscape(false) ?>
      
        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
               
                ->prependStylesheet($this->basePath('css/pstyles.css'))
                ->prependStylesheet($this->basePath('css/front-end.css'))
                ->prependStylesheet($this->basePath('css/normalize.css'))                
                ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
                ;
        ?>
        <!-- Scripts -->

        <?php
        echo $this->headScript()
        	->prependFile($this->basePath('js/jquery.cookie.js'), "text/javascript")
                ->prependFile($this->basePath('js/front-end.js'), "text/javascript")
                ->prependFile($this->basePath('js/pageable.js'), "text/javascript")
                ->prependFile($this->basePath('js/jquery-ui.js'), "text/javascript" )
                ->prependFile($this->basePath('js/bootstrap.min.js'))
                ->prependFile($this->basePath('js/jquery.min.js'))
                //->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
                //->prependFile($this->basePath('js/html5shiv.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
               
                

        ;
        ?>
<script type="text/javascript">
    var FULL_URL_PATH = '<?php echo $this->url('home',array(),array('force_canonical' => true));?>';
</script>
       
    </head>
    <body class="body-initial silex-runtime silex-published"  style="overflow:hidden !important">
        
<?php echo $this->content; ?>
        
<?php echo $this->inlineScript() ?>
    </body>
</html>
