<div class="content-wrapper">
    <section class="content-header">
        <h3>
            New Time Profile
        </h3>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
     <!-- Bulk Upload user section -->
	 <!-- Bulk Upload user section ends-->

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Add New</h3>
                </div>

                <form method="POST" class="form-horizontal" autocomplete="off">
                <div class="box-body">

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Time Profile Name</label>
                        <div class="col-sm-8">
                             <input class="form-control" id="time_profile_name"/>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Time Profile Config</label>
                        <div class="col-sm-8 time_profile_config">
                            <table cellspacing="10">
                                <thead>
                                    <tr>
                                <th></th>
                                <th>From</th>
                                <th>To</th>
                                </tr>
                                </thead>
                            <tbody>
                                <tr>
                            <td>Sunday</td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="sunday_from"/>
                            </td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="sunday_to"/>
                            </td>
                            </tr>
                            <tr>
                            <td>Monday</td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="monday_from"/>
                            </td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="monday_to"/>
                            </td>
                            </tr>
                            <tr>
                            <td>Tuesday</td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="tuesday_from"/>
                            </td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="tuesday_to"/>
                            </td>
                            </tr>
                            <tr>
                            <td>Wednesday</td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="wednesday_from"/>
                            </td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="wednesday_to"/>
                            </td>
                            </tr>
                            <tr>
                            <td>Thursday</td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="thursday_from"/>
                            </td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="thursday_to"/>
                            </td>
                            </tr>
                            <tr>
                            <td>Friday</td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="friday_from"/>
                            </td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="friday_to"/>
                            </td>
                            </tr>
                            <tr>
                            <td>Saturday</td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="saturday_from"/>
                            </td>
                            <td>
                            <input class="timepicker form-control" type="text"/>
                            <input type="hidden" name="saturday_to"/>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="button" class="btn btn-primary" onclick="addTimeProfile()">
                                Add Time Profile
                            </button>
                        </div>
                    </div>
                    
                </div>
                </form>
                <!-- /.box-footer -->
            </div>
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>

<div id="modalFrame"></div>


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script type="text/javascript">
             
function addTimeProfile() {
    $("#modalFrame").html("\
        <div class='modal fade' id='addModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='addModalTitle'>Adding please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='addModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='addModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    $('#addModal').modal({
        backdrop: 'static'
    });

    $('#addModal').on('shown.bs.modal', function (e) {
        var time_profile_name=$("#time_profile_name").val();
        var time_profile_config = {};
        var time_profile_config_length = 0;
        if($("input[name='sunday_from']").val()){
         time_profile_config['sunday']=$("input[name='sunday_from']").val() + " to ";
         time_profile_config['sunday']+= ($("input[name='sunday_to']").val())?$("input[name='sunday_to']").val() : $("input[name='sunday_from']").val();
         time_profile_config_length ++;
        }
        if($("input[name='monday_from']").val()){        
         time_profile_config['monday']=$("input[name='monday_from']").val() + " to ";
         time_profile_config['monday']+= ($("input[name='monday_to']").val())?$("input[name='monday_to']").val() : $("input[name='monday_from']").val();
         time_profile_config_length ++;         
        }
        if($("input[name='tuesday_from']").val()){        
         time_profile_config['tuesday']=$("input[name='tuesday_from']").val() + " to ";
         time_profile_config['tuesday']+= ($("input[name='tuesday_to']").val())?$("input[name='tuesday_to']").val() : $("input[name='tuesday_from']").val();
         time_profile_config_length ++;
        }
        if($("input[name='wednesday_from']").val()){        
         time_profile_config['wednesday']=$("input[name='wednesday_from']").val() + " to ";
         time_profile_config['wednesday']+= ($("input[name='wednesday_to']").val())?$("input[name='wednesday_to']").val() : $("input[name='wednesday_from']").val();
         time_profile_config_length ++;
        }
        if($("input[name='thursday_from']").val()){        
         time_profile_config['thursday']=$("input[name='thursday_from']").val() + " to ";
         time_profile_config['thursday']+= ($("input[name='thursday_to']").val())?$("input[name='thursday_to']").val() : $("input[name='thursday_from']").val();
         time_profile_config_length ++;
        }
        if($("input[name='friday_from']").val()){        
         time_profile_config['friday']=$("input[name='friday_from']").val() + " to ";
         time_profile_config['friday']+= ($("input[name='friday_to']").val())?$("input[name='friday_to']").val() : $("input[name='friday_from']").val();
         time_profile_config_length ++;
        }
        if($("input[name='saturday_from']").val()){        
         time_profile_config['saturday']=$("input[name='saturday_from']").val() + " to ";
         time_profile_config['saturday']+= ($("input[name='saturday_to']").val())?$("input[name='saturday_to']").val() : $("input[name='saturday_from']").val();
         time_profile_config_length ++;
        }
        time_profile_config = JSON.stringify(time_profile_config);
//        console.log(time_profile_config);
//        console.log(time_profile_config_length);

        if(!time_profile_name || time_profile_config_length == 0) {
          $("#addModalTitle").html("Error");
          $("#addModalBody").html("All fields are required");
          $("#addModalFooter").removeClass("dnone");
          return;
        }

        var uri="/admin/timeprofiles/save-code";
        $.post(uri,{time_profile_name:time_profile_name, time_profile_config:time_profile_config},function(d) {
            console.log(d);
            if(d.status!=200) {
                $("#addModalTitle").html("Error");
                $("#addModalBody").html(d.message);
                $("#addModalFooter").removeClass("dnone");
            }
            else {
                $("#addModalTitle").html("Success");
                $("#addModalBody").html(d.message);
                window.location.href="/admin/timeprofiles";
            }
            
        });
    });
}
                               
</script>
<style>
    table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

th , td {
  padding: 10px 0;
}
</style>