<div class="content-wrapper">
    <section class="content-header">
        <h3>
            Edit Time Profile
        </h3>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
     <!-- Bulk Upload user section -->
	 <!-- Bulk Upload user section ends-->

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Edit</h3>
                </div>

                <form method="POST" class="form-horizontal" autocomplete="off">
                <div class="box-body">

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Time Profile Name</label>
                        <div class="col-sm-8">
                             <input class="form-control" id="time_profile_name" value="<?= $timeProfile["time_profile_name"]; ?>"/>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Time Profile Config</label>
                        <div class="col-sm-8 time_profile_config">
                            <?php 
                               $time_profile_config = json_decode($timeProfile['time_profile_config'], true); 
                              if(array_key_exists('sunday',$time_profile_config)){
                               $sunday = explode(" to ", $time_profile_config['sunday']);
                               $sundayFrom = $sunday[0];
                               $sundayTo = $sunday[1];
                              }
                            if(array_key_exists('monday',$time_profile_config)){
                               $monday = explode(" to ", $time_profile_config['monday']);
                               $mondayFrom = $monday[0];
                               $mondayTo = $monday[1];
                              }
                            if(array_key_exists('tuesday',$time_profile_config)){
                               $tuesday = explode(" to ", $time_profile_config['tuesday']);
                               $tuesdayFrom = $tuesday[0];
                               $tuesdayTo = $tuesday[1];
                              }
                            if(array_key_exists('wednesday',$time_profile_config)){
                               $wednesday = explode(" to ", $time_profile_config['wednesday']);
                               $wednesdayFrom = $wednesday[0];
                               $wednesdayTo = $wednesday[1];
                              }
                            if(array_key_exists('thursday',$time_profile_config)){
                               $thursday = explode(" to ", $time_profile_config['thursday']);
                               $thursdayFrom = $thursday[0];
                               $thursdayTo = $thursday[1];
                              }
                            if(array_key_exists('friday',$time_profile_config)){
                               $friday = explode(" to ", $time_profile_config['friday']);
                               $fridayFrom = $friday[0];
                               $fridayTo = $friday[1];
                              }
                            if(array_key_exists('saturday',$time_profile_config)){
                               $saturday = explode(" to ", $time_profile_config['saturday']);
                               $saturdayFrom = $saturday[0];
                               $saturdayTo = $saturday[1];
                              }
                            ?>
                            <table cellspacing="10">
                                <thead>
                                <tr>
                                <th></th>
                                <th>From</th>
                                <th>To</th>
                                </tr>
                                </thead>
                            <tbody>
                                <tr>
                            <td>Sunday</td>
                            <td>
                            <input class="timepicker form-control" type="text" value="<?= $sundayFrom; ?>"/>
                            <input type="hidden" name="sunday_from" value="<?= $sundayFrom; ?>"/>
			    </td>
                            <td>
                            <input class="timepicker form-control" type="text" value="<?= $sundayTo; ?>"/>
                            <input type="hidden" name="sunday_to" value="<?= $sundayTo; ?>"/>
			     </td>
                            </tr>
                            <tr>
                            <td>Monday</td>
                            <td>
                            <input class="timepicker form-control" type="text" value="<?= $mondayFrom; ?>"/>
                            <input type="hidden" name="monday_from" value="<?= $mondayFrom; ?>"/>
			    </td>
                            <td>
                            <input class="timepicker form-control" type="text" value="<?= $mondayTo; ?>"/>
                            <input type="hidden" name="monday_to" value="<?= $mondayTo; ?>"/>
                            </td>
                            </tr>
                            <tr>
                            <td>Tuesday</td>
			    <td>
                            <input class="timepicker form-control" type="text" value="<?= $tuesdayFrom; ?>"/>
                            <input type="hidden" name="tuesday_from" value="<?= $tuesdayFrom; ?>"/>
			    </td>
                            <td>
                            <input class="timepicker form-control" type="text" value="<?= $tuesdayTo; ?>"/>
                            <input type="hidden" name="tuesday_to" value="<?= $tuesdayTo; ?>"/>
                            </td>
                            </tr>
                            <tr>
                            <td>Wednesday</td>
			    <td>
                            <input class="timepicker form-control" type="text" value="<?= $wednesdayFrom; ?>"/>
                            <input type="hidden" name="wednesday_from" value="<?= $wednesdayFrom; ?>"/>
			    </td>
                            <td>
                            <input class="timepicker form-control" type="text" value="<?= $wednesdayTo; ?>"/>
                            <input type="hidden" name="wednesday_to" value="<?= $wednesdayTo; ?>"/>
                           </td>
                            </tr>
                            <tr>
                            <td>Thursday</td>
			    <td>
                            <input class="timepicker form-control" type="text" value="<?= $thursdayFrom; ?>"/>
                            <input type="hidden" name="thursday_from" value="<?= $thursdayFrom; ?>"/>
			    </td>
                            <td>
                            <input class="timepicker form-control" type="text" value="<?= $thursdayTo; ?>"/>
                            <input type="hidden" name="thursday_to" value="<?= $thursdayTo; ?>"/>
                            </td>
                            </tr>
                            <tr>
                            <td>Friday</td>
			    <td>
                            <input class="timepicker form-control" type="text" value="<?= $fridayFrom; ?>"/>
                            <input type="hidden" name="friday_from" value="<?= $fridayFrom; ?>"/>
			    </td>
                            <td>
                            <input class="timepicker form-control" type="text" value="<?= $fridayTo; ?>"/>
                            <input type="hidden" name="friday_to" value="<?= $fridayTo; ?>"/>
                            </td>
                            </tr>
                            <tr>
                            <td>Saturday</td>
			    <td>
                            <input class="timepicker form-control" type="text" value="<?= $saturdayFrom; ?>"/>
                            <input type="hidden" name="saturday_from" value="<?= $saturdayFrom; ?>"/>
			    </td>
                            <td>
                            <input class="timepicker form-control" type="text" value="<?= $saturdayTo; ?>"/>
                            <input type="hidden" name="saturday_to" value="<?= $saturdayTo; ?>"/>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="button" class="btn btn-primary" onclick="editTimeProfile('<?php echo $timeProfile["time_profile_id"]; ?>')">
                                Edit Time Profile
                            </button>
                        </div>
                    </div>
                    
                </div>
                </form>
                <!-- /.box-footer -->
            </div>
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>

<div id="modalFrame"></div>


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script type="text/javascript">
             
function editTimeProfile(timeProfileID) {
    $("#modalFrame").html("\
        <div class='modal fade' id='editModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='editModalTitle'>Editing please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='editModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='editModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    $('#editModal').modal({
        backdrop: 'static'
    });

    $('#editModal').on('shown.bs.modal', function (e) {
        var time_profile_name=$("#time_profile_name").val();
        var time_profile_config = {};
        var time_profile_config_length = 0;
        if($("input[name='sunday_from']").val()){
         time_profile_config['sunday']=$("input[name='sunday_from']").val() + " to ";
         time_profile_config['sunday']+= ($("input[name='sunday_to']").val())?$("input[name='sunday_to']").val() : $("input[name='sunday_from']").val();
         time_profile_config_length ++;
        }
        if($("input[name='monday_from']").val()){        
         time_profile_config['monday']=$("input[name='monday_from']").val() + " to ";
         time_profile_config['monday']+= ($("input[name='monday_to']").val())?$("input[name='monday_to']").val() : $("input[name='monday_from']").val();
         time_profile_config_length ++;         
        }
        if($("input[name='tuesday_from']").val()){        
         time_profile_config['tuesday']=$("input[name='tuesday_from']").val() + " to ";
         time_profile_config['tuesday']+= ($("input[name='tuesday_to']").val())?$("input[name='tuesday_to']").val() : $("input[name='tuesday_from']").val();
         time_profile_config_length ++;
        }
        if($("input[name='wednesday_from']").val()){        
         time_profile_config['wednesday']=$("input[name='wednesday_from']").val() + " to ";
         time_profile_config['wednesday']+= ($("input[name='wednesday_to']").val())?$("input[name='wednesday_to']").val() : $("input[name='wednesday_from']").val();
         time_profile_config_length ++;
        }
        if($("input[name='thursday_from']").val()){        
         time_profile_config['thursday']=$("input[name='thursday_from']").val() + " to ";
         time_profile_config['thursday']+= ($("input[name='thursday_to']").val())?$("input[name='thursday_to']").val() : $("input[name='thursday_from']").val();
         time_profile_config_length ++;
        }
        if($("input[name='friday_from']").val()){        
         time_profile_config['friday']=$("input[name='friday_from']").val() + " to ";
         time_profile_config['friday']+= ($("input[name='friday_to']").val())?$("input[name='friday_to']").val() : $("input[name='friday_from']").val();
         time_profile_config_length ++;
        }
        if($("input[name='saturday_from']").val()){        
         time_profile_config['saturday']=$("input[name='saturday_from']").val() + " to ";
         time_profile_config['saturday']+= ($("input[name='saturday_to']").val())?$("input[name='saturday_to']").val() : $("input[name='saturday_from']").val();
         time_profile_config_length ++;
        }
        time_profile_config = JSON.stringify(time_profile_config);
//        console.log(time_profile_config);
//        console.log(time_profile_config_length);

        if(!time_profile_name || time_profile_config_length == 0) {
          $("#editModalTitle").html("Error");
          $("#editModalBody").html("All fields are required");
          $("#editModalFooter").removeClass("dnone");
          return;
        }
       
        var uri="/admin/timeprofiles/save-code";
        $.post(uri,{time_profile_name:time_profile_name, time_profile_config:time_profile_config, time_profile_id:timeProfileID},function(d) {
            console.log(d);
            if(d.status!=200) {
                $("#editModalTitle").html("Error");
                $("#editModalBody").html(d.message);
                $("#editModalFooter").removeClass("dnone");
            }
            else {
                $("#editModalTitle").html("Success");
                $("#editModalBody").html(d.message);
                window.location.href="/admin/timeprofiles";
            }
            
        });
    });
}                               
</script>
<style>
    table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

th , td {
  padding: 10px 0;
}
</style>
