<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                    
                <div class="box box-info">
               <!--  <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Admin Profile</h3>
                </div> -->
                 <div class="box-header with-border col-xs-6">
                  <h3 class="box-title" style="padding: 20px 30px; background: rgb(60, 141, 188); font-size: 16px; font-weight: 600; color: #FFF; ">Admin Profile</h3>
                 <!--  <span style="display:none; padding: 19px 23px;" class="alert alert-success" ></span> -->
                </div>

                 <div class="col-xs-6" align="right"><a href="<?php echo $this->url('changepass'); ?>"><i class="fa fa-key fa-3x" aria-hidden="true"></a></i><p>Change Password</p></div>
                 <div class="clearfix"></div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <?php echo $this->flashMessenger()->render('success', array('alert alert-success')); ?>
                    <?php if (!empty($success)) { ?>
                        <div class="alert alert-success fade in"><?php echo $success; ?></div>
                    <?php } ?>
                    <?php if (!empty($error)) { ?>
                        <div class="alert alert-danger fade in"><?php echo $error; ?></div>
                    <?php } ?>
                    <!--<form class="form-horizontal">-->
                    <?php              
                    $idd = $this->profileid;
                    $form->setAttribute('action', $this->basePath() . '/admin/profile');
                    $form->prepare();
                    echo $this->form()->openTag($form);
                    ?>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="fname" class="col-sm-2 control-label">First Name</label>

                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('firstname')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lname" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('lastname')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('email')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="col-sm-2 control-label">Mobile</label>

                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('mobile')); ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="col-sm-2 control-label" >Gender</label>
                            <div class="col-sm-10">
                                <?php echo $this->formRow($form->get('gender')); ?>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                   
                    <div class="box-footer">
                        <div class="col-md-2 center-block">
                        <a href="<?php echo $this->url('admindashboard'); ?>" ><button type="button" class="btn btn-default">Cancel</button></a>
                        <input type="button" id="editprofile" class="btn btn-info pull-right" 
                               value="Edit" onclick="edit();">  
                         <?php echo $this->formRow($form->get('submitbutton')); ?>
                        </div>  
                    </div>
                    <!-- /.box-footer -->
                    <!--</form>-->
                    <?php echo $this->form()->closeTag(); ?> 
                    
                </div>
            </div>
        </div>
    </section>
</div> 
<?php
echo $this->headScript()
        ->prependFile($this->basePath('assets/js/jquery.validate.js'))
        ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
        ->appendFile($this->basePath('assets/admin/scripts/adminprofile.js'))
;
?>
<script type="text/javascript">
    $(document).ready(function () {
        $('#submitbutton').hide();
    });
    function edit() {
        $("input[type=text]").removeAttr('disabled');
        $('#editprofile').hide();
        $('#submitbutton').show();

    }
</script>

