<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>

<script src="/js/pagination/jquery.twbsPagination.js" type="text/javascript"></script>

<style type="text/css">
.dnone {display: none;}
</style>

<div class="content-wrapper">
<div class="box">

  <div class="box-header with-border col-xs-6">
    <h3 class="box-title" style="padding: 20px 30px; background: rgb(60, 141, 188); font-size: 16px; font-weight: 600; color: #FFF; ">Call Logs</h3>
  </div>

  <div class="col-xs-6" align="right" style="margin-top: 20px;">
    <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination"></ul>
    </nav>
  </div>

  <!-- /.box-header -->
  <div class="clearfix"></div>

  <div class="box-body">


<?php if(!$records) echo "No details found"; else { ?>
<div class="">
<table id="callLogsTable" class="table table-bordered table-striped" style="white-space: nowrap; width: 100%;">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Date</th>
            <th>Channel</th>
            <th>Duration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <?php
        $allTrunks=array();

        $i=(($currentPage-1)*20)+1;
        foreach($records as $k=>$data) {
            $allLogs[$i]=$data;
            ?>
            <tr>
                <td><?= $i ?></td>
                <td><?= $data['calldate'] ?></td>
                <td><?= $data['channel'] ?></td>
                <td><?= $data['duration'] ?></td>
                <td>
                    <a class="btn btn-app" role="button" title="Click here to view" onclick="logDetails(<?= $i ?>)"> <i class="fa fa-eye"></i>View</a>
                </td>
            </tr>
            <?php
            $i++;
        }
        unset($i);
        ?>
    </tbody>
</table>

<div class="container" style="margin-top: 15px;">
    <nav aria-label="Page navigation">
        <ul class="pagination" id="pagination"></ul>
    </nav>
</div>
</div>
<?php } ?>


  </div>
  <!-- /.box-body -->

</div>
</div>



<div id="modalFrame"></div>

<script type="text/javascript">
// jQuery(function($) {
//     // outbound table
//     var table=$('#callLogsTable').DataTable( {
//         "bFilter": true,
//         "paging":   true,
//         "ordering": false,
//         "info":     true,
//     });
// });

jQuery( document ).ready(function( $ ) {
    var firstTime=1;
    var currentPage=<?= $currentPage ?>;

    var obj = $('.pagination').twbsPagination({
        totalPages: 50,
        visiblePages: 7,
        startPage: currentPage,
        onPageClick: function (event, page) {
            //console.info(page);

            if(firstTime>1) {
                window.location="?page="+page;
                return;
            }
            firstTime++;
        }
    });
});

function logDetails(id) {
    
    var allLogs=<?= json_encode($allLogs) ?>;
    var thisLog=allLogs[id];
    console.log(thisLog);

    $("#modalFrame").html("\
        <div class='modal fade' id='detailsModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog modal-lg' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>\
                            <span aria-hidden='true'>&times;</span>\
                        </button>\
                        <h4 class='modal-title' id='myModalLabel'>Cal Details</h4>\
                    </div>\
                    <div class='modal-body' id='detailsModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs' id='deleteModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    $('#detailsModal').modal({
        backdrop: 'static'
    });

    $('#detailsModal').on('shown.bs.modal', function (e) {
        $("#detailsModalBody").html("\
            <div class='table-responsive'>\
            <table id='detailsTable' class='table table-bordered table-striped'>\
                <tr><th>Call Date</th><td>"+thisLog.calldate+"</td></tr>\
                <tr><th>clid</th><td>"+thisLog.clid+"</td></tr>\
                <tr><th>src</th><td>"+thisLog.src+"</td></tr>\
                <tr><th>dst</th><td>"+thisLog.dst+"</td></tr>\
                <tr><th>dcontext</th><td>"+thisLog.dcontext+"</td></tr>\
                <tr><th>channel</th><td>"+thisLog.channel+"</td></tr>\
                <tr><th>dstchannel</th><td>"+thisLog.dstchannel+"</td></tr>\
                <tr><th>lastapp</th><td>"+thisLog.lastapp+"</td></tr>\
                <tr><th>lastdata</th><td>"+thisLog.lastdata+"</td></tr>\
                <tr><th>duration</th><td>"+thisLog.duration+"</td></tr>\
                <tr><th>billsec</th><td>"+thisLog.billsec+"</td></tr>\
                <tr><th>disposition</th><td>"+thisLog.disposition+"</td></tr>\
                <tr><th>amaflags</th><td>"+thisLog.amaflags+"</td></tr>\
                <tr><th>accountcode</th><td>"+thisLog.accountcode+"</td></tr>\
                <tr><th>uniqueid</th><td>"+thisLog.uniqueid+"</td></tr>\
                <tr><th>userfield</th><td>"+thisLog.userfield+"</td></tr>\
                <tr><th>did</th><td>"+thisLog.did+"</td></tr>\
                <tr><th>recordingfile</th><td>"+thisLog.recordingfile+"</td></tr>\
                <tr><th>cnum</th><td>"+thisLog.cnum+"</td></tr>\
                <tr><th>cnam</th><td>"+thisLog.cnam+"</td></tr>\
                <tr><th>outbound_cnum</th><td>"+thisLog.outbound_cnum+"</td></tr>\
                <tr><th>outbound_cnam</th><td>"+thisLog.outbound_cnam+"</td></tr>\
                <tr><th>dst_cnam</th><td>"+thisLog.dst_cnam+"</td></tr>\
            </table>\
            </div>\
        ");
    });
}
</script>