<style type="text/css">
.dnone {display: none;}
</style>

<div class="content-wrapper">
<div class="box">

  <div class="box-header with-border col-xs-6">
    <h3 class="box-title" style="padding: 20px 30px; background: rgb(60, 141, 188); font-size: 16px; font-weight: 600; color: #FFF; ">Sip Peers</h3>
  </div>

  <div class="col-xs-6" align="right" style="margin-top: 20px;">
    
  </div>

  <!-- /.box-header -->
  <div class="clearfix"></div>

  <div class="box-body">


<?php if(!$records) echo "No details found"; else { ?>
<div class="">
    <pre>
    <?= $records ?>
    </pre>
</div>
<?php } ?>


  </div>
  <!-- /.box-body -->

</div>
</div>