<style type="text/css">
.pointer {cursor: pointer;}
.pointer:hover {color: #337ab7;}
.dnone {display: none;}
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Welcome Admin
            <small><?php echo date(" d M Y, h:i A"); ?></small>
            <?php echo $this->flashMessenger()
            ->setMessageOpenFormat('<div%s><p>')
    ->setMessageSeparatorString('</p><p>')
    ->setMessageCloseString('</p></div>')
    ->render('success', array('alert alert-success alert-dismissible'));
             ?>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
           
        </ol>
    </section>
   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
           <div class="box-header with-border col-xs-6">
              <!--<h3 class="box-title">List Of Names</h3>-->
              <h3 class="box-title" style="padding: 20px 30px; background: rgb(60, 141, 188); font-size: 16px; font-weight: 600; color: #FFF; ">List Of Names</h3>
              <span style="display:none; padding: 19px 23px;" class="alert alert-success" ></span>
            </div>
          </div>
            <?php if ($existeduser < $maxuserlimit) { ?>
            <div class="col-xs-6" align="right" style="margin-bottom: 20px;">
              <div class="col-xs-6" align="right"></div>
              <div class="col-xs-2" align="right"><a href="<?php echo $this->url('owneradd'); ?>" title='Add New Name'><i class="fa fa-user-plus fa-3x" aria-hidden="true"></a></i><p>Add New</p></div>

              <?php if(!$pManager) { ?>
              <div class="col-xs-2" align="right"><a href="<?php echo $this->url('owneradd'); ?>?t=pm" title='Add Property Management'><i class="fa fa-user-plus fa-3x" aria-hidden="true"></a></i><p>Add PM</p></div>
              <?php } else { ?>
              <div class="col-xs-2" align="right"><i class="fa fa-user-plus fa-3x pointer" aria-hidden="true" onclick="viewOwner(<?=$pManager?>, 1)" title='View Property Management'></i><p>View PM</p></div>
              <?php } ?>

              <?php if(!$pDelivery) { ?>
              <div class="col-xs-2" align="right"><a href="<?php echo $this->url('owneradd'); ?>?t=pd" title='Add Package Delivery'><i class="fa fa-user-plus fa-3x" aria-hidden="true"></a></i><p>Add PD</p></div>
              <?php } else { ?>
              <div class="col-xs-2" align="right"><i class="fa fa-user-plus fa-3x pointer" aria-hidden="true" onclick="viewOwner(<?=$pDelivery?>, 2)" title='View Package Delivery'></i><p>View PD</p></div>
              <?php } ?>
            </div>
            <?php } ?>
            <!-- /.box-header -->
            <div class="box-body">        
            <div class="box-header pull-right">
                <button class="btn btn-lg btn-success" id="exportButton" onclick="exportUsers()">
                    <i class="fa fa-download"></i>&nbsp;
                    <span>Export</span>
                </button>
            </div>  
              <table id="flatownerlisting" class="table table-bordered table-striped" width="100%" >
                <thead>
                        <tr style="background-color: rgb(60, 141, 188); color: #fff;">
                        <th>S.NO</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Unit Number</th>
                        <th>Floor</th>
                        <th>Phone Number</th>
                        <th>Action</th>
                        <th>Blind Users</th>
                        </tr>
                    </thead>                
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        
         
       <!-- Modal Dialog -->

        </section>
        <!-- /.col -->
        
       
      </div>
 <div id="dialog-confirm" title="Confirm Deletion" style="display:none;">
              <p><span class="ui-icon ui-icon-alert" style="float:left; margin:2px 12px 20px 0;"></span>Are you sure want to delete ?</p>
</div>
          
         <div id="dialog-confirm-change" title="Confirm Status Change" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:2px 12px 20px 0;"></span>
                Are you sure want to change status?</p>
          </div>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<?php 
echo $this->headScript()
           ->prependFile($this->basePath() . '/assets/admin/scripts/ownerdetails.js', 'text/javascript')
           ->prependFile($this->basePath() . '/assets/datatables/media/js/dataTables.bootstrap.js', 'text/javascript')
           ->prependFile($this->basePath() . '/assets/datatables/media/js/jquery.dataTables.js', 'text/javascript')
           ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
           ;
?>

<?php echo $this->headLink()         
          ->appendStylesheet($this->basePath() . '/assets/datatables/media/css/dataTables.bootstrap.css')
          ->appendStylesheet($this->basePath() . '/assets/datatables/media/css/jquery.dataTables.css');
?>
<style type="text/css">
  .waitLoader{position: relative;}

</style>
<script type="text/javascript">

$(document).ready(function(){
  $('.ajax-loader').hide();
});
function deleteowner(id){
    $( "#dialog-confirm" ).dialog({
        resizable: true,
        modal: true,
        height: "auto",
        width: 400,
        buttons: {
            "Yes": function() {
                    $( this ).dialog( "close" );
                    var URL = FULL_URL_PATH + 'admin/owner/delete/'+ id;
                    $.ajax({
                        method: "GET",
                        url: URL,
                        beforeSend: function(){
                          $('#ajax-loader-'+id).show();
                        },
                      })
                        .done(function( result ) {                                        
                            if(result == 1){
                                var target_row = $('#del_'+id).closest("tr").get(0);
                                $(target_row).hide();                                
                                var oTable = $('#flatownerlisting').dataTable(); // JQuery dataTable function to delete the row from the table
                                oTable.fnDeleteRow(oTable.fnGetPosition(target_row));
                                $('#ajax-loader-'+id).hide();
                                $('.alert-success').html("User has been deleted successfully!");
                                $('.alert-success').show();             
                            }                                      
                       });			
            },
            "No": function() {
                    $( this ).dialog( "close" );
            }
        }
    });
}

function activeInactiveUser(id,changeType){
    $( "#dialog-confirm-change" ).dialog({
        resizable: false,
        height:180,
        modal: true,
        buttons: {
            "Yes": function() {
                    $( this ).dialog( "close" );
                    var URL = FULL_URL_PATH + 'admin/owner/changestatus/'+ changeType+ '/'+id ;
                    $.ajax({
                        method: "GET",
                        url: URL
                      })
                        .done(function( result ) {                                        
                            if(result == 1){                     
                                var oTable = $('#flatownerlisting').dataTable(); 
                                oTable._fnAjaxUpdate();
                                $('.alert-success').html("User status has been updated successfully!");
                                $('.alert-success').show();                                
                            }                                      
						});			
            },
            "No": function() {
                    $( this ).dialog( "close" );
            }
        }
    });
}
</script>

<div id="modalFrame"></div>

<script type="text/javascript">
    function exportUsers() { 
    $("#modalFrame").html("\
        <div class='modal fade' id='exportUsersModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Exporting, Please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='exportUsersModalBody'>\
                        <span>Generating File...</span>&nbsp;&nbsp;\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='exportUsersModalLoader'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='exportUsersModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */
    
    $('#exportUsersModal').modal({
        backdrop: 'static'
    });
    
    $('#exportUsersModal').on('shown.bs.modal', function (e) { 
        var uri="/admin/export-users";
        $.post(uri,{},function(d) {
            console.log(d);

            if(d.status!=200) {
                $("#exportUsersModalBody").html(d.message);
                $("#exportUsersModalFooter").removeClass("dnone");
            }
            else {
                $("#exportUsersModalBody").html("Download Started... <iframe style='display:none;' src='"+d.response+"'></iframe>");

                setTimeout(function() {
                        $('#exportUsersModal').modal("hide");
                    }, 3000
                );

            }

        });
    });
}

function viewOwner(ownerId, type) {
    if(type==1) title="Property Management Details";
    else if(type==2) title="Package Delivery Details";
    else return;

    $("#modalFrame").html("\
        <div class='modal fade' id='detailsModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                      <button type='button' class='close dnone' data-dismiss='modal' aria-label='Close' id='detailsModalClose'>\
                          <span aria-hidden='true'>&times;</span>\
                      </button>\
                      <h4 class='modal-title' id='myModalLabel'>"+title+"</h4>\
                    </div>\
                    <div class='modal-body' id='detailsModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125'></i>\
                    </div>\
                    <div class='modal-footer'></div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */
    $('#detailsModal').modal({
        backdrop: 'static'
    });

    $('#detailsModal').on('shown.bs.modal', function (e) {
        var uri="/admin/owner-details";
        $.post(uri,{owner_id:ownerId},function(d) {
            // console.log(d);
            // return;

            if(d.status!=200) {
                $("#detailsModalBody").html(d.message);
                $("#detailsModalClose").removeClass("dnone");
            }
            else {
              var ownerInfo="\
                  <div class='table-responsive'>\
                  <table id='detailsTable' class='table table-bordered table-striped' style='white-space: nowrap;'>\
                      <tr><th>Company 1</th><td>"+d.response['firstName']+"</td></tr>\
                      <tr><th>Company 2</th><td>"+d.response['lastName']+"</td></tr>\
                      <tr><th>Unit Number</th><td>"+d.response['unitNum']+"</td></tr>\
                      <tr><th>Floor</th><td>"+d.response['floor']+"</td></tr>\
                      <tr><th>Mobile</th><td>"+d.response['mobile']+"</td></tr>\
                      <tr><th>Email</th><td>"+d.response['email']+"</td></tr>\
                      <tr><th>Follow 1</th><td>"+d.response['followme1']+"</td></tr>\
                      <tr><th>Follow 2</th><td>"+d.response['followme2']+"</td></tr>\
                      <tr><th>Follow 3</th><td>"+d.response['followme3']+"</td></tr>\
                      <tr><th>Voicemail</th><td>"+d.response['voicemail']+"</td></tr>\
                      <tr><th>Camera Only</th><td>"+d.response['cameraonly']+"</td></tr>\
                      <tr><th>SIP Username</th><td>"+d.response['sipusername']+"</td></tr>\
                      <tr><th>SIP Code</th><td>"+d.response['sipdownloadcode']+"</td></tr>\
                  </table>\
                  </div>\
              ";

              $("#detailsModalBody").html(ownerInfo);
              $("#detailsModalClose").removeClass("dnone");
            }
            
        });
    });
}
</script>