<div class="content-wrapper">
    <section class="content-header">
        <h1>
            <small><?php echo date(" d M Y, h:i A"); ?></small>
            <?php echo $this->flashMessenger()->render('success', array('alert alert-success')); ?>
        </h1>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>

        </ol>
    </section>

    <section class="content">
        <div class="col-xs-12"><div class="box box-info">
            <div class="box-header with-border">             
                 <p class="lead">
                 Download Backup of Database
                </p>
            </div>
           <section id="download">
  <div class="row">
    <div class="col-sm-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Export GD Datbase Backup</h3>
          <span class="label label-primary pull-right"><i class="fa fa-database"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
          <p>Export latest gd database sql files.</p>
<!--          <a href="" class="btn btn-primary" onClick="exportFile()"><i class="fa fa-download"></i> </a>-->
          <button class="btn btn-primary" onclick="exportFile()"><i class="fa fa-download"></i>Export</button>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-sm-6">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Import GD Databse</h3>
          <span class="label label-danger pull-right"><i class="fa fa-database"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div><p>Import GD Database </b></p></div>
<!-- -added on 31st May 2017-->
          <form class="form-horizontal" enctype="multipart/form-data" action="" method="post" name="endtime" id="endtime"><input type="file" id="myFile" name="myFile"/>
<!--    <a href="#" class="btn btn-danger"><i class="fa fa-upload"></i>Import</a>-->
    <button class="btn btn-info" type="submit"><i class="fa fa-upload"></i>Import</button>
          
          </form>
    <!-- -added on 31st May 2017-->
    
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section>

            
            
           
          </div>
          </div>
          </section>
          </div>
 <?php
    echo $this->headScript()
            ->prependFile($this->basePath('assets/js/jquery.validate.js'))
            ->prependFile($this->basePath('assets/admin/js/bootstrap.min.js'))
            ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
            
;
    ?>
<script type="text/javascript">
$(document).ready(function () {
    $("#endtime").validate({
        errorClass: 'validation-error',
        rules: {
            'clendtm': {
                required: true,
                htmltags: true,
                number: true                
            }
        },
        messages: {
            'clendtm': {
                required: "Please enter end time",
                htmltags: "HTML Tags are not allowed",
                number: "Time should be in digit"
            }
        },
        submitHandler: function (form) {
            form.submit();
            return true;
        }
    });
});
jQuery.validator.addMethod("htmltags", function checkHTMLTags(value, element, params) {
    if (value.match(/([\<])([^\>]{1,})*([\>])/i) == null) {
        return true;
    } else {
        return false;
    }
});

function exportFile() {
   $.ajax({
            url: '<?php echo $this->url('dbexport'); ?>',
            type: 'POST',
          // async: false,
  
            success: function (data) {
                if (data.status === "success") {
                    var href = data.file;
                    window.location.href = href;
                }
            }

        });
}
</script>

