<?php// print_r($records);
//die();
?>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="/assets/common/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/assets/common/bootstrap-toggle.min.js"></script>

<style type="text/css">
.dialBox {margin-bottom: 5px;}
.dialBox input {width: 150px;}
.dnone {display: none;}
</style>

<div class="content-wrapper">
    <section class="content-header">
      <h3 >
          <div   id="messageid"  style="display:none;" class="alert alert-success alert-dismissible"><p>IP Added successfully!!</p></div>
           External IP for SIP               
      </h3>
        
        
         <section class="content">
        <div class="col-xs-12"><div class="box box-info">
            
            <div class="box-header with-border">
              <h3 class="box-title">External Ip</h3>
           
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
            
            
            <form class="form-horizontal"  method="post" name="endtime" id="addip">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="clendtm">External Ip</label>

                  <div class="col-sm-8">
                      <input type="text" placeholder="Please Insert External Ip" name="" id="ip" class="form-control" value="<?php echo $records['external_ip'] ?>">
                  </div>
                  
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                  <div class="col-md-12 center-block">
<!--                 <a href="<?php echo $this->url('admindashboard'); ?>" ><button type="button" class="btn btn-default">Cancel</button></a>-->
                <button class="btn btn-info" id="myBtn" type="submit">Save</button>
                 
            <img id="dvloader" src="/img/ajax-loader.gif" style="display:none;"/>
            
                </div>
                  
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          </div>
          </section>
        
        
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
   </div> 

<script type="text/javascript">
$(document).ready(function() {
    /* SUBMIT TEMPLATE */
    $("#addip").on("submit",function(e) {
        e.preventDefault();
     var ip=$("#ip").val();  
     console.log(ip);
     $("#dvloader").show();
     document.getElementById("myBtn").disabled = true;
     
     $.ajax({             
               url:"/admin/externalip-save",                
                method:"POST",
                data:{ip:ip},
                success:function(data){                    
                    if(data=='1'){
                    $("#dvloader").hide();
                    document.getElementById("myBtn").disabled = false;
                    alert("Ip added sussessfully");
                    }
              
            }
        });
    });
    /* /SUBMIT TEMPLATE */
});
</script>
