<?php
$class1=$class2="btn-danger";

if($config1) $class1="btn-success";
if($config2) $class2="btn-primary";
?>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<style type="text/css">
.dnone {display: none;}
.box-header.with-border, .box-header.with-border {border-bottom: 0px !important;}
</style>

<div class="content-wrapper">
<div class="box">

  <div class="box-header with-border col-xs-12">
    <h3 style="margin-bottom: 30px;">Firewall</h3>

    <div class="row dnone" id="firewallMenu">
      <div class="col-xs-6">
        <button class="btn btn-primary" onclick="showStatus()">Show Status</button>
        <button class="btn <?= $class2 ?>" onclick="configureStatic()">Configure Static</button>
        <button class="btn btn-primary" onclick="showDHCP()">DHCP</button>
        <!--<button class="btn btn-primary" onclick="showReboot()">Reboot</button> -->
      </div>
      <div class="col-xs-6 text-right">
        <button class="btn <?= $class1 ?>" onclick="configureConnection()">Configure Connection</button>
      </div>
    </div>
  </div>

  <!-- /.box-header -->
  <div class="clearfix"></div>

</div>

<div id="firewallBody" style="padding: 15px;">
  Getting Status: &nbsp; <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='removeModalLoader'></i>
</div>

</div>

<div id="modalFrame"></div>

<script type="text/javascript">
function configureConnection() {
    $("#modalFrame").html("\
        <div class='modal fade' id='userConfigModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Configure Connection</h4>\
                    </div>\
                    <div class='modal-body' id='userConfigModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='userConfigModalLoader'></i>\
                        \
                        <div class='dnone' id='userConfigModalForm'>\
                          <form autocomplete='off' name='form1' id='form1'>\
                              <div class='form-group'>\
                                  <label><strong>IP Address</strong></label>\
                                  <input type='text' name='user_ip' class='form-control' id='userIP' />\
                              </div>\
                              <div class='form-group'>\
                                  <label><strong>Username</strong></label>\
                                  <input type='text' name='username' class='form-control' id='userUsername' />\
                              </div>\
                              <div class='form-group'>\
                                  <label><strong>Password</strong></label>\
                                  <input type='text' name='password' class='form-control' id='userPassword' />\
                              </div>\
                              \
                              <div class='alert alert-danger dnone' id='userConfigModalError' role='alert'></div>\
                              <div class='alert alert-success dnone' id='userConfigModalSuccess' role='alert'></div>\
                              <button type='button' class='btn btn-primary btn-sm' id='userConfigModalButton' onclick='addConnection()'>Proceed</button>&nbsp;\
                              <button type='button' class='btn btn-danger btn-sm' data-dismiss='modal'>Cancel</button>&nbsp;&nbsp;\
                              <i class='ace-icon fa fa-spinner fa-spin orange bigger-125 userConfigModalLoaderButton dnone'></i>\
                          </form>\
                      </div>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='userConfigModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */
    $('#userConfigModal').modal({
        backdrop: 'static'
    });

    $('#userConfigModal').on('shown.bs.modal', function (e) {
        var uri="/admin/firewall-get-by-type";
        $.post(uri,{type:1},function(d) {
            console.log(d);
            
            if(d.status!=200) {
                $("#userConfigModalBody").html(d.message);
                $("#userConfigModalFooter").removeClass("dnone");
            }
            else {
                $("#userConfigModalForm #userIP").val(d.response.ip_address);
                $("#userConfigModalForm #userUsername").val(d.response.username);
                $("#userConfigModalForm #userPassword").val(d.response.password);
                $('#userConfigModalLoader').addClass("dnone");
                $("#userConfigModalForm").removeClass("dnone");
            }
        });
    });

    // $('#userConfigModal').on('hidden.bs.modal', function (e) {
    //     window.location.reload();
    // });
}

function addConnection() {
  $("#userConfigModalForm button").attr("disabled", "disabled");
  $(".userConfigModalLoaderButton").removeClass("dnone");

  $("#userConfigModalError").addClass("dnone");
  $("#userConfigModalError").html("");

  $("#userConfigModalSuccess").addClass("dnone");
  $("#userConfigModalSuccess").html("");
  

  var ip=$("#userIP").val().replace(/^\s+|\s+$/g,'').replace(/\s+/g,'');
  var username=$("#userUsername").val().replace(/^\s+|\s+$/g,'').replace(/\s+/g,'');
  var password=$("#userPassword").val();

  $("#userIP").val(ip);
  $("#userUsername").val(username);

  var uri="/admin/firewall-add-connection";
  $.post(uri,{ip:ip, username:username, password:password},function(d) {
      console.log(d);
      
      if(d.status!=200) {
          $("#userConfigModalError").html(d.message);
          $("#userConfigModalError").removeClass("dnone");

          $("#userConfigModalForm button").removeAttr("disabled");
          $(".userConfigModalLoaderButton").addClass("dnone");
      }
      else {
          $("#userConfigModalSuccess").html(d.message);
          $("#userConfigModalSuccess").removeClass("dnone");
          window.location.reload();
      }
  });
}

function configureStatic() {
    $("#modalFrame").html("\
        <div class='modal fade' id='staticConfigModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Configure Static</h4>\
                    </div>\
                    <div class='modal-body' id='staticConfigModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='staticConfigModalLoader'></i>\
                        \
                        <div class='dnone' id='staticConfigModalForm'>\
                          <form autocomplete='off' name='form1' id='form1'>\
                              <div class='form-group'>\
                                  <label><strong>IP Address</strong></label>\
                                  <input type='text' name='user_ip' class='form-control' id='userIP' />\
                              </div>\
                              <div class='form-group'>\
                                  <label><strong>Mask</strong></label>\
                                  <input type='text' name='mask' class='form-control' id='mask' />\
                              </div>\
                              <div class='form-group'>\
                                  <label><strong>Gateway</strong></label>\
                                  <input type='text' name='gateway' class='form-control' id='gateway' />\
                              </div>\
                              <div class='form-group'>\
                                  <label><strong>DNS 1</strong></label>\
                                  <input type='text' name='dns1' class='form-control' id='dns1' />\
                              </div>\
                              <div class='form-group'>\
                                  <label><strong>DNS 2</strong></label>\
                                  <input type='text' name='dns2' class='form-control' id='dns2' />\
                              </div>\
                              \
                              <div class='alert alert-danger dnone' id='staticConfigModalError' role='alert'></div>\
                              <div class='alert alert-success dnone' id='staticConfigModalSuccess' role='alert'></div>\
                              <button type='button' class='btn btn-primary btn-sm' id='staticConfigModalButton' onclick='addStatic()'>Proceed</button>&nbsp;\
                              <button type='button' class='btn btn-danger btn-sm' data-dismiss='modal'>Cancel</button>&nbsp;&nbsp;\
                              <i class='ace-icon fa fa-spinner fa-spin orange bigger-125 staticConfigModalLoaderButton dnone'></i>\
                          </form>\
                      </div>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='staticConfigModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */
    $('#staticConfigModal').modal({
        backdrop: 'static'
    });

    $('#staticConfigModal').on('shown.bs.modal', function (e) {
        var uri="/admin/firewall-get-by-type";
        $.post(uri,{type:2},function(d) {
            //console.log(d);
            
            if(d.status!=200) {
                $("#staticConfigModalBody").html(d.message);
                $("#staticConfigModalFooter").removeClass("dnone");
            }
            else {
                $("#staticConfigModalForm #userIP").val(d.response.ip_address);
                $("#staticConfigModalForm #mask").val(d.response.mask);
                $("#staticConfigModalForm #gateway").val(d.response.gateway);
                $("#staticConfigModalForm #dns1").val(d.response.dns1);
                $("#staticConfigModalForm #dns2").val(d.response.dns2);
                $('#staticConfigModalLoader').addClass("dnone");
                $("#staticConfigModalForm").removeClass("dnone");
            }
        });
    });

    // $('#staticConfigModal').on('hidden.bs.modal', function (e) {
    //     window.location.reload();
    // });
}

function addStatic() {
  $("#staticConfigModalForm button").attr("disabled", "disabled");
  $(".staticConfigModalLoaderButton").removeClass("dnone");

  $("#staticConfigModalError").addClass("dnone");
  $("#staticConfigModalError").html("");

  $("#staticConfigModalSuccess").addClass("dnone");
  $("#staticConfigModalSuccess").html("");
  

  var ip=$("#userIP").val().replace(/^\s+|\s+$/g,'').replace(/\s+/g,'');
  var mask=$("#mask").val().replace(/^\s+|\s+$/g,'').replace(/\s+/g,'');
  var gateway=$("#gateway").val().replace(/^\s+|\s+$/g,'').replace(/\s+/g,'');
  var dns1=$("#dns1").val().replace(/^\s+|\s+$/g,'').replace(/\s+/g,'');
  var dns2=$("#dns2").val().replace(/^\s+|\s+$/g,'').replace(/\s+/g,'');

  $("#userIP").val(ip);
  $("#mask").val(mask);
  $("#gateway").val(gateway);
  $("#dns1").val(dns1);
  $("#dns2").val(dns2);

  var uri="/admin/firewall-add-static";
  $.post(uri,{ip:ip, mask:mask, gateway:gateway, dns1:dns1, dns2:dns2},function(d) {
      console.log(d);
      
      if(d.status!=200) {
          $("#staticConfigModalError").html(d.message);
          $("#staticConfigModalError").removeClass("dnone");

          $("#staticConfigModalForm button").removeAttr("disabled");
          $(".staticConfigModalLoaderButton").addClass("dnone");
      }
      else {
          $('#staticConfigModal').modal("hide");
          showStatic();
      }
  });
}

function showStatus() {
  $("#firewallMenu button").attr("disabled", "disabled");
  $("#firewallBody").html("Getting Status: &nbsp; <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='removeModalLoader'></i>");

  var uri="/admin/firewall-show-status";
  $.post(uri,{},function(d) {
      //console.log(d);
      
      if(d.status==401) {
          $("#firewallBody").html("No configuration is set. &nbsp; <button class='btn btn-primary btn-xs' onclick='configureConnection()'>Configure Now</button>");
          configureConnection();
      }
      else if(d.status==200) {
          $("#firewallBody").html("<pre>"+d.response+"</pre>");
          $("#firewallMenu").removeClass("dnone");
          $("#firewallMenu button").removeAttr("disabled");
      }
      else {
          $("#firewallBody").html(d.message);
          $("#firewallMenu").removeClass("dnone");
          $("#firewallMenu button").removeAttr("disabled");
      }
  });
}

function showStatic() {
  $("#firewallMenu button").attr("disabled", "disabled");
  $("#firewallBody").html("Executing Static: &nbsp; <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='removeModalLoader'></i>");

  var uri="/admin/firewall-show-static";
  $.post(uri,{},function(d) {
      //console.log(d);
      
      if(d.status!=200) {
          $("#firewallBody").html(d.message);
          $("#firewallMenu button").removeAttr("disabled");
      }
      else {
          $("#firewallBody").html("<pre>"+d.response+"</pre>");
          $("#firewallMenu button").removeAttr("disabled");
      }
  });
}

function showDHCP() {
  $("#firewallMenu button").attr("disabled", "disabled");
  $("#firewallBody").html("Executing DHCP: &nbsp; <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='removeModalLoader'></i>");

  var uri="/admin/firewall-show-dhcp";
  $.post(uri,{},function(d) {
      //console.log(d);
      
      if(d.status!=200) {
          $("#firewallBody").html(d.message);
          $("#firewallMenu button").removeAttr("disabled");
      }
      else {
          $("#firewallBody").html("<pre>"+d.response+"</pre>");
          $("#firewallMenu button").removeAttr("disabled");
      }
  });
}

function showReboot() {
  $("#firewallMenu button").attr("disabled", "disabled");
  $("#firewallBody").html("Executing Reboot: &nbsp; <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='removeModalLoader'></i>");

  var uri="/admin/firewall-show-reboot";
  $.post(uri,{},function(d) {
      //console.log(d);
      
      if(d.status!=200) {
          $("#firewallBody").html(d.message);
          $("#firewallMenu button").removeAttr("disabled");
      }
      else {
          $("#firewallBody").html("<pre>"+d.response+"</pre>");
          $("#firewallMenu button").removeAttr("disabled");
      }
  });
}

$(document).ready(function() {
  // default show status

  var uri="/admin/firewall-check-status";
  $.post(uri,{},function(d) {
      //console.log(d);
      
      if(d.status==401) {
          $("#firewallBody").html("No configuration is set. &nbsp; <button class='btn btn-primary btn-xs' onclick='configureConnection()'>Configure Now</button>");
          configureConnection();
      }
      else if(d.status==200) {
          $("#firewallMenu").removeClass("dnone");
          showStatus();
      }
      else {
          $("#firewallBody").html(d.message);
          $("#firewallMenu").removeClass("dnone");
      }
  });
});
</script>