<?php
?>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="/assets/common/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/assets/common/bootstrap-toggle.min.js"></script>

<div class="content-wrapper">
    <section class="content-header">
        <h3>
            Edit Inbound Route
        </h3>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
     <!-- Bulk Upload user section -->
	 <!-- Bulk Upload user section ends-->

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Edit</h3>
                </div>

                <div class="col-xs-12" style="margin-top: 15px;">
                <div class='table-responsive'>
                    <table id='detailsTable' class='table table-bordered table-striped'>
                        <tr><th>CID Number</th><th>Extension</th><th>Destination</th></tr>
                        <tr>
                            <td><?= $inbound['cid_number'] ?></td>
                            <td><?= $inbound['did_number'] ?></td>
                            <td><?= $inbound['set_destination'] ?></td>
                        </tr>
                    </table>
                </div>
                </div>

                <form method="POST" name="inbounds" class="form-horizontal" id="inboundForm" autocomplete="off">

                <div class="box-body">

                    <input type="hidden" name="extension" value="<?= $inbound['did_number'] ?>" />

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">CID Number</label>
                        <div class="col-sm-8">
                            <input type="text" name="cidnum" class="form-control" placeholder="ANY" value="<?= $inbound['cid_number'] ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <?php
                        $priorityRoute=@$inbound['cid_priority_route'] ? 1 : 0;
                        $priorityChecked="";
                        if($priorityRoute==1) $priorityChecked="checked";
                        ?>

                        <label  class="col-sm-2 control-label">CID Priority Route</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="pricid" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" <?= $priorityChecked ?> />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Alert Info</label>
                        <div class="col-sm-8">
                            <input type="text" name="alertinfo" class="form-control" placeholder="None" value="<?= $inbound['alert_info'] ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Ringer Volume Override</label>
                        <div class="col-sm-8">
                            <select name='rvolume' class='form-control'>
                                <?php
                                foreach($ringVolumes as $k=>$v) {
                                    $selectedRing=$inbound['ringer_volume'];
                                    if($k==$selectedRing) echo "<option value='$k' selected>$v</option>";
                                    else echo "<option value='$k'>$v</option>";
                                }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">CID Name Prefix</label>
                        <div class="col-sm-8">
                            <input type="text" name="grppre" class="form-control" value="<?= $inbound['cid_name_prefix'] ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <?php
                        $mohSelected=$inbound['music_on_hold'];
                        $mohDefault=$mohNone="";
                        if($mohSelected=="0" || $mohSelected=="default") $mohDefault="selected";
                        elseif($mohSelected=="1" || $mohSelected=="none") $mohNone="selected";
                        ?>

                        <label  class="col-sm-2 control-label">Music On Hold</label>
                        <div class="col-sm-8">
                            <select name='mohclass' class='form-control'>
                                <option value='0' <?= $mohDefault ?>>Default</option>
                                <option value='1' <?= $mohNone ?>>None</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php
                        $dest=$inbound['set_destination'];
                        ?>
                        <label  class="col-sm-2 control-label">Set Destination</label>
                        <div class="col-sm-8">
                            <input type="text" name="destination" class="form-control" value="<?= $dest ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <?php
                        $privacyManager=@$inbound['privacy_manager'] ? 1 : 0;
                        $privacyChecked="";
                        if($privacyManager==1) $privacyChecked="checked";
                        ?>

                        <label  class="col-sm-2 control-label">Privacy Manager</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="privacyman" id="privacyman" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" <?= $privacyChecked ?> />
                        </div>
                    </div>

                    <?php
                    $maxAttempts=3;
                    $minLength=10;
                    $privacyDisabled="disabled";

                    if($privacyManager) {
                        $maxAttempts=$inbound['max_attempts'];
                        $minLength=$inbound['min_length'];
                        $privacyDisabled="";
                    }
                    ?>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Max Attempts</label>
                        <div class="col-sm-8">
                            <input type="text" name="pmmaxretries" id="pmmaxretries" class="form-control" value="<?= $maxAttempts ?>" <?= $privacyDisabled ?> />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Min Length</label>
                        <div class="col-sm-8">
                            <input type="text" name="pmminlength" id="pmminlength" class="form-control" value="<?= $minLength ?>" <?= $privacyDisabled ?> />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" name="description" class="form-control" value="<?= $inbound['description'] ?>" />
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-primary" id="submitButton">
                                Update Inbound
                            </button>
                        </div>
                    </div>
                    
                </div>
                </form>
                <!-- /.box-footer -->
            </div>
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>

<script type="text/javascript">
$('#privacyman').change(function() {
    var checkValue=0;
    if(this.checked) checkValue=1;

    if(checkValue==1) {
        $("#pmmaxretries").removeAttr("disabled");
        $("#pmminlength").removeAttr("disabled");
    } else {
        $("#pmmaxretries").attr("disabled", "disabled");
        $("#pmminlength").attr("disabled", "disabled");

        $("#pmmaxretries").val(3);
        $("#pmminlength").val(10);
    }
});

$(document).ready(function() {
    /* SUBMIT TEMPLATE */
    $("#inboundForm").on("submit",function(e) {
        e.preventDefault();

        $("#submitButton").attr("disabled", "disabled");
        $("#submitButton").html("Updating please wait...");
        
        var form=$(this);
        $.ajax({
            url:"/admin/inbounds-update",
            type:"POST",
            data:form.serialize(),
            success:function(d) {
                console.log(d);

                if(d.status!=200) {
                    alert(d.message);

                    $("#submitButton").removeAttr("disabled");
                    $("#submitButton").html("Update Inbound");
                }
                else {
                    $("#submitButton").html("Redirecting please wait...");

                    alert(d.message);
                    window.location.href="/admin/inbounds";
                }
            }
        });
    });
    /* /SUBMIT TEMPLATE */
});
</script>