<?php

?>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="/assets/common/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/assets/common/bootstrap-toggle.min.js"></script>

<div class="content-wrapper">
    <section class="content-header">
        <h3>
            New Inbound Route
        </h3>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
     <!-- Bulk Upload user section -->
	 <!-- Bulk Upload user section ends-->

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Add New</h3>
                </div>

                <form method="POST" name="inbounds" class="form-horizontal" id="inboundForm" autocomplete="off">

                <div class="box-body">

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" name="description" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">DID Number</label>
                        <div class="col-sm-8">
                            <input type="text" name="extension" class="form-control" placeholder="ANY" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">CID Number</label>
                        <div class="col-sm-8">
                            <input type="text" name="cidnum" class="form-control" placeholder="ANY" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">CID Priority Route</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="pricid" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Alert Info</label>
                        <div class="col-sm-8">
                            <input type="text" name="alertinfo" class="form-control" placeholder="None" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Ringer Volume Override</label>
                        <div class="col-sm-8">
                            <select name='rvolume' class='form-control'>
                                <?php
                                foreach($ringVolumes as $k=>$v) {
                                    echo "<option value='$k'>$v</option>";
                                }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">CID Name Prefix</label>
                        <div class="col-sm-8">
                            <input type="text" name="grppre" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Music On Hold</label>
                        <div class="col-sm-8">
                            <select name='mohclass' class='form-control'>
                                <option value='0'>Default</option>
                                <option value='1'>None</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Set Destination</label>
                        <div class="col-sm-8">
                            <input type="text" name="destination" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Privacy Manager</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="privacyman" id="privacyman" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Max Attempts</label>
                        <div class="col-sm-8">
                            <input type="text" name="pmmaxretries" id="pmmaxretries" value="3" class="form-control" disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Min Length</label>
                        <div class="col-sm-8">
                            <input type="text" name="pmminlength" id="pmminlength" value="10" class="form-control" disabled="disabled" />
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-primary" id="submitButton">
                                Add Inbound
                            </button>
                        </div>
                    </div>
                    
                </div>
                </form>
                <!-- /.box-footer -->
            </div>
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>

<script type="text/javascript">
$('#privacyman').change(function() {
    var checkValue=0;
    if(this.checked) checkValue=1;

    if(checkValue==1) {
        $("#pmmaxretries").removeAttr("disabled");
        $("#pmminlength").removeAttr("disabled");
    } else {
        $("#pmmaxretries").attr("disabled", "disabled");
        $("#pmminlength").attr("disabled", "disabled");

        $("#pmmaxretries").val(3);
        $("#pmminlength").val(10);
    }
});

$(document).ready(function() {
    /* SUBMIT TEMPLATE */
    $("#inboundForm").on("submit",function(e) {
        e.preventDefault();

        $("#submitButton").attr("disabled", "disabled");
        $("#submitButton").html("Adding please wait...");
        
        var form=$(this);
        $.ajax({
            url:"/admin/inbounds-save",
            type:"POST",
            data:form.serialize(),
            success:function(d) {
                console.log(d);

                if(d.status!=200) {
                    alert(d.message);

                    $("#submitButton").removeAttr("disabled");
                    $("#submitButton").html("Add Inbound");
                }
                else {
                    $("#submitButton").val("Redirecting please wait...");

                    alert(d.message);
                    window.location.href="/admin/inbounds";
                }
            }
        });
    });
    /* /SUBMIT TEMPLATE */
});
</script>