<body class="hold-transition login-page">
    <div class="login-box">
		<?php echo $this->flashMessenger()->render('success', array('alert alert-success')); ?>
            <?php if (!empty($success)) { ?>
                <div class="alert alert-success fade in"><?php echo $success; ?></div>
            <?php } ?>
            <?php if (!empty($error)) { ?>
                <div class="alert alert-danger fade in">
                    <?php echo $error; ?>
                </div>
            <?php } ?>
        <div class="login-logo">
            <a href="<?php echo $this->url('home') ; ?>"><b>Grand Dunes</b></a> | Admin
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Please Fill the below details</p>
            <?php
            $form->setAttribute('action', $this->basePath() . '/admin/login');
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            <div class="form-group has-feedback">
                <!--<input type="email" class="form-control" placeholder="Email">-->
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <?php echo $this->formRow($form->get('email')); ?>
            </div>
            <div class="form-group has-feedback">
                <!--<input type="password" class="form-control" placeholder="Password">-->
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <?php echo $this->formRow($form->get('password')); ?>
            </div>
            <div class="row" align="center">
<!--                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>-->
                <!-- /.col -->
                <div >
                    <!--<button type="submit" class="btn btn-primary btn-block btn-flat"><br /></button>-->
                    <?php echo $this->formRow($form->get('signin')); ?>
                </div>
                <!-- /.col -->
            </div>
            <!--</form>-->
            <?php echo $this->form()->closeTag(); ?>
        </div>
        <!-- /.login-box-body -->
    </div>
    <?php
    echo $this->headScript()
            ->prependFile($this->basePath('assets/js/jquery.validate.js'))
            ->prependFile($this->basePath('assets/admin/js/bootstrap.min.js'))
            ->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
            ->appendFile($this->basePath('assets/admin/scripts/login.js'))
    ;
    ?>
</body>
