<?php
?>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="/assets/common/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/assets/common/bootstrap-toggle.min.js"></script>

<style type="text/css">
.dialBox {margin-bottom: 5px;}
.dialBox input {width: 150px;}
</style>

<div class="content-wrapper">
    <section class="content-header">
        <h3>
            Edit Outbound Route
        </h3>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
     <!-- Bulk Upload user section -->
	 <!-- Bulk Upload user section ends-->

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Edit</h3>
                </div>

                <div class="col-xs-12" style="margin-top: 15px;">
                <div class='table-responsive'>
                    <table id='detailsTable' class='table table-bordered table-striped'>
                        <tr><th>Route Id</th><th>Name</th><th>Out CID</th></tr>
                        <tr>
                            <td><?= $outbound['route_id'] ?></td>
                            <td><?= $outbound['route_name'] ?></td>
                            <td><?= $outbound['route_cid'] ?></td>
                        </tr>
                    </table>
                </div>
                </div>

                <form method="POST" name="outbounds" class="form-horizontal" id="outboundForm" autocomplete="off">

                <div class="box-body">
                    <input type="hidden" name="route_id" value="<?= $outbound['route_id'] ?>" />

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Route Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="routename" class="form-control" value="<?= $outbound['route_name'] ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Route CID</label>
                        <div class="col-sm-8">
                            <input type="text" name="outcid" class="form-control" value="<?= $outbound['route_cid'] ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <?php
                        $outCidMode=@$outbound['override_extension'] ? 1 : 0;
                        $outCidChecked="";
                        if($outCidMode==1) $outCidChecked="checked";
                        ?>

                        <label  class="col-sm-2 control-label">Override Extension</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="outcid_mode" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" <?= $outCidChecked ?> />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Route Password</label>
                        <div class="col-sm-8">
                            <input type="text" name="routepass" class="form-control" value="<?= $outbound['route_password'] ?>" />
                        </div>
                    </div>

                    <div class='form-group'>
                        <?php
                        $emRoute=@$outbound['emergency']=="yes" ? "checked" : "";
                        $inRoute=@$outbound['intra_company']=="yes" ? "checked" : "";
                        ?>

                        <label class='col-sm-2 control-label'>Route Type</label>
                        <div class='col-sm-8'>
                            <div class='checkbox'>
                                <label>
                                <input type="radio" id="emergency" name="route_type" value="emergency" <?= $emRoute ?> >
                                   <?php /* <input name='emergency' type='checkbox' <?= $emRoute ?>>  */?>
                                    <span class='lbl'> Emergency</span>
                                </label>
                                &nbsp; &nbsp;
                                <label>
                                   <input type="radio" id="intracompany" name="route_type" value="intracompany" <?= $inRoute ?> >
                                    <?php /* <input name='intracompany' type='checkbox' <?= $inRoute ?>> */?>
                                    <span class='lbl'> Intra-Company</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Music On Hold</label>
                        <div class="col-sm-8">
                            <?php
                            $mohSelected=$outbound['music_on_hold'];
                            $mohDefault=$mohNone="";
                            if($mohSelected=="0" || $mohSelected=="default") $mohDefault="selected";
                            elseif($mohSelected=="1" || $mohSelected=="none") $mohNone="selected";
                            ?>
                            <select name='mohsilence' class='form-control'>
                                <option value='0' <?= $mohDefault ?>>Default</option>
                                <option value='1' <?= $mohNone ?>>None</option>
                            </select>
                        </div>
                    </div>

                    <?php /*
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Route Position</label>
                        <?php
                        $routePositions=array("Select", "First Before", "No Change", "Last After");
                        $position=@$outbound['route_position'];
                        ?>
                        <div class="col-sm-8">
                            <select name="route_seq" class="form-control">
                                <?php
                                foreach($routePositions as $k=>$v) {
                                    if($k==$position) echo "<option value='$k' selected='selected'>$v</option>";
                                    else echo "<option value='$k'>$v</option>";
                                }
                                ?>
                            </select>
                        </div>
                    </div>
                    */ ?>

                    <div class="form-group">
                        <?php
                        $trunkSequence=@explode(",", $outbound['trunk_sequence']);
                        $trunkSequence1=trim(@$trunkSequence[0]) ? trim(@$trunkSequence[0]) : "";
                        $trunkSequence2=trim(@$trunkSequence[1]) ? trim(@$trunkSequence[1]) : "";
                        $trunkSequence3=trim(@$trunkSequence[2]) ? trim(@$trunkSequence[2]) : "";
                        ?>
                        <label  class="col-sm-2 control-label">Trunk Sequence</label>
                        <div class="col-sm-8">
                            <input type="text" name="trunkpriority[]" class="form-control mb5" value="<?= $trunkSequence1 ?>" placeholder="Trunk Sequence 1" />
                            <input type="text" name="trunkpriority[]" class="form-control mb5" value="<?= $trunkSequence2 ?>" placeholder="Trunk Sequence 2" />
                            <input type="text" name="trunkpriority[]" class="form-control" value="<?= $trunkSequence3 ?>" placeholder="Trunk Sequence 3" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Optional Destination</label>
                        <div class="col-sm-8">
                            <input type="text" name="destination" class="form-control" value="<?= @$outbound['optional_destination'] ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <?php
                        $prepend=@explode(",", $outbound['prepend_digits']);
                        $prefix=@explode(",", $outbound['match_prefix']);
                        $pass=@explode(",", $outbound['match_pattern']);
                        $matchCid=@explode(",", $outbound['match_cid']);

                        $maxCount=0;
                        if(count($prepend)>$maxCount) $maxCount=count($prepend);
                        if(count($prefix)>$maxCount) $maxCount=count($prefix);
                        if(count($pass)>$maxCount) $maxCount=count($pass);
                        if(count($matchCid)>$maxCount) $maxCount=count($matchCid);
                        ?>
                        <label  class="col-sm-2 control-label">Dial Pattern</label>
                        <div class="col-sm-8" id="dialPattern">
                            <?php if(!$maxCount) { ?>
                            <div class="dialBox" id="dialBox_0">
                                <input type="text" name="prepend[]" id="prepend_0" placeholder="prepend">
                                <input type="text" name="prefix[]" id="prefix_0" placeholder="prefix">
                                <input type="text" name="pattern[]" id="pattern_0" placeholder="match pattern">
                                <input type="hidden" name="cid[]" id="cid_0" placeholder="CallerID">
                                &nbsp;
                                <button type="button" onclick="addDialBox()"><i class="fa fa-plus"></i></button>
                                <button type="button" onclick="remDialBox(0)"><i class="fa fa-trash"></i></button>
                            </div>
                            <?php } else { for($i=0; $i<$maxCount; $i++) { ?>
                            <div class="dialBox" id="dialBox_<?= $i ?>">
                                <input type="text" name="prepend[]" id="prepend_<?= $i ?>" placeholder="prepend" value="<?= @trim($prepend[$i]) ?>">
                                <input type="text" name="prefix[]" id="prefix_<?= $i ?>" placeholder="prefix" value="<?= @trim($prefix[$i]) ?>">
                                <input type="text" name="pattern[]" id="pattern_<?= $i ?>" placeholder="match pattern" value="<?= @trim($pass[$i]) ?>">
                                <input type="hidden" name="cid[]" id="cid_<?= $i ?>" placeholder="CallerID" value="<?= @trim($matchCid[$i]) ?>">
                                &nbsp;
                                <button type="button" onclick="addDialBox()"><i class="fa fa-plus"></i></button>
                                <button type="button" onclick="remDialBox(<?= $i ?>)"><i class="fa fa-trash"></i></button>
                            </div>
                            <?php }} ?>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="submit" name="submit" class="btn btn-primary" id="submitButton" value="Update Outbound Route">
                        </div>
                    </div>
                    
                </div>
                </form>
                <!-- /.box-footer -->
            </div>
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>

<input type="hidden" id="counter" value="<?= ($maxCount+1) ?>">

<script type="text/javascript">

function addDialBox() {
    var counter=parseInt($("#counter").val());

    // increase thr counter
    var newCount=eval(counter+1);
    $("#counter").val(newCount);

    $("#dialPattern").append("\
        <div class='dialBox' id='dialBox_"+counter+"'>\
            <input type='text' name='prepend[]' id='prepend_"+counter+"' placeholder='prepend'>\
            <input type='text' name='prefix[]' id='prefix_"+counter+"' placeholder='prefix'>\
            <input type='text' name='pattern[]' id='pattern_"+counter+"' placeholder='match pattern'>\
            <input type='hidden' name='cid[]' id='cid_"+counter+"' placeholder='CallerID'>\
            &nbsp;\
            <button type='button' onclick='addDialBox()'><i class='fa fa-plus'></i></button>\
            <button type='button' onclick=remDialBox("+counter+")><i class='fa fa-trash'></i></button>\
        </div>\
    ");
}

function remDialBox(counter) {
    // check if there is a single dialBox
    var dialBoxLength=parseInt($("#dialPattern .dialBox").length);
    if(dialBoxLength=="1") {
        $("#prepend_"+counter).val("");
        $("#prefix_"+counter).val("");
        $("#pattern_"+counter).val("");
        $("#cid_"+counter).val("");
        return;
    }

    $("#dialBox_"+counter).remove();
}

$(document).ready(function() {
    /* SUBMIT TEMPLATE */
    $("#outboundForm").on("submit",function(e) {
        e.preventDefault();

        $("#submitButton").attr("disabled", "disabled");
        $("#submitButton").val("Updating please wait...");
        
        var form=$(this);
        $.ajax({
            url:"/admin/outbounds-update",
            type:"POST",
            data:form.serialize(),
            success:function(d) {
                console.log(d);

                if(d.status!=200) {
                    alert(d.message);

                    $("#submitButton").removeAttr("disabled");
                    $("#submitButton").val("Update Outbound Route");
                }
                else {
                    $("#submitButton").val("Redirecting please wait...");

                    alert(d.message);
                    window.location.href="/admin/outbounds";
                }
            }
        });
    });
    /* /SUBMIT TEMPLATE */
});
</script>