<?php
?>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="/assets/common/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/assets/common/bootstrap-toggle.min.js"></script>

<style type="text/css">
.dialBox, .mb5 {margin-bottom: 5px;}
.dialBox input {width: 150px;}
</style>

<div class="content-wrapper">
    <section class="content-header">
        <h3>
            New Outbound Route
        </h3>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
     <!-- Bulk Upload user section -->
	 <!-- Bulk Upload user section ends-->

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Add New</h3>
                </div>

                <form method="POST" name="outbounds" class="form-horizontal" id="outboundForm" autocomplete="off">

                <div class="box-body">

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Route Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="routename" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Route CID</label>
                        <div class="col-sm-8">
                            <input type="text" name="outcid" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Override Extension</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="outcid_mode" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Route Password</label>
                        <div class="col-sm-8">
                            <input type="text" name="routepass" class="form-control" />
                        </div>
                    </div>

                    <div class='form-group'>
                        <label class='col-sm-2 control-label'>Route Type</label>
                        <div class='col-sm-8'>
                            <div class='checkbox'>
                                <label>
                                    <input type="radio" id="emergency" name="route_type" value="emergency">
                                    <!--<input name='emergency' type='checkbox'>  -->
                                    <span class='lbl'> Emergency</span>
                                </label>
                                &nbsp; &nbsp;
                                <label>
                                    <input type="radio" id="intracompany" name="route_type" value="intracompany">
                                    <!--<input name='intracompany' type='checkbox'> --> 
                                    <span class='lbl'> Intra-Company</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Music On Hold</label>
                        <div class="col-sm-8">
                            <select name='mohsilence' class='form-control'>
                                <option value='0'>Default</option>
                                <option value='1'>None</option>
                            </select>
                        </div>
                    </div>

                    <?php /*
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Route Position</label>
                        <?php
                        $routePositions=array("Select", "First Before", "No Change", "Last After");
                        ?>
                        <div class="col-sm-8">
                            <select name="route_seq" class="form-control">
                                <?php
                                foreach($routePositions as $k=>$v) {
                                    echo "<option value='$k'>$v</option>";
                                }
                                ?>
                            </select>
                        </div>
                    </div>
                    */ ?>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Trunk Sequence</label>
                        <div class="col-sm-8">
                            <input type="text" name="trunkpriority[]" class="form-control mb5" placeholder="Trunk Sequence 1" />
                            <input type="text" name="trunkpriority[]" class="form-control mb5" placeholder="Trunk Sequence 2" />
                            <input type="text" name="trunkpriority[]" class="form-control" placeholder="Trunk Sequence 3" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Optional Destination</label>
                        <div class="col-sm-8">
                            <input type="text" name="destination" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Dial Pattern</label>
                        <div class="col-sm-8" id="dialPattern">
                            <div class="dialBox" id="dialBox_0">
                                <input type="text" name="prepend[]" id="prepend_0" placeholder="prepend">
                                <input type="text" name="prefix[]" id="prefix_0" placeholder="prefix">
                                <input type="text" name="pattern[]" id="pattern_0" placeholder="match pattern">
                                <input type="hidden" name="cid[]" id="cid_0" placeholder="CallerID">
                                &nbsp;
                                <button type="button" onclick="addDialBox()"><i class="fa fa-plus"></i></button>
                                <button type="button" onclick="remDialBox(0)"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-primary" id="submitButton">
                                Add Outbound
                            </button>
                        </div>
                    </div>
                    
                </div>
                </form>
                <!-- /.box-footer -->
            </div>
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>

<input type="hidden" id="counter" value="1">

<script type="text/javascript">

function addDialBox() {
    var counter=parseInt($("#counter").val());

    // increase thr counter
    var newCount=eval(counter+1);
    $("#counter").val(newCount);

    $("#dialPattern").append("\
        <div class='dialBox' id='dialBox_"+counter+"'>\
            <input type='text' name='prepend[]' id='prepend_"+counter+"' placeholder='prepend'>\
            <input type='text' name='prefix[]' id='prefix_"+counter+"' placeholder='prefix'>\
            <input type='text' name='pattern[]' id='pattern_"+counter+"' placeholder='match pattern'>\
             <input type='hidden' name='cid[]' id='cid_"+counter+"' placeholder='CallerID'>\
            &nbsp;\
            <button type='button' onclick='addDialBox()'><i class='fa fa-plus'></i></button>\
            <button type='button' onclick=remDialBox("+counter+")><i class='fa fa-trash'></i></button>\
        </div>\
    ");
}

function remDialBox(counter) {
    // check if there is a single dialBox
    var dialBoxLength=parseInt($("#dialPattern .dialBox").length);
    if(dialBoxLength=="1") {
        $("#prepend_"+counter).val("");
        $("#prefix_"+counter).val("");
        $("#pattern_"+counter).val("");
        $("#cid_"+counter).val("");
        return;
    }

    $("#dialBox_"+counter).remove();
}

$(document).ready(function() {
    /* SUBMIT TEMPLATE */
    $("#outboundForm").on("submit",function(e) {
        e.preventDefault();

        $("#submitButton").attr("disabled", "disabled");
        $("#submitButton").html("Adding please wait...");
        
        var form=$(this);
        $.ajax({
            url:"/admin/outbounds-save",
            type:"POST",
            data:form.serialize(),
            success:function(d) {
                console.log(d);

                if(d.status!=200) {
                    alert(d.message);

                    $("#submitButton").removeAttr("disabled");
                    $("#submitButton").html("Add Outbound Route");
                }
                else {
                    $("#submitButton").html("Redirecting please wait...");

                    alert(d.message);
                    window.location.href="/admin/outbounds";
                }
            }
        });
    });
    /* /SUBMIT TEMPLATE */
});
</script>