<style type="text/css">
.dnone {display: none;}
</style>

<div class="content-wrapper">
<div class="box">

  <div class="box-header with-border col-xs-3">
    <h3 class="box-title" style="padding: 20px 30px; background: rgb(60, 141, 188); font-size: 16px; font-weight: 600; color: #FFF; ">Screen Savers</h3>
  </div>

    <div class="col-xs-6" style="margin-top: 20px;">
        <form method="POST" name="uploadForm" class="form-horizontal" id="uploadForm" autocomplete="off" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-sm-3" style="padding-right: 0px;">
                    <select class="form-control" name="mode">
                        <option value="landscape">Landscape</option>
                        <option value="portraits">Portrait</option>
                    </select>
                </div>
                <div class="col-sm-6" style="padding-right: 0px;">
                    <input type="file" name="file" class="form-control" style="border-radius: 0px;" />
                </div>
                <div class="col-sm-3" style="padding-left: 0px;">
                    <button type="submit" class='btn btn-primary' id="submitButton" style="border-radius: 0px;">
                        <i class='fa fa-upload'></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

  <div class="col-xs-3" align="right" style="margin-top: 20px;">
    <button class='btn btn-primary' onclick="setPlayTime(<?= $playTime ?>)">
        <i class='fa fa-clock-o'></i>&nbsp;
        <?= ($playTime) ?> Sec
    </button>
    &nbsp; &nbsp; &nbsp;
    <button class='btn btn-danger' id="removeAllButton" onclick="removeAll()" disabled="disabled">
        <i class='fa fa-trash'></i>&nbsp;
        Remove All
    </button>
  </div>

  <!-- /.box-header -->
  <div class="clearfix"></div>
  
  <div class="col-xs-12">
        <div class='alert alert-info' style="background-color: #f5f5f5 !important; border-color: #eee; color: #555 !important;">
            <ul style="list-style-type:disc">
                <li>The resolution of 24" is 1920*1080.</li>
                <li>The resolution of 19" is 1440*900.</li>
                <li>The resolution of 12.1" is 1280*800.</li>
            </ul>
        </div>
  </div>

  <div class="box-body">


<?php if(!$records) echo "No details found"; else { ?>
<div class="">
<table id="filesTable" class="table table-bordered table-striped" style="white-space: nowrap; width: 100%;">
    <thead>
        <tr>
            <th>S.No</th>
            <th>File</th>
            <th>Mode</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <?php
        $i=1;
        foreach($records as $k=>$filename) {
            // check landscape or portrait
            $type=substr($filename, 0, 10);
            $filteredName=substr($filename, 10);
            
            $mode="Landscape";
            if($type=="portraits_") $mode="Portrait";
            ?>
            <tr id="row<?= $i ?>">
                <td><?= $i ?></td>
                <td><?= $filteredName ?></td>
                <td><?= $mode ?></td>
                <td class="waitLoader">
                    <a href="/admin/screen_saver_view?f=<?= $filename ?>" class="btn btn-app" alt="View" target="_blank"> <i class="fa fa-eye"></i>View</a>

                    <a class="btn btn-app" id="delBut" alt="Delete" href="javascript:void(0);" data-value="<?= $filename ?>"> <i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
            <?php
            $i++;
        }
        unset($i);
        ?>
    </tbody>
</table>
</div>
<?php } ?>


  </div>
  <!-- /.box-body -->

</div>
</div>




<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<?php 
echo $this->headScript()         
->prependFile($this->basePath() . '/assets/datatables/media/js/dataTables.bootstrap.js', 'text/javascript')
->prependFile($this->basePath() . '/assets/datatables/media/js/jquery.dataTables.js', 'text/javascript')
->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
;
?>

<?php echo $this->headLink()         
->appendStylesheet($this->basePath() . '/assets/datatables/media/css/dataTables.bootstrap.css')
->appendStylesheet($this->basePath() . '/assets/datatables/media/css/jquery.dataTables.css');
?>

<div id="modalFrame"></div>

<script type="text/javascript">
jQuery(function($) {
    // inbound table
    var table=$('#filesTable').DataTable( {
        "bFilter": true,
        "paging":   true,
        "ordering": false,
        "info":     true,
    });

    $('#filesTable').on("click", "#delBut", function(){
        var row=$(this);
        var filename=$(this).attr("data-value");
        var response=removeFile(filename, function(d) {
            if(d=="success") {
                table.row(row.parents('tr')).remove().draw(false);
            }
        });
    });

    // remove disable if record found
    var totalFiles="<?= $totalFiles ?>";
    if(totalFiles>0) $("#removeAllButton").removeAttr("disabled");
});

function setPlayTime(playTime) {
    $("#modalFrame").html("\
        <div class='modal fade' id='timeModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Screen Savers Play Time</h4>\
                    </div>\
                    <div class='modal-body' id='timeModalBody' style='padding-top:30px;'>\
                        <div class='alert alert-warning dnone' id='timeModalAlert'></div>\
                        <form class='form-horizontal' id='timeForm' autocomplete='off'>\
                            <div class='form-group'>\
                                <label class='col-sm-3 control-label'>Play Time</label>\
                                <div class='col-sm-9'>\
                                    <input type='text' class='form-control' id='timeInput' value='<?= $playTime?>' placeholder='<?= $playTime ?> Sec' />\
                                </div>\
                            </div>\
                            <div class='form-group clearfix mt30'>\
                                <div class='col-sm-offset-3 col-sm-9' id='timeModalButtons'>\
                                    <button type='button' class='btn btn-primary btn-sm' onclick='updateTime()'>Update</button> &nbsp;\
                                    <button type='button' class='btn btn-danger btn-sm' data-dismiss='modal'>Cancel</button>\
                                    &nbsp; &nbsp; \
                                    <span id='timeModalLoader'></span>\
                                </div>\
                            </div>\
                        </form>\
                    </div>\
                    <div class='modal-footer'></div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    $('#timeModal').modal({
        backdrop: 'static'
    });
}

function updateTime() {
    $("#timeModalAlert").addClass("dnone");
    $("#timeModalAlert").html("");

    var playTime=$("#timeInput").val().replace(/^\s+|\s+$/g,'').replace(/\s+/g,'');
    $("#timeInput").val(playTime);

    var oldValue=parseInt("<?= $playTime ?>");
    if(playTime==oldValue) {
        $("#timeModalAlert").html("Value is same as the previous value.");
        $("#timeModalAlert").removeClass("dnone");
        return;
    }

    var cashType=$('input[name=cash_type]:checked', '#cashForm').val();

    $("#timeModalButtons button").attr("disabled", "disabled");
    $("#timeModalLoader").html("<i class='ace-icon fa fa-spinner fa-spin orange bigger-125'></i>");

    var uri="/admin/screen-saver-play-time";
    $.post(uri,{play_time:playTime},function(d) {
        //console.log(d);

        if(d.status!=200) {
            $("#timeModalAlert").html(d.message);
            $("#timeModalAlert").removeClass("dnone");
            $("#timeModalButtons button").removeAttr("disabled");
            $("#timeModalLoader").html("");
        }
        else {
            $("#timeModalAlert").html(d.message);
            $("#timeModalAlert").removeClass("dnone");
            window.location.reload();
        }
    });
}

function removeFile(filename, callback) {
    $("#modalFrame").html("\
        <div class='modal fade' id='deleteModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Deleting please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='deleteModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='deleteModalLoader'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='deleteModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    var confirmMessage="Are you sure you want to remove this file?";

    var confirmm=confirm(confirmMessage);
    if(confirmm) {
        $('#deleteModal').modal({
            backdrop: 'static'
        });
    }

    $('#deleteModal').on('shown.bs.modal', function (e) {
        var uri="/admin/screen-saver-delete";
        $.post(uri,{type:"1", name:filename},function(d) {
            //console.log(d);
            
            if(d.status!=200) {
                $("#deleteModalBody").html(d.message);
                $("#deleteModalFooter").removeClass("dnone");
                callback("fail");
            }
            else {
                $("#deleteModalBody").html("Data Deleted!");
                $('#deleteModal').modal("hide");
                callback("success");
            }
        });
    });
}

function removeAll() {
    $("#modalFrame").html("\
        <div class='modal fade' id='removeModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Removing please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='removeModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='removeModalLoader'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='removeModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    var confirmMessage="Are you sure you want to remove all the files?";

    var confirmm=confirm(confirmMessage);
    if(confirmm) {
        $('#removeModal').modal({
            backdrop: 'static'
        });
    }

    $('#removeModal').on('shown.bs.modal', function (e) {
        var uri="/admin/screen-saver-delete";
        $.post(uri,{type:2},function(d) {
            //console.log(d);
            
            if(d.status!=200) {
                $("#removeModalBody").html(d.message);
                $("#removeModalFooter").removeClass("dnone");
            }
            else {
                $("#removeModalBody").html("Data Deleted!");
                $('#removeModal').modal("hide");
                window.location.reload();
            }
        });
    });
}

$(document).ready(function() {
    /* SUBMIT TEMPLATE */
    $('#uploadForm').on('submit',(function(e) {
        e.preventDefault();
        var formData = new FormData(this);

        $("#submitButton").attr("disabled", "disabled");
        $("#submitButton").html("Uploading...");

        $.ajax({
            type:'POST',
            url:"/admin/screen-saver-upload",
            data:formData,
            cache:false,
            contentType: false,
            processData: false,
            success:function(d) {
                //console.log(d);

                if(d.status!=200) {
                    alert(d.message);

                    $("#submitButton").removeAttr("disabled");
                    $("#submitButton").html("<i class='fa fa-upload'></i>");
                }
                else {
                    $("#submitButton").html("Reloading...");

                    alert(d.message);
                    window.location.reload();
                }
            },
            error: function(d){
                alert("File not uploaded, please try again.");

                $("#submitButton").removeAttr("disabled");
                $("#submitButton").html("<i class='fa fa-upload'></i>");

                // console.log("error");
                // console.log(data);
            }
        });
    }));
    /* /SUBMIT TEMPLATE */
});
</script>