<?php
$trunkTypes=array("sip", "iax2");
$trunkType=@$_GET['type'];

if(!$trunkType || !in_array($trunkType, $trunkTypes)) {
    header('Location: /admin/trunks');
    die();
}

$pageLabel=strtoupper($trunkType);
?>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="/assets/common/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/assets/common/bootstrap-toggle.min.js"></script>

<style type="text/css">
.dialBox {margin-bottom: 5px;}
.dialBox input {width: 150px;}
.dnone {display: none;}
</style>

<div class="content-wrapper">
    <section class="content-header">
        <h3>
            Add Trunk
        </h3>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
     <!-- Bulk Upload user section -->
	 <!-- Bulk Upload user section ends-->

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Add <?= $pageLabel ?> Trunk</h3>
                </div>

                <form method="POST" name="trunks" class="form-horizontal" id="trunkForm" autocomplete="off">

                <div class="box-body">
                    <input type="hidden" name="tech" value="<?= strtoupper($trunkType) ?>" class="form-control" />

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Trunk Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Hide CallerID</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="hcid" id="hcid" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" />
                        </div>
                    </div>

                    <div class="form-group" id="outcidBox">
                        <label  class="col-sm-2 control-label">Outbound CID</label>
                        <div class="col-sm-8">
                            <input type="text" name="outcid" id="outcid" class="form-control" />
                        </div>
                    </div>

                    <div class='form-group'>
                        <?php
                        $cidOptions=array(
                            "off"=>"Allow Any CID", "on"=>"Block Foreign CIDs",
                            "cnum"=>"Remove CNAM", "all"=>"Force Trunk CID"
                        );
                        ?>

                        <label class='col-sm-2 control-label'>CID Options</label>
                        <div class='col-sm-8'>
                            <select name='keepcid' class='form-control'>
                                <?php
                                foreach($cidOptions as $k=>$v) {
                                    echo "<option value='$k'>$v</option>";
                                }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Maximum Channels</label>
                        <div class="col-sm-8">
                            <input type="number" name="maxchans" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Dial Options</label>
                        <div class="col-sm-8">
                            <input type="text" name="dialopts" id="dialopts" class="form-control" placeholder="Tt" disabled="disabled" />
                            <input type="checkbox" name="dialoutopts_cb" id="dialoutopts_cb" class="form-control" data-toggle="toggle" data-on="Override", data-off="System" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Continue If Busy</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="continue" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Disable Trunk</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="disabletrunk" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Dial Pattern</label>
                        <div class="col-sm-8" id="dialPattern">
                            <div class="dialBox" id="dialBox_0">
                                <input type="text" name="prepend[]" id="prepend_0" placeholder="prepend">
                                <input type="text" name="prefix[]" id="prefix_0" placeholder="prefix">
                                <input type="text" name="pattern[]" id="pattern_0" placeholder="match pattern">
                                <input type="text" name="cid[]" id="cid_0" placeholder="CallerID">
                                &nbsp;
                                <button type="button" onclick="addDialBox()"><i class="fa fa-plus"></i></button>
                                <button type="button" onclick="remDialBox(0)"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Outbound Dial Prefix</label>
                        <div class="col-sm-8">
                            <input type="text" name="dialoutprefix" class="form-control" />
                        </div>
                    </div>

                </div>

                <div class="box-body">
                    <h3>Outgoing <?= $pageLabel ?> Setting</h3>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Trunk Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="channelid" class="form-control" />
                        </div>
                    </div>

                    <!--
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Peer Details</label>
                        <div class="col-sm-8">

<textarea name="peerdetails" class="form-control" style="height: 200px;">
host=***provider ip address***
username=***userid***
secret=***password***
type=peer</textarea>

                        </div>
                    </div>
                    -->

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Peer Details</label>
                        <div class="col-sm-8">
                            <input type="text" name="peer_details" class="form-control" placeholder="host=type=nat" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Peer Values</label>
                        <div class="col-sm-8">
                            <input type="text" name="peer_values" class="form-control" placeholder="192.168.59=peer=yes" />
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <h3>Incoming <?= $pageLabel ?> Setting</h3>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">User Context</label>
                        <div class="col-sm-8">
                            <input type="text" name="usercontext" class="form-control" />
                        </div>
                    </div>

                    <!--
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">User Details</label>
                        <div class="col-sm-8">

<textarea name="userconfig" class="form-control" style="height: 150px;">
secret=***password***
type=user
context=from-trunk</textarea>

                        </div>
                    </div>-->

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">User Details</label>
                        <div class="col-sm-8">
                            <input type="text" name="user_details" class="form-control" placeholder="host=type=nat" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">User Values</label>
                        <div class="col-sm-8">
                            <input type="text" name="user_values" class="form-control" placeholder="192.168.59=user=no" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Register String</label>
                        <div class="col-sm-8">
                            <input type="text" name="register" class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="submit" name="submit" class="btn btn-primary" id="submitButton" value="Add <?= $pageLabel ?> Trunk">
                        </div>
                    </div>
                    
                </div>
                </form>
                <!-- /.box-footer -->
            </div>
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>

<input type="hidden" id="counter" value="1">

<script type="text/javascript">
$('#hcid').change(function() {
    var checkValue=0;
    if(this.checked) checkValue=1;

    if(checkValue==1) {
        $("#outcidBox").addClass("dnone");
        $("#outcid").val("");
    } else {
        $("#outcidBox").removeClass("dnone");
    }
});

$('#dialoutopts_cb').change(function() {
    var checkValue=0;
    if(this.checked) checkValue=1;

    if(checkValue==1) {
        $("#dialopts").removeAttr("disabled");
    } else {
        $("#dialopts").attr("disabled", "disabled");
        $("#dialopts").val("");
    }
});

function addDialBox() {
    var counter=parseInt($("#counter").val());

    // increase thr counter
    var newCount=eval(counter+1);
    $("#counter").val(newCount);

    $("#dialPattern").append("\
        <div class='dialBox' id='dialBox_"+counter+"'>\
            <input type='text' name='prepend[]' id='prepend_"+counter+"' placeholder='prepend'>\
            <input type='text' name='prefix[]' id='prefix_"+counter+"' placeholder='prefix'>\
            <input type='text' name='pattern[]' id='pattern_"+counter+"' placeholder='match pattern'>\
            <input type='text' name='cid[]' id='cid_"+counter+"' placeholder='CallerID'>\
            &nbsp;\
            <button type='button' onclick='addDialBox()'><i class='fa fa-plus'></i></button>\
            <button type='button' onclick=remDialBox("+counter+")><i class='fa fa-trash'></i></button>\
        </div>\
    ");
}

function remDialBox(counter) {
    // check if there is a single dialBox
    var dialBoxLength=parseInt($("#dialPattern .dialBox").length);
    if(dialBoxLength=="1") {
        $("#prepend_"+counter).val("");
        $("#prefix_"+counter).val("");
        $("#pattern_"+counter).val("");
        $("#cid_"+counter).val("");
        return;
    }

    $("#dialBox_"+counter).remove();
}

$(document).ready(function() {
    /* SUBMIT TEMPLATE */
    $("#trunkForm").on("submit",function(e) {
        e.preventDefault();

        $("#submitButton").attr("disabled", "disabled");
        $("#submitButton").val("Adding please wait...");
        
        var form=$(this);
        $.ajax({
            url:"/admin/trunks-save",
            type:"POST",
            data:form.serialize(),
            success:function(d) {
                console.log(d);

                if(d.status!=200) {
                    alert(d.message);

                    $("#submitButton").removeAttr("disabled");
                    $("#submitButton").val("Add <?= $pageLabel ?> Trunk");
                }
                else {
                    $("#submitButton").val("Redirecting please wait...");

                    alert(d.message);
                    window.location.href="/admin/trunks";
                }
            }
        });
    });
    /* /SUBMIT TEMPLATE */
});
</script>