<style type="text/css">
.dnone {display: none;}
</style>

<div class="content-wrapper">
<div class="box">

  <div class="box-header with-border col-xs-6">
    <h3 class="box-title" style="padding: 20px 30px; background: rgb(60, 141, 188); font-size: 16px; font-weight: 600; color: #FFF; ">Trunks</h3>
  </div>

  <div class="col-xs-6" align="right" style="margin-top: 20px;">
    <!-- <button class='btn btn-primary' onclick="syncData()">
        <i class='fa fa-retweet'></i>
        Sync
    </button>
    &nbsp; &nbsp; -->

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Add New Trunk
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/admin/trunks_add?type=sip">SIP</a></li>
            <li><a href="/admin/trunks_add?type=iax2">IAX2</a></li>
        </ul>
    </div>
  </div>

  <!-- /.box-header -->
  <div class="clearfix"></div>

  <div class="box-body">


<?php if(!$records) echo "No details found"; else { ?>
<div class="">
<table id="trunksTable" class="table table-bordered table-striped" style="white-space: nowrap; width: 100%;">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Tech</th>
            <th>Caller ID</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <?php
        $i=1;
        foreach($records as $k=>$data) {
            $tid=$data['trunk_id'];

            $disabled=$data['disable_trunk'];
            $status=($disabled=="on") ? "Disabled" : "Enabled";
            ?>
            <tr>
                <td><?= $i ?></td>
                <td><?= $data['trunk_name'] ?></td>
                <td><?= $data['tech'] ?></td>
                <td><?= $data['outbound_cid'] ?></td>
                <th><?= $status ?></th>
                <td>
                    <a href="/admin/trunks_edit?tid=<?= $tid ?>" class="btn btn-app" id="edit" alt="Edit" title="Click here to edit"> <i class="fa fa-edit"></i>Edit</a>

                    <a class="btn btn-app" id="delBut" alt="Delete" title="Click here to delete" href="javascript:void(0);" data-value="<?= $tid ?>"> <i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
            <?php
            $i++;
        }
        unset($i);
        ?>
    </tbody>
</table>
</div>
<?php } ?>


  </div>
  <!-- /.box-body -->

</div>
</div>




<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<?php 
echo $this->headScript()         
->prependFile($this->basePath() . '/assets/datatables/media/js/dataTables.bootstrap.js', 'text/javascript')
->prependFile($this->basePath() . '/assets/datatables/media/js/jquery.dataTables.js', 'text/javascript')
->prependFile($this->basePath('plugins/jQuery/jquery-2.2.3.min.js'))
;
?>

<?php echo $this->headLink()         
->appendStylesheet($this->basePath() . '/assets/datatables/media/css/dataTables.bootstrap.css')
->appendStylesheet($this->basePath() . '/assets/datatables/media/css/jquery.dataTables.css');
?>

<div id="modalFrame"></div>

<script type="text/javascript">
jQuery(function($) {
    // outbound table
    var table=$('#trunksTable').DataTable( {
        "bFilter": true,
        "paging":   true,
        "ordering": false,
        "info":     true,
    });

    $('#trunksTable').on("click", "#delBut", function(){
        var row=$(this);
        var tid=$(this).attr("data-value");
        var response=deleteTrunk(tid, function(d) {
            if(d="success") {
                table.row(row.parents('tr')).remove().draw(false);
            }
        });
    });
});

// Sync Data
function syncData() {
    $("#modalFrame").html("\
        <div class='modal fade' id='syncModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Syncing please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='syncModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='syncModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    $('#syncModal').modal({
        backdrop: 'static'
    });

    $('#syncModal').on('shown.bs.modal', function (e) {
        var uri="/admin/trunks-sync";
        $.post(uri,{status:"ok"},function(d) {
            //console.log(d);

            if(d.status!=200) {
                $("#syncModalBody").html(d.message);
                $("#syncModalFooter").removeClass("dnone");
            }
            else {
                $("#syncModalBody").html(d.message);
                alert(d.message);
                window.location.reload();
            }
            
        });
    });
}

function deleteTrunk(tid, callback) {
    $("#modalFrame").html("\
        <div class='modal fade' id='deleteModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>\
            <div class='modal-dialog' role='document'>\
                <div class='modal-content'>\
                    <div class='modal-header'>\
                        <h4 class='modal-title' id='myModalLabel'>Deleting please wait...</h4>\
                    </div>\
                    <div class='modal-body' id='deleteModalBody'>\
                        <i class='ace-icon fa fa-spinner fa-spin orange bigger-125' id='deleteModalLoader'></i>\
                    </div>\
                    <div class='modal-footer'>\
                        <button type='button' class='btn btn-danger btn-xs dnone' id='deleteModalFooter' data-dismiss='modal'>Close</button>\
                    </div>\
                </div>\
            </div>\
        </div>\
    ");

    /* FUNCTIONALITIES */

    var confirmMessage="Are you sure you want to remove the trunk?";

    var confirmm=confirm(confirmMessage);
    if(confirmm) {
        $('#deleteModal').modal({
            backdrop: 'static'
        });
    }

    $('#deleteModal').on('shown.bs.modal', function (e) {
        var uri="/admin/trunks-delete";
        $.post(uri,{trunkid:tid},function(d) {
            console.log(d);
            
            if(d.status!=200) {
                $("#deleteModalBody").html(d.message);
                $("#deleteModalFooter").removeClass("dnone");
                callback("fail");
            }
            else {
                $("#deleteModalBody").html("Data Deleted!");
                $('#deleteModal').modal("hide");
                callback("success");
            }
        });
    });
}
</script>