<?php
// echo "<pre>";
// print_r($trunk);
// die();

$trunkId=$trunk['trunk_id'];

$trunkTypes=array("sip", "iax2");
$trunkType=@strtolower($trunk['tech']);

if(!$trunkType || !in_array($trunkType, $trunkTypes)) $trunkType="sip";

$pageLabel=strtoupper($trunkType);

$disabled=$trunk['disable_trunk'];
$thisStatus=($disabled=="on") ? "Disabled" : "Enabled";

// $dialDetails=preg_replace('/\s+/', ' ', $dialDetails);
// if($dialDetails!="0 results found.") {
//     sscanf($dialDetails, "%s : %s %s", $ignore1, $dialDetails, $ignore2);
// } else $dialDetails="";
?>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="/assets/common/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/assets/common/bootstrap-toggle.min.js"></script>

<style type="text/css">
.dialBox {margin-bottom: 5px;}
.dialBox input {width: 150px;}
.dnone {display: none;}
</style>

<div class="content-wrapper">
    <section class="content-header">
        <h3>
            Edit Trunk
        </h3>
        <ol class="breadcrumb">
            <li><a href="<?php echo $this->url('admindashboard'); ?>"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
     <!-- Bulk Upload user section -->
	 <!-- Bulk Upload user section ends-->

    <section class="content">
        <div class="col-xs-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border" style="background-color: rgb(60, 141, 188); color: #fff;">
                    <h3 class="box-title">Edit <?= $pageLabel ?> Trunk</h3>
                </div>

                <div class="col-xs-12" style="margin-top: 15px;">
                <div class='table-responsive'>
                    <table id='detailsTable' class='table table-bordered table-striped'>
                        <tr><th>Name</th><th>Tech</th><th>Caller Id</th><th>Status</th></tr>
                        <tr>
                            <td><?= $trunk['trunk_name'] ?></td>
                            <td><?= $trunk['tech'] ?></td>
                            <td><?= $trunk['outbound_cid'] ?></td>
                            <td><?= $thisStatus ?></td>
                        </tr>
                    </table>
                </div>
                </div>

                <form method="POST" name="trunks" class="form-horizontal" id="trunkForm" autocomplete="off">

                <div class="box-body">
                    <input type="hidden" name="trunkid" value="<?= $trunk['trunk_id'] ?>" />
                    <input type="hidden" name="tech" value="<?= strtoupper($trunkType) ?>" />

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Trunk Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="name" class="form-control" value="<?= $trunk['trunk_name'] ?>" />
                        </div>
                    </div>

                    <?php
                    $hideCid=$trunk['hide_cid'];
                    $hideCidChecked="";
                    $outboundDisabled="";
                    if($hideCid) {
                        $hideCidChecked="checked";
                        $outboundDisabled="dnone";
                    }
                    ?>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Hide CallerID</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="hcid" id="hcid" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" <?= $hideCidChecked ?> />
                        </div>
                    </div>

                    <div class="form-group <?= $outboundDisabled ?>" id="outcidBox">
                        <label  class="col-sm-2 control-label">Outbound CID</label>
                        <div class="col-sm-8">
                            <input type="text" name="outcid" value="<?= $trunk['outbound_cid'] ?>" id="outcid" class="form-control" />
                        </div>
                    </div>

                    <div class='form-group'>
                        <?php
                        $keepCid=$trunk['cid_options'];
                        $cidOptions=array(
                            "off"=>"Allow Any CID", "on"=>"Block Foreign CIDs",
                            "cnum"=>"Remove CNAM", "all"=>"Force Trunk CID"
                        );
                        ?>

                        <label class='col-sm-2 control-label'>CID Options</label>
                        <div class='col-sm-8'>
                            <select name='keepcid' class='form-control'>
                                <?php
                                foreach($cidOptions as $k=>$v) {
                                    if($keepCid==$k) echo "<option value='$k' selected='selected'>$v</option>";
                                    else echo "<option value='$k'>$v</option>";
                                }
                                ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Maximum Channels</label>
                        <div class="col-sm-8">
                            <input type="number" name="maxchans" value="<?= $trunk['maximum_channels'] ?>" class="form-control" />
                        </div>
                    </div>

                    <?php
                    $dialDetails=($trunk['dial_options_button']=="system") ? 0 : 1;
                    $dialDetailsValue=$trunk['dial_option_value'];
                    $dialDisabled="disabled";
                    $dialChecked="";
                    if($dialDetails) {
                        $dialDisabled="";
                        $dialChecked="checked";
                    }
                    ?>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Dial Options</label>
                        <div class="col-sm-8">
                            <input type="text" name="dialopts" id="dialopts" class="form-control" placeholder="Tt" value="<?= $dialDetailsValue ?>" <?= $dialDisabled ?> />
                            <input type="checkbox" name="dialoutopts_cb" id="dialoutopts_cb" class="form-control" data-toggle="toggle" data-on="Override", data-off="System" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" <?= $dialChecked ?> />
                        </div>
                    </div>

                    <?php
                    $continue="";
                    if(@$trunk['continue_if_busy']=="on") $continue="checked";
                    ?>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Continue If Busy</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="continue" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" <?= $continue ?> />
                        </div>
                    </div>

                    <?php
                    $disabled="";
                    if($trunk['disable_trunk']=="on") $disabled="checked";
                    ?>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Disable Trunk</label>
                        <div class="col-sm-8">
                            <input type="checkbox" name="disabletrunk" class="form-control" data-toggle="toggle" data-on="Yes", data-off="No" data-onstyle="success" data-offstyle="default" data-size="small" data-width="100" <?= $disabled ?> />
                        </div>
                    </div>

                    <div class="form-group">
                        <?php
                        $prepend=@explode(",", $trunk['prepend_digits']);
                        $prefix=@explode(",", $trunk['match_prefix']);
                        $pass=@explode(",", $trunk['match_pattern']);
                        $matchCid=@explode(",", @$trunk['match_cid']);

                        $maxCount=0;
                        if(count($prepend)>$maxCount) $maxCount=count($prepend);
                        if(count($prefix)>$maxCount) $maxCount=count($prefix);
                        if(count($pass)>$maxCount) $maxCount=count($pass);
                        if(count($matchCid)>$maxCount) $maxCount=count($matchCid);
                        ?>
                        <label  class="col-sm-2 control-label">Dial Pattern</label>
                        <div class="col-sm-8" id="dialPattern">
                            <?php if(!$maxCount) { ?>
                            <div class="dialBox" id="dialBox_0">
                                <input type="text" name="prepend[]" id="prepend_0" placeholder="prepend">
                                <input type="text" name="prefix[]" id="prefix_0" placeholder="prefix">
                                <input type="text" name="pattern[]" id="pattern_0" placeholder="match pattern">
                                <input type="text" name="cid[]" id="cid_0" placeholder="CallerID">
                                &nbsp;
                                <button type="button" onclick="addDialBox()"><i class="fa fa-plus"></i></button>
                                <button type="button" onclick="remDialBox(0)"><i class="fa fa-trash"></i></button>
                            </div>
                            <?php } else { for($i=0; $i<$maxCount; $i++) { ?>
                            <div class="dialBox" id="dialBox_<?= $i ?>">
                                <input type="text" name="prepend[]" id="prepend_<?= $i ?>" placeholder="prepend" value="<?= @trim($prepend[$i]) ?>">
                                <input type="text" name="prefix[]" id="prefix_<?= $i ?>" placeholder="prefix" value="<?= @trim($prefix[$i]) ?>">
                                <input type="text" name="pattern[]" id="pattern_<?= $i ?>" placeholder="match pattern" value="<?= @trim($pass[$i]) ?>">
                                <input type="text" name="cid[]" id="cid_<?= $i ?>" placeholder="CallerID" value="<?= @trim($matchCid[$i]) ?>">
                                &nbsp;
                                <button type="button" onclick="addDialBox()"><i class="fa fa-plus"></i></button>
                                <button type="button" onclick="remDialBox(<?= $i ?>)"><i class="fa fa-trash"></i></button>
                            </div>
                            <?php }} ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Outbound Dial Prefix</label>
                        <div class="col-sm-8">
                            <input type="text" name="dialoutprefix" value="<?= @$trunk['outbound_dial_prefix'] ?>" class="form-control" />
                        </div>
                    </div>

                </div>

                <div class="box-body">
                    <h3>Outgoing <?= $pageLabel ?> Setting</h3>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Trunk Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="channelid" value="<?= @$trunk['channel_id'] ?>" class="form-control" />
                        </div>
                    </div>

                    <!--
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Peer Details</label>
                        <div class="col-sm-8">

<textarea name="peerdetails" class="form-control" style="height: 200px;">
host=***provider ip address***
username=***userid***
secret=***password***
type=peer</textarea>

                        </div>
                    </div>
                    -->

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Peer Details</label>
                        <div class="col-sm-8">
                            <input type="text" name="peer_details" class="form-control" placeholder="host=type=nat" value="<?= @$trunk['peer_details'] ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Peer Values</label>
                        <div class="col-sm-8">
                            <input type="text" name="peer_values" class="form-control" placeholder="192.168.59=peer=yes" value="<?= @$trunk['peer_values'] ?>" />
                        </div>
                    </div>
                </div>

                <div class="box-body">
                    <h3>Incoming <?= $pageLabel ?> Setting</h3>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">User Context</label>
                        <div class="col-sm-8">
                            <input type="text" name="usercontext" value="<?= $trunk['user_context'] ?>" class="form-control" />
                        </div>
                    </div>

                    <!--
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">User Details</label>
                        <div class="col-sm-8">

<textarea name="userconfig" class="form-control" style="height: 150px;">
secret=***password***
type=user
context=from-trunk</textarea>

                        </div>
                    </div>-->

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">User Details</label>
                        <div class="col-sm-8">
                            <input type="text" name="user_details" class="form-control" placeholder="host=type=nat" value="<?= @$trunk['user_details'] ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">User Values</label>
                        <div class="col-sm-8">
                            <input type="text" name="user_values" class="form-control" placeholder="192.168.59=user=no" value="<?= @$trunk['user_values'] ?>" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Register String</label>
                        <div class="col-sm-8">
                            <input type="text" name="register" class="form-control" value="<?= @$trunk['register_string'] ?>" />
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="submit" name="submit" class="btn btn-primary" id="submitButton" value="Update <?= $pageLabel ?> Trunk">
                        </div>
                    </div>
                    
                </div>
                </form>
                <!-- /.box-footer -->
            </div>
        </div>
        <!----- Horizontal form end ---->
    </section>
</div>

<input type="hidden" id="counter" value="<?= ($maxCount+1) ?>">

<script type="text/javascript">
$('#hcid').change(function() {
    var checkValue=0;
    if(this.checked) checkValue=1;

    if(checkValue==1) {
        $("#outcidBox").addClass("dnone");
        $("#outcid").val("");
    } else {
        $("#outcidBox").removeClass("dnone");
    }
});

$('#dialoutopts_cb').change(function() {
    var checkValue=0;
    if(this.checked) checkValue=1;

    if(checkValue==1) {
        $("#dialopts").removeAttr("disabled");
    } else {
        $("#dialopts").attr("disabled", "disabled");
        $("#dialopts").val("");
    }
});

function addDialBox() {
    var counter=parseInt($("#counter").val());

    // increase thr counter
    var newCount=eval(counter+1);
    $("#counter").val(newCount);

    $("#dialPattern").append("\
        <div class='dialBox' id='dialBox_"+counter+"'>\
            <input type='text' name='prepend[]' id='prepend_"+counter+"' placeholder='prepend'>\
            <input type='text' name='prefix[]' id='prefix_"+counter+"' placeholder='prefix'>\
            <input type='text' name='pattern[]' id='pattern_"+counter+"' placeholder='match pattern'>\
            <input type='text' name='cid[]' id='cid_"+counter+"' placeholder='CallerID'>\
            &nbsp;\
            <button type='button' onclick='addDialBox()'><i class='fa fa-plus'></i></button>\
            <button type='button' onclick=remDialBox("+counter+")><i class='fa fa-trash'></i></button>\
        </div>\
    ");
}

function remDialBox(counter) {
    // check if there is a single dialBox
    var dialBoxLength=parseInt($("#dialPattern .dialBox").length);
    if(dialBoxLength=="1") {
        $("#prepend_"+counter).val("");
        $("#prefix_"+counter).val("");
        $("#pattern_"+counter).val("");
        $("#cid_"+counter).val("");
        return;
    }

    $("#dialBox_"+counter).remove();
}

$(document).ready(function() {
    /* SUBMIT TEMPLATE */
    $("#trunkForm").on("submit",function(e) {
        e.preventDefault();

        $("#submitButton").attr("disabled", "disabled");
        $("#submitButton").val("Updating please wait...");
        
        var form=$(this);
        $.ajax({
            url:"/admin/trunks-update",
            type:"POST",
            data:form.serialize(),
            success:function(d) {
                console.log(d);

                if(d.status!=200) {
                    alert(d.message);

                    $("#submitButton").removeAttr("disabled");
                    $("#submitButton").val("Update <?= $pageLabel ?> Trunk");
                }
                else {
                    $("#submitButton").val("Redirecting please wait...");

                    alert(d.message);
                    window.location.href="/admin/trunks";
                }
            }
        });
    });
    /* /SUBMIT TEMPLATE */
});
</script>