<?php
$dtmfCaller="9510425";
$dtmf="8";
$templevel = 1;
$grouparr[$templevel]= array();

foreach ($unitObj as $key => $val) {
    $grouparr[$val['floor']][] = $val;
}
$totalOwner = $totalOwner[0]['totalmember'];
$loffset;
$stopback;
$i = $offset;
$r = 0;
$countiritation = 0;
foreach ($grouparr as $key => $val3) {
    $numrows = count($val3);
    $rearray = array_chunk($val3, 9);
    $rearray8 = array_chunk($val3, 8);
     $countiritation++;
		if(($r == 2) || ($r==3) || ($r==4) || ($r==5)){ 
         foreach ($rearray8 as $key => $val4) {
        echo "<div class='tilesrow rowid_$r' id='d_$i' style='display:none;clear:both;'>";
		$j=0;
        foreach ($val4 as $key => $val5) {
            $i++;
			$j++;
             $floor = $val5['floor'];
			 if($j==9){
            ?>
			<div style= "display:none" class="editable-style html-element box unitNumTile paged-element page-names" id="<?php echo 'tilenum_' . $i .'_' . $floor; ?>" data-silex-type="html">
                <div class="silex-element-content" style="text-align: center; padding-top: 22px"> 
                    <a class="show-modal" data-toggle="modal" data-target="#modal-4" style="color: #000000; font-size: 25px; text-decoration: underline; " href="<?php echo 'callto://' . $val5['mobile']; ?>" data-rel="external" ><?php echo $val5['unit_number'] ?></a>
					<?php echo $j; ?>
                </div>
            </div>
			 <?php }else{ ?>
            <div class="editable-style html-element box unitNumTile paged-element page-names" id="<?php echo 'tilenum_' . $i .'_' . $floor; ?>" data-silex-type="html">
                <div class="silex-element-content" style="text-align: center; padding-top: 22px"> 
                    <a class="show-modal" data-toggle="modal" data-target="#modal-4" style="color: #000000; font-size: 25px; text-decoration: underline; " href="<?php echo 'callto://' . $val5['mobile']; ?>" data-rel="external" ><?php echo $val5['unit_number'] ?></a>

                </div>
            </div>
            <?php
        } }
        echo"</div>";
        $r++;
    }
     } else if(($r==0) || ($r==1)){ 
         foreach ($rearray as $key => $val4) {
        echo "<div class='tilesrow rowid_$r' id='d_$i' style='display:none;clear:both;'>";
		$j=0;
        foreach ($val4 as $key => $val5) {
            $i++;
			$j++;
             $floor = $val5['floor'];
			 if($j==9 && (($r == 2) || ($r==3) || ($r==4) || ($r==5))){
            ?>
			<div style="display:none" class="editable-style html-element box unitNumTile paged-element page-names" id="<?php echo 'tilenum_' . $i .'_' . $floor; ?>" data-silex-type="html">
                <div class="silex-element-content" style="text-align: center; padding-top: 22px"> 
                    <a class="show-modal" data-toggle="modal" data-target="#modal-4" style="color: #000000; font-size: 25px; text-decoration: underline; " href="<?php echo 'callto://' . $val5['mobile']; ?>" data-rel="external" ><?php echo $val5['unit_number'] ?></a>

                </div>
            </div>
			 <?php }else{ ?>
            <div class="editable-style html-element box unitNumTile paged-element page-names" id="<?php echo 'tilenum_' . $i .'_' . $floor; ?>" data-silex-type="html">
                <div class="silex-element-content" style="text-align: center; padding-top: 22px"> 
                    <a class="show-modal" data-toggle="modal" data-target="#modal-4" style="color: #000000; font-size: 25px; text-decoration: underline; " href="<?php echo 'callto://' . $val5['mobile']; ?>" data-rel="external" ><?php echo $val5['unit_number'] ?></a>

                </div>
            </div>
            <?php
        }}
        echo"</div>";
        $r++;
    }
     }
}
?>

<div style="position: absolute; bottom: 175px; right: 150px;" >
    <div class="morenames silex-id-1475107238924-1" style="position:realtive">
        <img class="silex-element-content" src="<?php echo BASE_URL; ?>/assets/morenumber.png">
         <?php if ($offset != 0) { ?>
        <a class="backwardArrow" href="javascript:void(0);" onClick="lessunits(<?php echo "'".$loffset."'"; ?>)" >
            <img class="silex-element-content" src="<?php echo BASE_URL; ?>/assets/backward.png"></a>
            <?php } ?>

<?php if ($stopback < $totalOwner) { ?>
            <a class="forwardArrow" href="javascript:void(0);" onClick="moreunits(<?php echo "'".$loffset."'"; ?>)" >
                <img class="silex-element-content" src="<?php echo BASE_URL; ?>/assets/forward.png"></a>
<?php } ?>
    </div>
	<!-- 28thmarch 
 
      <a href="<?php //echo $this->url('home'); ?>" id="unitHome"> 
            <img class="silex-element-content" src="<?php //echo BASE_URL; ?>/assets/home.png">
        </a>
    -->
</div>
<script type="text/javascript">
	// Dial Windopw
    $(".show-modal").click(function (event) {
            event.preventDefault();
            var extension = $(this).attr("href").split('://');
            var ext = extension[1];
            $('.hangup').attr('href', 'callto://hangup/8675310');
            
            $.ajax({
                method: "POST",
                url: 'index/pushnotification',
                data: {
                    'extension': ext
                }
            })
			$("#modal-4").modal({
                backdrop: 'static',
                keyboard: false,
                show: false
            });
			// callnew(5000,$(this).attr("href"));
			callnew(5000,ext);
    });
	
	//call delay
	var calltmreset;
        function callnew(starttime,url) {       
            
            clearTimeout(calltmreset);
            calltmreset = setTimeout(function () {
            var endtime_min = "<?php echo $endtime; ?>";
            var endtime = endtime_min * 1000;
            // var url = $(this).attr("href");
            // dialwindow = window.open(url, '_blank');
			callApi(url, "call");
			$("#modal-4").modal('hide');  
            $("#modal-1").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });
            hangupnew(endtime);
         
	}, starttime);
             
   }

      // cal hangup
       
        function hangupnew(endtym) {       
            var endtime;
            endtime = endtym;
            clearTimeout(calltmreset);
            calltmreset = setTimeout(function () {
                // dialwindow.close();            
                $("#modal-1").modal('hide');  
                 $("#modal-3").modal({
					backdrop: 'static',
					keyboard: false,
					show: true
				});
                hangingUpModalNew(3000);
            }, endtime);
             
        }
        
        // function for closing hanging up modal    
        function hangingUpModalNew(hangtym) {
            clearTimeout(calltmreset);
            var url = $('.hangup').attr('href'); 
				callApi(0, "end");
            // hangupwindow = window.open(url, '_blank');
            setTimeout(function () {
                // hangupwindow.close();
                $('#modal-3').modal('hide');
            }, hangtym);           
        }
        
        // Call endcall
        $(".modal_first a").click(function () {          
            clearTimeout(calltmreset);
            var endtime = 500;
            hangupnew(endtime);
        });
		
		function callApi(ext, type) {
        var url="";
        var qs="";

        if(type=="call") {
            url="<?= ASTERIK_URL ?>api/make_call.php";
            qs="phonenumber="+getUrlParam('callingextension','8675310')+"&caller="+ext;
        } else if(type=="end") {
            url="<?= ASTERIK_URL ?>api/hangup.php";
            qs="extension="+getUrlParam('callingextension','8675310');
        }
		else if(type=="dtmf") {
            url="<?= ASTERIK_URL ?>api/make_call_conf.php";
            qs="extension="+getUrlParam('callingextension','8675310')+"&caller=<?= $dtmfCaller ?>&dtmf=<?= $dtmf ?>";
        }		else return false;

        $.ajax({
            type: "GET",
            url: url,
            data: qs,
            success: function(data) {
                return data;
            }
        });
    }
	
	function getUrlParam(parameter, defaultvalue){
    var urlparameter = defaultvalue;
		if(window.location.href.indexOf(parameter) > -1){
			urlparameter = getUrlVars()[parameter];
			}
		return urlparameter;
	}
	function getUrlVars() {
		var vars = {};
		var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
			vars[key] = value;
		});
		return vars;
	}
</script>